h1 {
    text-align: center;
}

.iconi {
    font-weight: bold;
    font-size: 40;
    background: url('https://api.iconify.design/game-icons/viking-head.svg') no-repeat center center / contain;

}

.tBold {
    text-decoration: none; /* Sin subrayado */
    color: black; /* Color negro */
}


