<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)" >
    <c-modal-header>
      <h5 cModalTitle ></h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div class="greenTable">
            <table id="tablaProductosPicking" style="text-align: center" >
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Tipo</th>
                        <th>Cantidad</th>
                        <th>Peso Total</th>
                    </tr>         
                </thead>
                <tbody>
                    <tr *ngFor="let lista of listaPesoSucursal ">
                        <td>{{lista.Codigo}}</td>  
                        <td>{{lista.Tipo}}</td>
                        <td>{{lista.Cantidad}}</td>
                        <td>{{lista.Peso_total}}</td>
                    </tr> 
                </tbody>
            </table>
        </div>  
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveDemo()" cButton color="secondary">
        Cerrar
      </button>
    </c-modal-footer>
  </c-modal>

<c-row>
    <c-col [xs]>
         Seleccionar Estructura  :
        <select id="Estructura" cSelect [(ngModel)]="estructuraSeleccion">
            <option value="">Estructura</option>
            <option *ngFor="let mes of listaEstructura" value={{mes.Nombre}}  >
                {{mes.Nombre}}     
            </option>
        </select>
    </c-col>
    <c-col [xs]>
        Seleccionar Sucursal  :
        <select id="Sucursal" cSelect [(ngModel)]="sucursalSeleccion">
            <option value="">Sucursales</option>
            <option *ngFor="let sucursal of sucursalesRSV" value={{sucursal.Id}}  >
                {{sucursal.Nombre}}     
            </option>
        </select>
    
    </c-col>
    <c-col [xs]>
        <p></p>
        <button class="btn btn-secondary">Buscar </button>
        <!-- <button  cButton  color="secondary" size="lg" >Buscar</button> -->
    </c-col>
    <c-col [xs]>

    </c-col>
</c-row>


<!-- <div style="text-align: center;"> -->


    <div class="contenedor">
        <p></p>
    
    <!-- <img src="../../../../assets/images/rsvModel.png" alt=""> -->

    <canvas #myCanvas width="400" height="400" style="border:1px solid #000;"></canvas>

    <hr>
    
           
    <!-- <button class="boton">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>

    </button> -->
</div>
