<h2>Lista de Funciones</h2>
<p></p>

<div class="greenTable">
    <table id="tablaProductosPicking" >
    <thead>
      <tr>
        <th>Esquema</th>
        <th>Nombre de la Función</th>
        <th>Tipo de Función</th>
        <th>Descripción</th>
        <th>Parámetros</th>
        <th>Comentarios de Parámetros</th>
        <th>Palabras Clave</th>
        <th>Tablas Impactadas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funcion of listaFunciones">
        <td>{{funcion.Id}}</td>
        <td>{{funcion.Nombre_funcion}}</td>
        <td>{{funcion.Tipo_funcion}}</td>
        <td>{{funcion.Descripcion}}</td>
        <td>
          <table>
            <tr *ngFor="let parametro of funcion.Parametros">
              <td>{{parametro}}</td>
            </tr>
         </table>
        </td>
        <td>
          <table>
            <tr *ngFor="let comentario of funcion.Comentarios_parametros">
              <td>{{comentario}}</td>
            </tr>
         </table>
        </td>
        <td>
          <table>
            <tr *ngFor="let clave of funcion.Palabras_clave">
              <td>{{clave}}</td>
            </tr>
         </table>
        </td>
        <td>
          <table>
            <tr *ngFor="let tablas of funcion.Tablas_impactadas">
              <td>{{tablas}}</td>
            </tr>
         </table>
        </td>
      </tr>
    </tbody>
    </table>
</div>