<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- div de alertas -->
<div id="alertaContainer"></div>
<!-- fin div de alertas -->

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)" size="xl" backdrop="static">
    <!-- <c-modal-header>
      <h5 cModalTitle>Agregar Descuentos</h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header> -->
    <c-modal-body>





      <c-row>
        <c-col>
          <h2> Descuentos</h2>
        </c-col>
        <c-col>
          
        </c-col>
        <c-col>
          
        </c-col>
        <c-col>
          
        </c-col>
        <c-col>
          
        </c-col>
      </c-row>
      
      <div class="divider"></div>
      <!-- <div > -->
      
          <p></p>
      
          <form cForm [formGroup]="formDescuentos" (ngSubmit)="guardar()" class="form-minimalista">
            <c-row>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Fecha_evento">Fecha evento</label>
                  <input type="date" id="Fecha_evento" class="form-control" formControlName="Fecha_evento">
                </div>
              </c-col>
              <c-col [xs]="4">
                <!-- <div class="form-group">
                  <label for="Pantente">Patente</label>
                  <select id="Pantente" class="form-control" formControlName="Pantente">
                    <input type="text" id="Patente" class="form-control" formControlName="Patente">
                    <option value="" disabled>Seleccione</option>
                    <option *ngFor="let razon of seleccionPantente" [value]="razon.Id">{{razon.Patente}}</option>
                  </select>
                </div> -->
                <div class="form-group">
                  <label for="Patente">Patente</label>
                  <!-- Input para buscar -->
                  <input
                    type="text"
                    id="Patente"
                    class="form-control"
                    [(ngModel)]="patenteSeleccionada"
                    (change)="seleccionarPatente($event)"
                    list="patentesFiltradas"
                    placeholder="Buscar patente..."
                    formControlName="Patente"
                  />
                
                  <!-- Datalist con opciones filtradas -->
                  <datalist id="patentesFiltradas">
                    <option *ngFor="let razon of seleccionPantente" [value]="razon.Patente"></option>
                  </datalist>
                </div>

              </c-col>
              <c-col [xs]="4">
                <!-- <div class="form-group">
                  <label for="Razon_social">Razón Social</label>
                  <select id="Razon_social" class="form-control" formControlName="Razon_social">
                    <option value="" disabled>Seleccione</option>
                    <option *ngFor="let razon of seleccionRazonSocial" [value]="razon.Id">{{razon.Nombre_razon}}</option>
                  </select>
                </div> -->

                <div class="form-group">
                  <label for="Razon_social">Razón Social</label>
                  <!-- Input para buscar -->
                  <input
                    type="text"
                    id="Razon_social"
                    class="form-control"
                    [(ngModel)]="razonSocialSeleccionada"
                    (change)="seleccionarRazonSocial($event)"
                    list="razonSocialFiltrada"
                    placeholder="Buscar razón social..."
                  />
                
                  <!-- Datalist con opciones filtradas -->
                  <datalist id="razonSocialFiltrada">
                    <option *ngFor="let razon of seleccionRazonSocial" [value]="razon.Nombre_razon"></option>
                  </datalist>
                </div>
              </c-col>
            </c-row>
          
            <c-row>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Ruta">Ruta</label>
                  <input type="text" id="Ruta" class="form-control" formControlName="Ruta">
                </div>
              </c-col>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Etiqueta">Etiqueta</label>
                  <select id="Etiqueta" class="form-control" formControlName="Etiqueta">
                    <option value="" disabled>Seleccione</option>
                    <option *ngFor="let etiqueta of seleccionEtiqueta" [value]="etiqueta.Id">{{etiqueta.Etiqueta}}</option>
                  </select>
                </div>
              </c-col>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Descripcion">Descripción</label>
                  <input type="text" id="Descripcion" class="form-control" formControlName="Descripcion">
                </div>
              </c-col>
            </c-row>
          
            <c-row>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Adjunto">Adjunto</label>
                  <input type="file" id="Adjunto" class="form-control" accept=".pdf" (change)="onFileSelected($event)">
                </div>
              </c-col>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Id_operacion">Operación</label>
                  <select id="Id_operacion" class="form-control" (change)="seleccionaCentro($event)" formControlName="Id_operacion">
                    <option value="" disabled>Seleccione</option>
                    <option *ngFor="let op of seleccionOperaciones" [value]="op.Id_op">{{op.Operacion}}</option>
                  </select>
                </div>
              </c-col>
              <c-col [xs]="4">
                <div class="form-group">
                  <label for="Id_cop">Centro Operación</label>
                  <select id="Id_cop" class="form-control" formControlName="Id_cop">
                    <option value="" disabled>Seleccione</option>
                    <option *ngFor="let centro of seleccionCentro" [value]="centro.Id_cop">{{centro.Nombre}}</option>
                  </select>
                </div>
              </c-col>
            </c-row>
          </form>
      
      <p></p>
      
      <c-row>
        <c-col>
          <div class="cuotas-section">
            <h2> Detalle de Cuotas</h2>
            <form cForm [formGroup]="formDescuentos" >
            <c-row>
                <p></p>
                <c-col>
                    Monto
                    <input class="form-control" formControlName="Monto" type="number" name="" id="">
                </c-col>
                <c-col>
                    Cuotas
                    <select name="" id=""  class="form-control" formControlName="Cant_cuotas" (change)="agregarCuotas()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </c-col>
                <c-col></c-col>
            </c-row>
            <p></p>
            <div formArrayName="Cuotas" >
      
            
            <c-row *ngFor="let carga of Cuotas.controls; let i = index">
                <!-- <p></p> -->
                <c-row [formGroupName]="i">
                
                
                <c-col>Cuota {{i+1}}
                    
                </c-col>
                <c-col>
                    <input class="form-control" formControlName="Fecha_comp" type="date" name="" id="">
                </c-col>
                <c-col>
                    <input class="form-control" type="text" [disabled]="true" formControlName="Valor_cuota_formato" >
                </c-col>
            </c-row>
                <p></p>
            </c-row>
        </div>
        </form>
      </div>
        </c-col>
      </c-row>
      
      
      <p></p>












    </c-modal-body>
    <c-modal-footer>
      <button  cButton  color="success"  (click)="guardar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.05em" height="1.2em" viewBox="0 0 448 512">
          <path fill="#fff" d="m433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941M224 416c-35.346 0-64-28.654-64-64s28.654-64 64-64s64 28.654 64 64s-28.654 64-64 64m96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A12 12 0 0 1 320 111.48" />
        </svg>
        &nbsp;
        Guardar</button>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
            Cerrar
          </button>
      <!-- <button (click)="guardar()" cButton color="secondary">
        Guardar
      </button> -->
    </c-modal-footer>
  
</c-modal>


<h2>Descuentos</h2>

<div class="divider"></div>

<div class="container mt-4">
  <c-row>
    <c-col>
      
    </c-col>
    <c-col>
      
    </c-col>
    
  </c-row>
  

  <!-- Filtros de fecha -->
  <div class="row my-3">
      <div class="col-md-3">
          <label for="fechaInicio" class="form-label" style="font-weight: bold">Fecha Inicio:</label>
          <input type="date" id="fechaInicio" class="form-control" [(ngModel)]="fecha_ini" >
      </div>
      <div class="col-md-3">
          <label for="fechaFin" class="form-label" style="font-weight: bold">Fecha Fin:</label>
          <input  type="date" id="fechaFin" class="form-control" [(ngModel)]="fecha_fin">
          
      </div>


      <div class="col-md-3 d-flex align-items-end">
       
          <button class="btn btn-primary w-100" (click)="obtenerListaDescuentos(fecha_ini,fecha_fin)">
            <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 512 512"><path fill="#fff" d="M416 208c0 45.9-14.9 88.3-40 122.7l126.6 126.7c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208M208 352a144 144 0 1 0 0-288a144 144 0 1 0 0 288" stroke-width="13" stroke="#fff"/></svg>
            
            Buscar</button>
      </div>


      <div class="col-md-3 d-flex align-items-end" *ngIf="LoginId === '12'|| LoginId === '5'">
        <button class="btn btn-agregar w-100" color="primary" (click)="toggleLiveDemo()">
          <svg xmlns="http://www.w3.org/2000/svg" width="12.25px" height="14px" viewBox="0 0 448 512"><path fill="#fff" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32" stroke-width="13" stroke="#fff"/></svg>
  
          Agregar</button>
      </div>

  </div>

  <label style="font-weight: bold">Descuentos Pendiente: &nbsp; </label>
  

  <c-row>
    <c-col>
      <mat-slide-toggle   class="green-slide-toggle" [(ngModel)]="pendiente" (change)="cambiarPendiente()">
        <!-- {{ RazonSocial.estado ? 'Activado' : 'Desactivado' }}  -->
     </mat-slide-toggle> 
    
    </c-col>
    <c-col>
      
    </c-col>
    <c-col>
      
    </c-col>
    <c-col>
      <button class="btn btn-primary w-100" type="button" (click)="DescargarNS()" >
        <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 448 512">
          <style>svg{fill:#ffffff}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
        </svg>
        &nbsp;
        Descargar 
      </button>
    </c-col>
  </c-row>


<!-- Tabla Principal -->
<div class="table-container">
  <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>Periodo (mes)</th>
              <!-- <th>Ingresado por</th> -->
              <th>Operación</th>
              <th>Centro Operación</th>
              <th class="text-center">PPU</th>
              <th class="text-center">Razón Social</th>
              <th class="text-center">Cuota</th>
              <th class="text-center">Valor</th>
              <th class="text-center">Total</th>
              <th class="text-center">Cobrada</th>
              <th class="text-center">OC Cobro</th>
              <th class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody id="tablaDatos">
        <ng-container *ngFor="let dcto of listaDescuentos">
          <tr *ngIf="dcto.Aplica">
            <td>{{dcto.Fecha_cobro}}</td>
            <td>{{dcto.Operacion}}</td>
            <td>{{dcto.Centro_operacion}}</td>
            <td>{{dcto.Ppu}}</td>
            <td>{{dcto.Razon_social}}</td>
            <td>{{dcto.Cuota}}</td>
            <td>${{dcto.Valor_cuenta | currency:'CLP':'':'1.0-0'}}</td>
            <td>${{dcto.Total | currency:'CLP':'':'1.0-0'}}</td>
            <td class="text-center">
              <svg *ngIf="dcto.Cobrada" xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512">
                <path fill="green" d="M256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m113-303L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" stroke-width="13" stroke="green" />
              </svg>
              <svg *ngIf="!dcto.Cobrada" xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 512 512">
                <path fill="red" d="M256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m-81-337c9.4-9.4 24.6-9.4 33.9 0l47 47l47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47l47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47l-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47l-47-47c-9.4-9.4-9.4-24.6 0-33.9" stroke-width="13" stroke="red" />
              </svg>
            </td>
            <td>{{dcto.Oc_cobro}}</td>
            <td class="text-center">
              <svg (click)="mostrarActualizacion(dcto.Id,dcto.Cobrada,dcto.Oc_cobro, dcto, dcto.Id_desc_origen, dcto.Aplica)" xmlns="http://www.w3.org/2000/svg" width="12.25px" height="14px" viewBox="0 0 448 512">
                <path fill="green" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128m89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4" stroke-width="13" stroke="green" />
              </svg>
              <i class="fa-solid fa-comment comentario-icono" *ngIf="dcto.Descripcion && dcto.Descripcion.trim()"></i>
            </td>
          </tr>
        </ng-container>


          <!-- Aquí se insertan las filas dinámicamente -->
      </tbody>
  </table>
</div>

</div>


<c-modal id="liveDemoModal" [visible]="visibleActualizacion" (visibleChange)="handleActualizacion($event)" size="lg" >
  <!-- <c-modal-header>
    <h5 cModalTitle>Actualizar detalle</h5>
    <button  cButton  color="success" style="color: white;"  >
      <svg xmlns="http://www.w3.org/2000/svg" width="1.05em" height="1.2em" viewBox="0 0 448 512">
        <path fill="#fff" d="m433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941M224 416c-35.346 0-64-28.654-64-64s28.654-64 64-64s64 28.654 64 64s-28.654 64-64 64m96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A12 12 0 0 1 320 111.48" />
      </svg>
      &nbsp;
      Guardar</button>
  </c-modal-header> -->
  <c-modal-body style="background-color: #f4f4f4; padding: 20px; border-radius: 10px; font-family: Arial, sans-serif;">
    <!-- Título y Botón Guardar -->
    <c-row style="margin-bottom: 20px;">
      <c-col>
        <h2 style="font-size: 1.5rem; font-weight: bold; color: #333;">Actualizar</h2>
      </c-col>
    </c-row>
  
    <!-- Divisor -->
    <div class="divider" style="border-bottom: 1px solid #ddd; margin: 20px 0;"></div>
  
    <!-- Sección de Estado y Botones -->
    <div style="background-color: #fff; padding: 15px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
      <c-row>
        <c-col [xs]>
          <div>
            <label style="font-weight: bold; color: #555;">OC Cobro</label>
            <input type="text" placeholder="Nombre Contacto" class="form-control" [(ngModel)]="oc_cobro" style="margin-top: 5px; "[disabled]="LoginId !== '12' && LoginId !== '5'" >
          </div>
        </c-col>
        <c-col [xs]>
          <div>
            <label style="font-weight: bold; color: #555;">Cobrado</label><br>
            <svg *ngIf="cobrado" (click)="cambiarEstadoCobro()" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 512 512">
              <path fill="green" d="M256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m113-303L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" stroke-width="13" stroke="green" />
            </svg>
            <svg *ngIf="!cobrado" (click)="cambiarEstadoCobro()" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 512 512">
              <path fill="red" d="M256 512a256 256 0 1 0 0-512a256 256 0 1 0 0 512m-81-337c9.4-9.4 24.6-9.4 33.9 0l47 47l47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47l47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47l-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47l-47-47c-9.4-9.4-9.4-24.6 0-33.9" stroke-width="13" stroke="red" />
            </svg>
          </div>
        </c-col>
      </c-row>
    </div>
    <div class="divider" style="border-bottom: 1px solid #ddd; margin: 20px 0;"></div>
    <div *ngFor="let dcto of DescuentoSeleccionado" style="background-color: #fff; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <c-row>
        <c-col>
          <label style="font-weight: bold; color: #555;">Estado:</label>
          <label class="toggle-switch" >
            <input type="checkbox" [(ngModel)]="dcto.Aplica" (click)="actualizar($event, dcto)" [disabled]="LoginId !== '12' && LoginId !== '5'"/>
            <span class="slider"></span>
          </label>
          
        </c-col>
      </c-row>
    </div>
    <!-- Lista de Descuentos -->
    <div class="divider" style="border-bottom: 1px solid #ddd; margin: 20px 0;"></div>
    <div *ngFor="let dcto of DescuentoSeleccionado" style="background-color: #fff; padding: 15px; border-radius: 8px; margin-bottom: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      
      
      <c-row>
        <c-col>
          <label style="font-weight: bold; color: #555;">Fecha Evento:</label>
          {{dcto.Fecha_evento}}
        </c-col>
        <c-col>
          <label style="font-weight: bold; color: #555;">Valor Cuota:</label>
          ${{dcto.Valor_cuenta | currency:'CLP':'':'1.0-0'}}
        </c-col>
      </c-row>
      <c-row>
        <c-col>
          <label style="font-weight: bold; color: #555;">Total:</label>
          ${{dcto.Total | currency:'CLP':'':'1.0-0'}}
        </c-col>
        <c-col>
          <label style="font-weight: bold; color: #555;">Ingresado Por:</label>
          {{dcto.Ingresado_por}}
        </c-col>
      </c-row>
      <c-row>
        <c-col>
          <label style="font-weight: bold; color: #555;">PPU:</label>
          {{dcto.Ppu}}
        </c-col>
        <c-col>
          <label style="font-weight: bold; color: #555; margin-bottom: 10px; display: block;">Archivo Adjunto:</label>
          <button (click)="descargarArchivoAdjunto(dcto.Adjunto)" *ngIf="dcto.Adjunto" cButton color="success" style="color: white;">
            Descargar
          </button>
        </c-col>
      </c-row>
    </div>
    <div class="divider" style="border-bottom: 1px solid #ddd; margin: 20px 0;"></div>
    <!-- Sección de Estado y Botones -->
    <div *ngFor="let dcto of DescuentoSeleccionado" style="background-color: #fff; padding: 15px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
      <c-row>
        <c-col [xs]>
          <div>
            <label style="font-weight: bold; color: #555;">Descripcion</label><br>
            <div>
              {{dcto.Descripcion}}
            </div>
          </div>
        </c-col>
      </c-row>
    </div>
  </c-modal-body>
  <c-modal-footer>
      
      <button *ngIf="LoginId === '12'|| LoginId === '5'" cButton color="success" style="color: white; font-size: 0.9rem; padding: 10px 15px;" (click)="actualizarDetalle()">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.05em" height="1.2em" viewBox="0 0 448 512">
          <path fill="#fff" d="m433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941M224 416c-35.346 0-64-28.654-64-64s28.654-64 64-64s64 28.654 64 64s-28.654 64-64 64m96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A12 12 0 0 1 320 111.48" />
        </svg>
        &nbsp; Guardar
      </button>

      <button (click)="toggleActualizacion()" cButton color="secondary" style="color: white; font-size: 0.9rem; padding: 10px 15px;">
          Cerrar
        </button>
    <!-- <button (click)="guardar()" cButton color="secondary">
      Guardar
    </button> -->
  </c-modal-footer>

</c-modal>



  
