.divider {
    flex-grow: 1;
    height: 2px;
    margin: 15px 0;
    background-color: #4CAF50;
    margin-left: 10px;
  }


  .cuotas-section {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.cuotas-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}


/* Estilos de la tabla */
.table-container {
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  font-size: 12px;
}

.table thead {
  background: #2ABA59;
  color: white;
  
  text-transform: uppercase;
  font-size: 13px;
}
.table thead th {
  color: white;
}

.table tbody tr:hover {
  background-color: #e8f7ed;
  transition: 0.3s;
  
  
}

table tbody td {
  white-space: nowrap; /* Evita el salto de línea en las celdas */
          overflow: hidden; /* Oculta el contenido que desborda */
          text-overflow: ellipsis; /* Añade "..." si el texto es demasiado largo */
}








/////////////////
/// 
/// 
/// 
//
/// 
/// 

/* Estilo general */
body {
  background-color: #f5f7fa;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: 700;
  // color: #2ABA59;
  // text-align: center;
  margin-bottom: 20px;
}

/* Estilos de la tabla */
.table-container {
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  font-size: 12px;
}

.table thead {
  background: #2ABA59;
  color: white;
  
  text-transform: uppercase;
  font-size: 13px;
}
.table thead th {
  color: white;
}

.table tbody tr:hover {
  background-color: #e8f7ed;
  transition: 0.3s;
  
  
}

/* Íconos de acciones */
.icon-action {
  cursor: pointer;
  font-size: 18px;
  color: #2ABA59;
  transition: transform 0.2s;
}

.icon-action:hover {
  transform: scale(1.2);
  color: #1e9647;
}

// /* Estilos del modal */
// .modal-content {
//   border-radius: 15px;
//   overflow: hidden;
// }

// .modal-header {
//   background: #2ABA59;
//   color: white;
//   border-bottom: none;
// }

// .modal-title {
//   font-weight: bold;
// }

// .modal-body {
//   padding: 20px;
// }

// .modal-footer {
//   border-top: none;
//   background-color: #f5f7fa;
// }

// /* Tabla del modal */
// .modal-body .table {
//   border-radius: 10px;
//   overflow: hidden;
// }

// .modal-body thead {
//   background-color: #2ABA59;
//   color: white;
// }

// .modal-body tbody tr:hover {
//   background-color: #e8f7ed;
//   transition: 0.3s;
// }

/* Botón Buscar */
.btn-primary {
  background-color: #2ABA59;
  border-color: #2ABA59;
}

.btn-primary:hover {
  background-color: #1e9647;
  border-color: #1e9647;
}


.btn-agregar {
  background-color: #007bff;
  border-color: #007bff;
  color:white
}

.btn-agregar:hover {
  background-color: #007bff;
  border-color: #007bff;
  color:white
}


//diseño Form Descuentos (Boton Agregar descuentos )

.form-minimalista {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.comentario-icono {
  color: #007bff; /* Color azul */
  font-size: 18px; /* Tamaño del ícono */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
  transition: color 0.3s ease; /* Transición suave para el color */
}

.comentario-icono:hover {
  color: #0056b3; /* Cambia a un azul más oscuro al pasar el cursor */
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

// alertas

#alertaContainer {
  position: fixed; /* Fija el contenedor en la pantalla */
  top: 20px; /* Distancia desde la parte superior */
  right: 20px; /* Distancia desde la parte derecha */
  z-index: 1052; /* Asegura que esté por encima de otros elementos */
  display: flex;
  flex-direction: column; /* Las alertas se apilan verticalmente */
  gap: 10px; /* Espaciado entre alertas */
}

.alerta {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el icono y el texto */
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Ocultar inicialmente */
  transition: opacity 0.5s ease-in-out; /* Transición suave para mostrar/ocultar */
}

.alerta.success {
  background-color: rgba(40, 167, 69, 0.9); /* Verde */
}

.alerta.error {
  background-color: #dc3545; /* Rojo */
}

.alerta.warning {
  background-color: #ffc107; /* Amarillo */
  color: black; /* Texto negro para mejor contraste */
}

.alerta.info {
  background-color: #17a2b8; /* Azul */
}

.modal-lg{
  z-index: 1051;
}
