.divider {
    flex-grow: 1;
    height: 2px;
    margin: 15px 0;
    background-color: #4CAF50;
    margin-left: 10px;
  }


  .cuotas-section {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.cuotas-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}
