

    <div class="Title-container">
        <h2>Reporte Entrega Diaria</h2>
    </div>
    <div class="container2">
        <table class="imput_table">
            <tr>
                <td>
                    <h6>Fecha</h6>
                    <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="fechaActual"
                        (input)="toggleContent()">
                </td>
                <td>
                    <h6>Region</h6>
                    <div class="">
                        <select id="Region" cSelect size="1" (change)="filtrarPorRegion()"
                            [(ngModel)]="regionSeleccionada">
                            <option selected>Todas</option>
                            <option *ngFor="let region of arrayRegion">{{region.region}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="">
                        <h6>Tiendas</h6>
                        <select id="Tienda" cSelect size="1" (change)="filtrarPortienda()"
                            [(ngModel)]="tiendaSeleccionada">
                            <option selected>Todas</option>
                            <option *ngFor="let Nombre of Tiendas">{{Nombre}}</option>
                        </select>
                    </div>
                </td>
                <!-- <td>
            <div class="">
                <select id="Comuna" [(ngModel)]="comunaSeleccionada" cSelect size="1">
                    <option selected>Comunas</option>
                    <option>Todas</option>
                    <option *ngFor="let comuna of listaComunas">{{comuna.Comuna}}</option>
                </select>
            </div>
        </td> -->
                <td>
                    <br>
                    <button cButton color="secondary" size="sm"
                        (click)="getEstadoEntregas(fechaActual, tiendaSeleccionada, regionSeleccionada)"
                        (click)="getEfectividadConductor(fechaActual, tiendaSeleccionada, regionSeleccionada)"
                        (click)="getReporteConductor(fechaActual, tiendaSeleccionada, regionSeleccionada)"
                        (click)="filtrarPorRegion()" (click)="filtrarPortienda()" [disabled]="loadingRuta == true">
                        buscar</button>
                </td>
                <td>
                    <!-- <button>
                <svg (click)="toggleLiveDemo()" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                    viewBox="0 0 256 256">
                    <path fill="currentColor"
                        d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm0 168a12 12 0 1 1 12-12a12 12 0 0 1-12 12Zm8-48.72v.72a8 8 0 0 1-16 0v-8a8 8 0 0 1 8-8c13.23 0 24-9 24-20s-10.77-20-24-20s-24 9-24 20v4a8 8 0 0 1-16 0v-4c0-19.85 17.94-36 40-36s40 16.15 40 36c0 17.38-13.76 31.93-32 35.28Z" />
                </svg>
            </button> -->
                </td>
            </tr>
        </table>
    </div>
    <div class="Body-container">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around; padding: 30px;">
    
            <div>
                <div class="container">
                    <h6><b>Total de entregas del Dia</b></h6>
                    <table class="greenTable" size="sm">
                        <thead>
                            <th>Total</th>
                            <th>T_ent</th>
                            <th>N_entregado</th>
                            <th>Efectividad de entrega</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let eficiencia of arrayeConductor">
                                <th><b>{{eficiencia.Suma}}</b></th>
                                <th><b>{{eficiencia.T_ent}}</b></th>
                                <th><b>{{eficiencia.N_ent}}</b></th>
                                <th><b>{{eficiencia.Efectividad_entrega}}%</b></th>
                            </tr>
                            <tr>
                                <td colspan="2" *ngIf="isLoadingFull"><img width="50" height="50"
                                        src="../../../assets/images/loading-gif.gif" /></td>
                            </tr>
                        </tbody>
                    </table>
    
                    <h6><b>Entregas por Conductor</b></h6>
                    <table class="greenTable">
                        <thead>
                            <th>Conductor</th>
                            <th>Patente</th>
                            <th>Total</th>
                            <th>Entregados</th>
                            <th>No entregados</th>
                            <th>Efectividad de entrega</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let eConductor of arrayProductosConductor">
                                <th>{{eConductor.Driver}}</th>
                                <th>{{eConductor.Patente}}</th>
                                <th>{{eConductor.Total}}</th>
                                <th>{{eConductor.Entregados}}</th>
                                <th>{{eConductor.No_entregado}}</th>
                                <th>{{eConductor.E_entrega}}%</th>
                            </tr>
                            <tr>
                                <td colspan="2" *ngIf="isLoadingTable"><img width="50" height="50"
                                        src="../../../assets/images/loading-gif.gif" /></td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
                <br>
    
            </div>
    
            <!--     
          <c-chart *ngIf="chartVisible == true && graficoVisible == true"
          [data]="data"
          [options]="options"
          type="pie"
          height="600"
          width="500"l
          id="myChart"
          >
        </c-chart> -->
            <div >
                <div class="Body-tablechart">
                    <div>
                        <h6><b>Razón no entregados </b></h6>
                    </div>
            
                    <table class="greenTable2" size="sm">
                        <thead>
                            <th>Descripción</th>
                            <th>Tag</th>
                            <th>Total</th>
                        </thead>
                        <tbody *ngFor="let EstadoEntregas of arrayEntregasConductor">
                            <tr>
                                <th>{{EstadoEntregas.Descripcion}}</th>
                                <th>{{EstadoEntregas.Tag}}</th>
                                <th>{{EstadoEntregas.Total}}</th>
                            </tr>
                            <tr>
                                <td colspan="2" *ngIf="isLoadingChart"><img width="50" height="50"
                                        src="../../../assets/images/loading-gif.gif" />
                                </td>
                            </tr>
                            <!-- <div *ngFor="let EstadoEntregas of arrayEntregasConductor">
                                                            <th>
                                                                {{EstadoEntregas.Total}}
                                                            </th>
                                                        </div> -->
                        </tbody>
                    </table>
                </div>
                <div size="sm" style="display: block; width: 490px; height: 390px;">
                    <canvas *ngIf="chartVisible == true && graficoVisible == true" baseChart class="chart"
                        [data]="pieChartData" 
                        [type]="pieChartType" 
                        [options]="pieChartOptions">
                        <p></p>
                    </canvas>
                </div>
                <br>
                <br>
            </div>
    
        </div>
    </div>
