<c-row>
    <c-col [xs]>
        Seleccionar sucursal :
        <select id="Mes" cSelect [(ngModel)]="sucursalSeleccionada ">
            <option value="">Sucursales</option>
            <option *ngFor="let sucursal of sucursales" value={{sucursal.Id}}  >
                {{sucursal.Nombre}}     
            </option>
        </select>
    </c-col>
    <c-col [xs]>
        <p></p>
        <button  cButton  color="secondary" size="lg" (click)="buscarEtiquetasPorSucursal()">Buscar</button>
    </c-col>
    <c-col [xs]>
        <p></p>
        <button cButton color="success" size="lg" *ngIf="isClick" (click)="downloadExcelReporteEtiquetas()">
            <svg class="dExcel" xmlns="http://www.w3.org/2000/svg"  height="1.5em" viewBox="0 0 384 512">
                <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
            </svg> descargar
         </button>
    </c-col>
    <c-col [xs]>

    </c-col>
</c-row>


  <p></p>
<!-- <div class="greenTable" *ngFor="let arr of arrInventarioEtiquetas; let i = index">
    <table id="tablaProductosPicking">
        <thead>
            <tr>
                <th colspan="9" style="justify-content: left;">Color : {{arr[0].Color}}</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Carga</th>
                <th>Barcode</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Color</th>
                <th>Tipo</th>
                <th>En Stock</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventario of arr">
                <td>{{inventario.Carga}}</td>
                <td>{{inventario.Bar_code}}</td>
                <td>{{inventario.Codigo}}</td>
                <td>{{inventario.Descripcion}}</td>
                <td>{{inventario.Color}}</td>
                <td>{{inventario.Tipo}}</td>
                <td>{{inventario.En_stock}}</td>
                <td>{{inventario.Ubicacion}}</td>
            </tr>
        </tbody>
</table>
<p></p>
</div>  -->


<div class="greenTable" *ngIf="isClick">
    <table id="tablaProductosPicking">
        <thead>
            <tr>
                <th>Carga</th>
                <th>Barcode</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Color</th>
                <th>Tipo</th>
                <th>En Stock</th>
                <th>Ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventario of InventarioEtiquetas">
                <td>{{inventario.Carga}}</td>
                <td>{{inventario.Bar_code}}</td>
                <td>{{inventario.Codigo}}</td>
                <td>{{inventario.Descripcion}}</td>
                <td>{{inventario.Color}}</td>
                <td>{{inventario.Tipo}}</td>
                <!-- <td>{{inventario.En_stock}}</td> -->
                <td *ngIf="inventario.En_stock === true" >
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </td>
                  <td *ngIf="inventario.En_stock === false " >
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
                  </td>
                <td>{{inventario.Ubicacion}}</td>
            </tr>
        </tbody>
</table>
<p></p>
</div>
