<c-row ngPreserveWhitespaces>  
  <div class="col-md-6 mx-auto">
    <h1>Reportes</h1>
  <table table [striped]="true" cTable>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"><h5>Resumen de vehículos</h5></td>
        <td><button (click)="downloadVehiculos()">
          <img src="assets\images\icons8-export-excel-48.png" alt="">
          </button>
        </td>
      </tr>
      <tr>
        <td scope="row"><h5>Resumen Beetrack Mensual</h5></td>
        <td><button (click)="downloadBeetrack()">
          <img src="assets\images\icons8-export-excel-48.png" alt="">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</c-row>
