<div style="text-align: center;">
    <h1>Capturar Imagen</h1>
  
    <!-- Componente de la cámara -->
    <webcam 
      [trigger]="triggerObservable" 
      (imageCapture)="handleImage($event)"
      [height]="400"
      [width]="600"
    ></webcam>
  
    <br />
  
    <!-- Botones para capturar y descargar -->
    <button (click)="captureImage()">Tomar Foto</button>
    <button (click)="downloadImage()" [disabled]="!capturedImage">Descargar Imagen</button>
  
    <br /><br />
  
    <!-- Mostrar la imagen capturada -->
    <div *ngIf="capturedImage">
      <h2>Imagen Capturada:</h2>
      <img [src]="capturedImage" alt="Imagen capturada" />
    </div>
  </div>
  