
<h2>Prefactura</h2>



<c-row>
    <c-col>
        <div class="card">
        <c-row > 
            <c-col>
                <p></p>
                Cargar Archivo de prefactura <span style="font-weight: bold;"></span>
            </c-col>
        </c-row>
        <c-row >
            <c-col>
                <input  type="file" id="archivo" (change)="onFileSelected($event)">
                <p></p>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <button  (click)="uploadFile()">Subir archivo</button>
                <p></p>
            </c-col>
        </c-row>
    </div>
    </c-col>
    <c-col>
        <!-- <div class="card"> -->
            <c-row > 
                <div class="greenTable"  >
                    <table id="tablaProductosPicking" style="width: 100%;" >
                    <thead>
                      <tr>
                          <th>Registros</th>
                          <th>Fecha ultimo ingreso</th>
                          <th>Ultimos ingreso</th>
                          <th>Ultima proforma</th>
                          <th>Ultimo segmento fecha</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prefactua of resumenPrefactura;let i = index">
                          <td>{{prefactua.Total_registros}}</td>
                          <td>{{prefactua.Fecha_ultimo_ingreso}}</td>
                          <td>{{prefactua.Ultimos_ingresados}}</td>
                          <td>{{prefactua.Nombre_ultima_proforma}}</td>
                          <td>{{prefactua.Ultimo_segmento_fecha}}</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
            </c-row>
        <!-- </div> -->

    </c-col>
</c-row>




<!-- <div class="card">
    <table >
        <tr>
        <td class="tamano">Cargar Archivo de prefactura <span style="font-weight: bold;"></span> </td>
        </tr>
        <tr>
        <td>
            <input  type="file" id="archivo" (change)="onFileSelected($event)">
        <p></p>
            <button  (click)="uploadFile()">Subir archivo</button>
        </td>
        </tr>
        <tr>
        <td  class="tamano">
            
        </td>
        </tr>
    </table>
    </div> -->
<p></p>

<c-row>
    <c-col>
        <input id="bday-month" type="month" class="form-control" [(ngModel)]="mesSeleccionado" (change)="seleccionarMes()" pattern="[0-9]{4}-[0-9]{2}"/>
    </c-col>
    <c-col>
        <button cButton color="success" [disabled]="ListaPrefactura.length == 0" (click)="descargarExcel()">
            <svg class="dExcel" xmlns="http://www.w3.org/2000/svg"  height="1.5em" viewBox="0 0 384 512">
                <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
            </svg> descargar
         </button>
    </c-col>
    <c-col>
        
    </c-col>
    <c-col>
        
    </c-col>
</c-row>




<p></p>
<div class="greenTable">
    <table id="tablaPrefactura" >
    <thead>
      <tr>
          <th>
            Id Prefactura
            
          </th>
          <th>
            Periodo
            <!-- <input type="text" [(ngModel)]="textoPeriodo" (keyup)="filtrarTabla('Periodo')" placeholder="🔍" maxlength="8" size="6"> -->
          </th>
          <!-- <th>Descripción</th> -->
          <th>
            Id Ruta
            <input type="text" [(ngModel)]="textoIdRuta" (keyup)="filtrarTabla('Id_de_ruta')" placeholder="🔍" maxlength="9" size="7">
          </th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>
            Patente 
            <input type="text" [(ngModel)]="textoPatente" (keyup)="filtrarTabla('Patente')" placeholder="🔍" maxlength="6" size="4">
          </th>
          <th>
            Conductor
            <input type="text" [(ngModel)]="textoConductor" (keyup)="filtrarTabla('Conductor')" placeholder="🔍"  size="8">
          </th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <!-- <th>Total</th> -->
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prefactua of ListaPrefactura;let i = index">
          <td>{{prefactua.Id_prefactura}}</td>
          <td>{{prefactua.Periodo}}</td>
          <!-- <td>{{prefactua.Descripcion}}</td> -->
          <td>{{prefactua.Id_de_ruta}}</td>
          <td>{{prefactua.Fecha_inicio}}</td>
          <td>{{prefactua.Fecha_fin}}</td>
          <td>{{prefactua.Patente}}</td>
          <td>{{prefactua.Conductor}} </td>
          <td>{{prefactua.Cantidad}}</td>
          <td>{{prefactua.Precio_unitario}}</td>
          <!-- <td>{{prefactua.Total}}</td> -->
        </tr>
        <tr *ngIf="ListaPrefactura.length == 0">
            <td style="text-align: center;" colspan="10">No hay registros</td>
        </tr>
    </tbody>
    </table>
    </div>

<p></p>
