<h2> Rutas Activas</h2>

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Simbolos</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <table>
      <thead>
        <th>Botón</th>
        <th>Descripción</th>
      </thead>
      <tr>
        <td>
          <button cButton  color="success" size="sm" >
          0000-0001-20230101
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512">
            <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
          </svg>
        </button>
      </td>
        <td>Ruta abierta</td>
      </tr>
      <tr>
        <td>
          <button cButton  color="secondary" size="sm" >
            0000-0001-20230101
            <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512"><path d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/>
            </svg>
          </button>
        </td>
        <td>Ruta cerrada</td>
      </tr>
      <tr>
        <td>
          <button cButton  color="danger" size="sm" >
            0000-0001-20230101
            <svg xmlns="http://www.w3.org/2000/svg" height="1.75em" viewBox="0 0 24 24"><path d="M3 4c-1.1 0-2 .9-2 2v11h2c0 1.7 1.3 3 3 3s3-1.3 3-3h6c0 1.7 1.3 3 3 3s3-1.3 3-3h2v-5l-3-4h-3V4H3m5 2h2v4H8V6m9 3.5h2.5l2 2.5H17V9.5M8 12h2v2H8v-2m-2 3.5c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5m12 0c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5Z"/></svg>
          </button>
        </td>
        <td>Ruta con alerta de conductor</td>
      </tr>
      <tr>
        <td>
          <button cButton  color="danger" size="sm" >
            0000-0001-20230101
            <svg xmlns="http://www.w3.org/2000/svg" height="1.75em" viewBox="0 0 24 24"><path d="M20 8h-3V4H3c-1.11 0-2 .89-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4M6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m6.54-6.38l-1.42 1.42L9 11.41l-2.12 2.13l-1.41-1.42L7.59 10L5.46 7.88l1.42-1.41L9 8.59l2.12-2.12l1.42 1.41L10.41 10l2.13 2.12M18 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5M17 12V9.5h2.5l1.96 2.5H17Z"/></svg>
          </button>
        </td>
        <td>Ruta con producto sin pickear</td>
      </tr>
    </table>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Cerrar
    </button>
  </c-modal-footer>
</c-modal>

<table> 
  <tr>
    <td>
      <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="fechaActual">
    </td>
    <td>
      <div class="">
        <select id="Region" cSelect  size="1" (change)="seleccionarRegion()" [(ngModel)]="regionSeleccionada">
            <option selected>Regiones</option>
            <option>Todas</option>
            <option *ngFor="let region of listaRegiones">{{region}}</option>
        </select>
    </div>
    </td>
    <td>
      <div class="">
        <select id="Comuna" [(ngModel)]="comunaSeleccionada" cSelect  size="1" >
            <option selected>Comunas</option>
            <option>Todas</option>
            <option *ngFor="let comuna of listaComunas" >{{comuna.Comuna}}</option>
        </select>
    </div>
    </td>
    <td>
      <button cButton  color="secondary" size="sm" (click)="getNombreByFecha(fechaActual)" [disabled]="loadingRuta == true"> buscar</button>
    </td>
    <td>
      <!-- <button > -->
        <svg (click)="toggleLiveDemo()" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 256 256"><path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm0 168a12 12 0 1 1 12-12a12 12 0 0 1-12 12Zm8-48.72v.72a8 8 0 0 1-16 0v-8a8 8 0 0 1 8-8c13.23 0 24-9 24-20s-10.77-20-24-20s-24 9-24 20v4a8 8 0 0 1-16 0v-4c0-19.85 17.94-36 40-36s40 16.15 40 36c0 17.38-13.76 31.93-32 35.28Z"/></svg>
      <!-- </button> -->
    </td>
  </tr>
</table>

<p></p>
<table *ngIf="nombresRutas">
  <tbody>
    <tr *ngFor="let grupo of nombresRutas.slice(0, 11); let i = index">
      <td *ngFor="let nombre of nombresRutas.slice(i * 6, (i + 1) * 6)">
        <button cButton  color="success" size="sm" (click)="buscarRuta(nombre.Nombre_ruta,nombre.Estado)" *ngIf="nombre.Estado == true && nombre.Verificado !== false && nombre.Alerta == false" [disabled]="loadingRuta == true">
          {{nombre.Nombre_ruta}}
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512">
            <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
          </svg>
        </button>
        <button cButton  color="secondary" size="sm" (click)="buscarRuta(nombre.Nombre_ruta,nombre.Estado)" *ngIf="nombre.Estado == false && nombre.Verificado !== false" [disabled]="loadingRuta == true">
          {{nombre.Nombre_ruta}}
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512"><path d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/>
          </svg>
        </button>
        <button cButton  color="danger" size="sm" (click)="buscarRuta(nombre.Nombre_ruta,nombre.Estado)" *ngIf="nombre.Verificado == false || nombre.Alerta == true" [disabled]="loadingRuta == true">
          {{nombre.Nombre_ruta}}
          <svg *ngIf="nombre.Alerta == true " xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 4c-1.1 0-2 .9-2 2v11h2c0 1.7 1.3 3 3 3s3-1.3 3-3h6c0 1.7 1.3 3 3 3s3-1.3 3-3h2v-5l-3-4h-3V4H3m5 2h2v4H8V6m9 3.5h2.5l2 2.5H17V9.5M8 12h2v2H8v-2m-2 3.5c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5m12 0c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5Z"/></svg>
          <svg *ngIf="nombre.Verificado == false && nombre.Alerta == false"  xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 24 24"><path d="M20 8h-3V4H3c-1.11 0-2 .89-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4M6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m6.54-6.38l-1.42 1.42L9 11.41l-2.12 2.13l-1.41-1.42L7.59 10L5.46 7.88l1.42-1.41L9 8.59l2.12-2.12l1.42 1.41L10.41 10l2.13 2.12M18 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5M17 12V9.5h2.5l1.96 2.5H17Z"/></svg>
        </button>
        <!-- <button cButton  color="danger" size="sm" (click)="buscarRuta(nombre.Nombre_ruta,nombre.Estado)" *ngIf="nombre.Alerta == true" [disabled]="loadingRuta == true">
          {{nombre.Nombre_ruta}}
        </button> -->
      </td>
    </tr>
  </tbody>
</table>

<p></p>

<h3 *ngIf="isRuta == false">En este dia no hay rutas</h3>


<h4 *ngIf="loadingRuta == false">{{nombreRutaActual}}</h4>

<div *ngIf="isDriver && loadingRuta == false">
  <h4>Patente : {{patenteRuta}}</h4>
  <h4>Driver : {{driverRuta}}</h4>


</div>

<table class="loadQuadmind" *ngIf="loadingRuta !== false"> 
  <tr>
      <div>
          <img width="50" height="50" src="../../../assets/images/loading-gif.gif" />
          Cargando Datos de la ruta {{nombreRutaActual}}
      </div>
  </tr> 
  </table>

<table class="greenTable" id="tablaRutaActiva" *ngIf="isClicked == true && loadingRuta == false" >
  <thead>
    <tr>
        <!-- <th>Código de Cliente</th> -->
        <th>Posición</th>
        <!-- <th>Nombre ruta</th> -->
        <th>Código de Pedido</th>
        <th>Comuna</th>
        <th>SKU</th>
        <th>Producto</th>
        <th>Unidades</th>
        <th>Bultos</th>
        <th>Nombre de cliente</th>
        <th>Dirección cliente</th>
        <th>Teléfono</th>
        <th>Fecha Compromiso</th>
        <!-- <th>Geolocalizar</th> -->
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let ruta of rutaEnActivo; let j = index">
      <td>{{ruta.Pos }}</td>
      <!-- <th>{{nombreRutaActual}}</th> -->
      <td>{{ruta.Codigo_pedido }}</td>
      <td>{{ruta.Comuna }}</td>
      <td>
        <table>
          <tr *ngFor="let sku of ruta.arraySKU">
            {{sku}}
          </tr>
        </table>
      </td>
      <td><table style="text-align: left">
        <tr *ngFor="let producto of ruta.arrayProductos" >
          {{producto}}
        </tr>
      </table></td>
      <!-- <td>{{ruta.Unidades }}</td> -->
      <td><table>
        <tr *ngFor="let unidad of ruta.arrayUnidades" >
          {{unidad}}
        </tr>
      </table></td>
      <!-- <td>{{ruta.Bultos }}</td> -->
      <td><table>
        <tr *ngFor="let bultos of ruta.arrayBultos" >
          {{bultos}}
        </tr>
      </table></td>
      <td>{{ruta.Nombre_cliente }}</td>
      <td>{{ruta.Direccion_cliente }}</td>
      <td>{{ruta.Telefono }}</td>
      <td>{{ruta.Fecha_pedido}}</td>
      <!-- <td>
        <button cButton size="sm" color="warning" (click)="buscarLatLon(ruta.Comuna,ruta.Direccion_cliente, ruta.Region)">Geolocalizar
        </button>
      </td> -->
    </tr>
  </tbody>
  </table>

  <p></p>


  <table *ngIf="loadingRuta == false">
    <tr >
      <td>
        <button *ngIf="isClicked == true && isActive == false && (rol == '5' || verBotonesCorreo.includes(mail+''))" cButton  color="secondary" size="sm" (click)="updateEstadoRutaAtrue(nombreRutaActual)" > Reabrir Ruta 
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512">
            <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
          </svg>
        </button>
      </td>
      <td>
        <button  *ngIf="isClicked == true && isActive == true && (rol == '5' || verBotonesCorreo.includes(mail+''))" cButton  color="secondary" size="sm" (click)="updateEstadoRuta(nombreRutaActual)" > Cerrar Ruta 
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512">
            <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
          </svg>
        </button>
      </td>
      <td >
        <button *ngIf="isClicked == true" (click)="downloadExcel(nombreRutaActual, patenteRuta, driverRuta)" cButton  color="secondary" size="sm"> Descargar
          <svg class="dExcel" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
            <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
          </svg>
          </button>
      </td>

      <td *ngIf="isActive == true" >
        <!-- <td> -->
        <button cButton  color="secondary" size="sm" (click)="editarRutaActiva()">
          Editar ruta
          <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
          </svg>
        </button>
      </td>

      <td *ngIf="isActive == true" >
        <button cButton  color="success" size="sm" (click)="asignarRuta()" >
          Asignar ruta
          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
          </svg> -->
        </button>
      </td>
      <!-- <td *ngIf="isActive == true" > -->
      

      <td>
        <button cButton size="sm" color="warning" (click)="downloadExcelBeetrack()" *ngIf="isDriver && isActive == true">Beetrack   
          <svg class="dExcel" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
            <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
          </svg>
        </button>
      </td>
      <td *ngIf="isClicked == true && rol == '5'">
        <button cButton  color="danger" size="sm" (click)="eliminarRuta()" >
          Eliminar ruta
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6.187 8h11.625l-.695 11.125A2 2 0 0 1 15.121 21H8.879a2 2 0 0 1-1.996-1.875L6.187 8zM19 5v2H5V5h3V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h3zm-9 0h4V4h-4v1z"/></svg>
        </button>
      </td>
      <!-- <td>
        <button cButton size="sm" color="warning" (click)="buscarlalonRutas(rutaEnActivo)">Geolocalizar
        </button>
      </td> -->
     
    </tr>
  </table>


  <table class="loadQuadmind" *ngIf="loadingArchivo" > 
    <tr>
        <div>
            <img width="50" height="50" src="../../../assets/images/loading-gif.gif" />
            Descargando archivo
        </div>
    </tr> 
    </table>

  <!-- <button cButton size="sm" color="warning" (click)="downloadExcelBeetrack()" >Beetrack   
    <svg class="dExcel" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
      <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
    </svg>
  </button> -->
 


  
