<!DOCTYPE html>
<html lang="es">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modalidades de Operaciones</title>
    <!-- Aquí puedes agregar tus estilos CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-papO+2UF4gVfXSu8zL7+9aZ1zOApZnGp5FLaY0z7zZB3+2sovt+RUfUOYVv69rg0eJ1djXL5i3SbUpT+Tv+DOA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header>
    <h2>Modalidades de Operaciones</h2>
    <button (click)="buscarDatos()" ><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 20 20">
        <path fill="currentColor" d="m19.485 20.154l-6.262-6.262q-.75.639-1.725.989t-1.96.35q-2.402 0-4.066-1.663T3.808 9.503T5.47 5.436t4.064-1.667t4.068 1.664T15.268 9.5q0 1.042-.369 2.017t-.97 1.668l6.262 6.261zM9.539 14.23q1.99 0 3.36-1.37t1.37-3.361t-1.37-3.36t-3.36-1.37t-3.361 1.37t-1.37 3.36t1.37 3.36t3.36 1.37" />
    </svg></button>
    <input type="search" placeholder="Buscar" [(ngModel)]="searchTerm" >
</header>
  
<c-modal id="liveCOModal" [visible]="visibleCO" (visibleChange)="handleLiveCOChange($event)" size="lg">
    <c-modal-header>
      <h5 cModalTitle>Observación </h5>
      <button (click)="toggleLiveCO()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form cForm [formGroup]="formCO" *ngIf="listaComunasFull.length !== 0" (ngSubmit)="registrarCO()"> 
            <div class="card">
              <p></p>
              <h5>Centro Operación</h5>
              <p></p>
            <c-row>
                <c-col [xs]>
                    <div class="">
                        Nombre
                        <input type="text" placeholder="Nombre" class="form-control" formControlName="Centro" >
                        <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                        <span class="error" *ngIf="formCO.get('Centro')?.errors?.['required'] && isErrorView">
                            Falta agregar la razón social
                        </span>
                    </div>
                </c-col>
          
                <c-col [xs]>
                    <div class="noEditar">
                      Descripción
                      <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                      <input type="textarea" placeholder="Descripción" class="form-control"  formControlName="Descripcion" >
                      <span class="error" *ngIf="formCO.get('Descripcion')?.errors?.['required'] && isErrorView">
                          Falta agregar la Descripción
                      </span>
                  </div>
                </c-col>
            </c-row>
            <c-row>
              <c-col [xs]>
                <div class="">
                  Región 
                  <select id="Region"  cSelect class="form-control" formControlName="Region">
                      <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
                  </select>
              </div>
            </c-col>
                <c-col [xs]>
                    <div class="">
                      Operación
                      <select id="Region"  cSelect class="form-control" formControlName="Id_op"  >
                        <option  [value]="'Seleccione una operación'"  >Seleccione una operación</option>
                        <option *ngFor="let op of modalidadOperacion"  [value]="op.id"  >{{op.nombre}}</option>
                      </select>
                    </div>
                </c-col>
               
              </c-row>
              <p></p>
          </div>
            <p></p>
            <c-row>
                <c-col [xs]>
                    <button class="btn btn-success " type="submit"  >Guardar 
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                    </button>
                </c-col>
                <c-col [xs]>

                </c-col>
                <c-col [xs]>

                </c-col>
                <c-col [xs]>

                </c-col>
            </c-row>
          </form>

          <p></p>

          <div class="greenTable" style="width: 100%;">
        
            <table id="tablaProductosPicking" style="width: 100%;"  >
            <thead>
                <!-- <th>id</th> -->
                <th>Centro</th>
                <th>Descripción</th>
                <th>Region</th>
                <th></th>
            </thead>
            <tbody>
    
            <!-- Filas de la tabla con datos -->
            <tr *ngFor="let co of centroOperacion; let i = index">
                <!-- <td class="id">{{co.Id}}</td> -->
                <td>{{co.Centro}}</td>
                <td>{{co.Descripcion}}</td>
                <td>{{co.Region}}</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" (click)="eliminarCO(co.Id)" width="24" height="24" viewBox="0 0 24 24"><path fill="red" d="M6.187 8h11.625l-.695 11.125A2 2 0 0 1 15.121 21H8.879a2 2 0 0 1-1.996-1.875L6.187 8zM19 5v2H5V5h3V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h3zm-9 0h4V4h-4v1z"/></svg>
                </td>
    
                <!-- <mat-slide-toggle role="switch" onclick="actualizarEstado()"></mat-slide-toggle> -->
            </tr>
            <tr *ngIf="centroOperacion.length == 0">
              <td colspan="4">
                No hay registros
              </td>
            </tr>
            <!-- Agrega más filas según sea necesario -->
        </tbody>
        </table>
        </div>
    

          
        
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveCO()" cButton color="secondary">
        Cerrar
      </button>
    </c-modal-footer>
  </c-modal>

<main>
      <br>
      <div>
        <button mat-button class="Agregar" color="primary" (click)="toggleLiveDemo()">+ Agregar</button>
     </div> 
      <br>
        
        <!-- Aquí puedes agregar un botón para eliminar -->
    <!-- Tabla para mostrar datos -->
    <div class="greenTable" style="width: 100%;">
        
        <table id="tablaProductosPicking" style="width: 100%;"  >
        <thead>
            <th>N°</th>
            <th (click)="sortTableNombre(sortOrder)" class="sortable">Nombre</th>
            <th>Descripción</th>
            <th (click)="sortTableDetalle(sortOrder)" class="sortable">Detalles</th>
            <th (click)="sortTableCO(sortOrder)" class="sortable">Centro Operación</th>
        </thead>
        <tbody>
 
        <!-- Filas de la tabla con datos -->
        <tr *ngFor="let RazonSocial of tableData; let i = index">
            <td class="id">{{i+1}}</td>
            <td class="sortable" (click)="sortTable(sortOrder)">{{RazonSocial.nombre}}</td>
            <td>{{RazonSocial.description}}</td>
            <td class="estado">
                <mat-slide-toggle [(ngModel)]="RazonSocial.estado" (change)="toggleEstado(RazonSocial.id)" class="green-slide-toggle" >
                    {{ RazonSocial.estado ? 'Activado' : 'Desactivado' }} 
                </mat-slide-toggle>                  
            </td>
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" (click)="seleccionarOperacion(RazonSocial.id)" width="30px" height="30px" viewBox="0 0 24 24">
                <path fill="#45bf4d" d="M16 20.975v-3h-3v-2h3v-3h2v3h3v2h-3v3zM4 18v-2h7.075q-.075.525-.062 1t.087 1zm0-4v-2h9.65q-.575.4-1.037.9T11.8 14zm0-4V8h15v2zm0-4V4h15v2z" />
              </svg>

              <svg  class="MySvgTable" xmlns="http://www.w3.org/2000/svg" (click)="toggleLiveDemoCV()" (click)="seleccionarIdOpTV(RazonSocial.id)" width="30px" height="30px" viewBox="0 0 640 640"><path d="M352 96C352 78.3 337.7 64 320 64C302.3 64 288 78.3 288 96L288 224L160 224C142.3 224 128 238.3 128 256C128 273.7 142.3 288 160 288L288 288L288 416C288 433.7 302.3 448 320 448C337.7 448 352 433.7 352 416L352 288L480 288C497.7 288 512 273.7 512 256C512 238.3 497.7 224 480 224L352 224L352 96zM128 544C128 561.7 142.3 576 160 576L480 576C497.7 576 512 561.7 512 544C512 526.3 497.7 512 480 512L160 512C142.3 512 128 526.3 128 544z"/></svg>
              <!-- <svg xmlns="http://www.w3.org/2000/svg"   width="24px" height="24px" viewBox="0 0 24 24">
                <path fill="none" stroke="#45bf4d" stroke-linecap="round" stroke-width="2" d="M12 6v12m6-6H6" />
              </svg> -->
                <!-- <button cButton color="secondary" (click)="seleccionarOperacion(RazonSocial.id)">Agregar</button> -->
            </td>

            <!-- <mat-slide-toggle role="switch" onclick="actualizarEstado()"></mat-slide-toggle> -->
        </tr>
        
        <!-- Agrega más filas según sea necesario -->
    </tbody>
    </table>
    </div>


</main>



<c-modal [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header class="modal-header-custom">
      <h4 cModalTitle class="modal-title">Registro</h4>
      <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>
    <c-modal-body>
        <form action="">
            <label for="nombre">Nombre *</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        
            <label for="description">Descripción *</label>
            <textarea class="materialize-textarea form-control" rows="10" type="text" id="description" name="description" required></textarea>
          </form>
    </c-modal-body>
    <c-modal-footer class="modal-footer-custom" >
        <button class="cButtonSave" cButton color="secondary" (click)="submitForm()">
            Guardar
        </button>   
        <button class="cButtonClose" (click)="toggleLiveDemo()" cButton color="secondary">
            Cerrar
        </button>
    </c-modal-footer>
  </c-modal>



<!-- Modal de Registro de Vehículos -->
<div class="custom-modal" *ngIf="visibleModalidad">
  <div class="custom-modal-content">
    <div class="custom-modal-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px"  viewBox="0 0 640 640"><path d="M147 170.7L117.2 256L240.1 256L240.1 160L162.2 160C155.4 160 149.3 164.3 147.1 170.7zM48.6 257.9L86.5 149.6C97.8 117.5 128.1 96 162.1 96L360 96C385.2 96 408.9 107.9 424 128L520.2 256.3C587.1 260.5 640 316.1 640 384L640 400C640 435.3 611.3 464 576 464L559.6 464C555.6 508.9 517.9 544 472 544C426.1 544 388.4 508.9 384.4 464L239.7 464C235.7 508.9 198 544 152.1 544C106.2 544 68.5 508.9 64.5 464L64.1 464C28.8 464 .1 435.3 .1 400L.1 320C.1 289.9 20.8 264.7 48.7 257.9zM440 256L372.8 166.4C369.8 162.4 365 160 360 160L288 160L288 256L440 256zM152 496C174.1 496 192 478.1 192 456C192 433.9 174.1 416 152 416C129.9 416 112 433.9 112 456C112 478.1 129.9 496 152 496zM512 456C512 433.9 494.1 416 472 416C449.9 416 432 433.9 432 456C432 478.1 449.9 496 472 496C494.1 496 512 478.1 512 456z"/></svg>
      <h1>Reclutamiento</h1><div class="line"></div>
    </div>
    <div class="custom-modal-body">
      <div id="vehicleForm" class="input-row">
        <input type="text" id="vehicleCode" placeholder="Código del vehículo" required>
        <input type="text" id="vehicleDescription" placeholder="Descripción (opcional)">
        <select id="vehicleType" required>
          <option *ngFor="let Tv of tiposVehiculo; let i = index"  [value]="Tv.id" >{{Tv.tipo}}</option>
        </select>
        <button class="add-vehicle-btn" id="addVehicle" type="button" (click)="agregarTipoVehiculo()">
            <svg class="MysVG" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"  viewBox="0 0 512 512"><path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
        </button>
      </div>
      <div class="vehicle-table-container">
        <table class="vehicle-table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Tv of DatatiposVehiculo; let i = index">
              <td>{{Tv.codigo}}</td>
              <td>{{getTipoVehiculoById(Tv.id_tipo)}}</td>
              <td>{{Tv.descripcion}}</td>
              <td>
                <svg (click)="deleteTipoVehiculo(Tv.id)" class="myDELETESvg" xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 448 512"><path d="M136.7 5.9L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-8.7-26.1C306.9-7.2 294.7-16 280.9-16L167.1-16c-13.8 0-26 8.8-30.4 21.9zM416 144L32 144 53.1 467.1C54.7 492.4 75.7 512 101 512L347 512c25.3 0 46.3-19.6 47.9-44.9L416 144z"/></svg>
              </td>
            </tr>
            <!-- Filas dinámicas aquí -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="custom-modal-footer">
      <button class="close-btn" (click)="visibleModalidad = false">Cerrar</button>
    </div>
  </div>
</div>


</body>

<div id="alertaContainer"></div>
</html>