/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f4f4f4;
    color: black;
    padding: 10px 20px;
    text-align: center;
}

header button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

header input[type="search"] {
    padding: 5px;
}

form.input{    
        display: inline-block;
        margin-right: 300px; /* Ajusta el espaciado entre los elementos */   
}

main {
    padding: 20px;
}

form {
    padding: 20px;
    margin-bottom: 20px;
    display: auto;
}

form label,
form input[type="text"],
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input[type="text"] {
    border: 1px solid #ddd;
    padding: 4px;
    inline-size: auto;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

button.Agregar{
    background-color: #28A745;
    color: #fff; // Color del texto del botón de cerrar
    border: none; // Quita el borde del botón
    border-radius: 5px; // Borde redondeado del botón
    padding: 10px 20px; // Espaciado interno del botón
    cursor: pointer; // 
}
button.Agregar:hover{
    background-color: #999;
}
/* Estilo personalizado para ocultar el marcador de verificación */
.mat-slide-toggle-thumb {
    display: none; /* Oculta el marcador de verificación */
}
  
  /* Estilo para ajustar el tamaño del control deslizante */
.mat-slide-toggle-bar {
    height: 16px; /* Ajusta la altura del control deslizante según tus preferencias */
    position: absolute;
}

/* estilos.css o estilos.scss */
::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
    background-color: rgb(50, 170, 118);
    /*replace with your color*/
  }
  
  ::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
    background-color: rgb(113, 226, 147) !important;
    /*replace with your color*/
  }

  .greenTable{
    width: 100%;
    // max-height: 400px; /* Altura de ejemplo */
    // overflow: auto;
  }
  
  .greenTable  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #ebedef;
    font-size: 12px;
    text-align: center;
   
  }
  .greenTable  table td, table th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  .greenTable  table tbody td {
    font-size: 14px;
  }
  
  .greenTable  table td {
    font-size: 14px;
  }
  
  .greenTable th.sortable:hover {
    background-color: #1ece27;
    cursor: pointer;
  }
  
  .greenTable  table tbody th {
    font-size: 1px;
    font-weight: bold;
    background: #28A745;
    color: #FFFFFF;
  }
  .greenTable  table tr:nth-child(even) {
    background: #FFFEF3;
  }
  .greenTable table thead {
    position: sticky;
    top: 0;
    left: 0;
    background: #28A745;
  }
  .greenTable  table thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  .greenTable  table thead th:first-child {
    border-left: none;
  }
  
  .inline-container {
    margin: 1px;
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente si es necesario */
  }  
  
  .inline-container input,
  .inline-container c-dropdown,
  .inline-container span {
    margin-right: 5px; /* Espacio personalizado entre los elementos */
  }
  h2 {
      text-align: center;
    }
    
  .svgT{
    fill:#12de20
  }
  
  .svgF{
    fill:#d60a0a
  }

  ::ng-deep .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #2eb85c;
    --mdc-switch-selected-handle-color: #2eb85c;
    --mdc-switch-selected-hover-state-layer-color: #2eb85c;
    --mdc-switch-selected-pressed-state-layer-color: #2eb85c;
    --mdc-switch-selected-focus-handle-color: #2eb85c;
    --mdc-switch-selected-hover-handle-color: #2eb85c;
    --mdc-switch-selected-pressed-handle-color: #2eb85c;
    --mdc-switch-selected-focus-track-color: #2eb85c;
    --mdc-switch-selected-hover-track-color: #2eb85c;
    --mdc-switch-selected-pressed-track-color: #2eb85c;
    --mdc-switch-selected-track-color: #2eb85c;
}
  
/* Agrega más estilos según sea necesario */