<h3>Productos sin tamaño por SKU</h3>
<p></p>
<table>
  <tr>
    <td><input type="text" name="buscar" id="" ></td>
  </tr>
</table>
<p></p>

<table class="greenTable">
  <thead>
  <tr>
    <th>SKU</th>
    <th>Descripción</th>
    <th>Tamaño</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let producto of productosSinClasificacion">
    <td>{{producto.SKU}}</td>
    <td>{{producto.Descripcion}}</td>
    <td>
      <div class="button-container">
        <button [disabled]="producto.buttonDisabled" (click)="addTalla('G', producto)">G</button>
        <button [disabled]="producto.buttonDisabled" (click)="addTalla('M', producto)">M</button>
        <button [disabled]="producto.buttonDisabled" (click)="addTalla('P', producto)">P</button>
      </div>
  </td>
  </tr>

  </tbody>
  </table>



