<h2>Generación Beetrack Manual</h2>

<!-- <table>
  <tr>
    <td><input type="text" id="codBusqueda" [(ngModel)]="idProducto" (change)="addData(idProducto)"></td>
  </tr>
</table>


<table class="greenTable" id="tablaProductosPicking" *ngIf="arrayProductos.length > 0">

  <thead>
    <tr>
        <th>Código de Cliente</th>
        <th>Nombre</th>
        <th>Calle y Número</th>
        <th>Ciudad</th>
        <th>Provincia/Estado</th>
        <th>Código de Pedido</th>
        <th>Fecha de Pedido</th>
        <th>Código de Producto</th>
        <th>Descripción del Producto</th>
        <th>Cantidad de Producto</th>
        <th>Notas</th>
        <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of arrayProductos">
      <td>{{producto.Codigo_cliente}}</td>
      <td>{{producto.Nombre}}</td>
      <td>{{producto.Calle}}</td>
      <td>{{producto.Ciudad}}</td>
      <td>{{producto.Provincia}}</td>
      <td>{{producto.Codigo_pedido}}</td>
      <td>{{producto.Fecha_pedido}}</td>
      <td>{{producto.Codigo_producto}}</td>
      <td>{{producto.Descripcion_producto}}</td>
      <td>{{producto.Cantidad_producto}}</td>
      <td>{{producto.Notas}}</td>  
      <td><input type="button" value="Eliminar" (click)="deleteData(producto.Codigo_cliente)">
      </td>
    </tr>
    
  </tbody>
  </table>
  <div class="">
  <button (click)="downloadExcel()" *ngIf="arrayProductos.length > 0">
    <img src="assets\images\icons8-export-excel-48.png" alt="">
  </button>
</div> -->


<c-container>
  <c-row [xs]="1"> 
    <c-col>
      <input type="text" id="codBusqueda" [(ngModel)]="patente" maxlength="6" minlength="6" pattern="[A-Z0-9]{1,6}" (change)="getPatente(patente)" required>
    </c-col>

    <c-col>
        <p></p>
    </c-col>

    <c-col>
      <table class="greenTable" id="tablaProductosPicking" >
      <thead>
        <tr>
            <th>Código de Cliente</th>
            <th>Nombre</th>
            <th>Calle y Número</th>
            <th>Ciudad</th>
            <th>Provincia/Estado</th>
            <th>Código de Pedido</th>
            <th>Fecha de Pedido</th>
            <th>Código de Producto</th>
            <th>Descripción del Producto</th>
            <th>Cantidad de Producto</th>
            <th>Notas</th>
            <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let producto of arrayProductos">
          <td>{{producto.Codigo_cliente}}</td>
          <td>{{producto.Nombre}}</td>
          <td>{{producto.Calle}}</td>
          <td>{{producto.Ciudad}}</td>
          <td>{{producto.Provincia}}</td>
          <td>{{producto.Codigo_pedido}}</td>
          <th>{{producto.Fecha_pedido}}</th>
          <td>{{producto.Codigo_producto}}</td>
          <td>{{producto.Descripcion_producto}}</td>
          <td>{{producto.Cantidad_producto}}</td>
          <td>{{producto.Notas}}</td>  
          <td>
            <div [innerHTML]="svgContent" (click)="deleteData(producto.Codigo_cliente)"></div>
          </td>
        </tr> -->
      </tbody>
      </table>
    </c-col>
    <c-col>
      <p></p>
  </c-col>

  <c-col>
    <button>
      <img src="assets\images\icons8-export-excel-48.png" alt="">
    </button>
  </c-col>

  </c-row>
  <c-row>
    

  </c-row>
</c-container>



