
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- TÍTULO -->
  <div class="header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Easy-Logo.svg/1200px-Easy-Logo.svg.png" alt="Easy Logo">
    <h1>Nivel de Servicio Easy</h1>
  </div>

  <!-- CONTENEDOR DE 3 PANELES -->
 <div class="dashboard-wrapper">
<div class="dashboard-container">
    
    <!-- PANEL 1: ENTREGAS -->
<div class="panel" *ngFor="let producto of nsPanelPrincipal; let i = index">
  <h2>Resumen de Entregas</h2>
  <div class="dashboard">
    <div class="card highlight">
      <div class="card-content">
        <i class="fas fa-box icon primary"></i>
        <div class="text-content">
          <div class="title">Total Entregas</div>
          <div class="value">{{producto.Total_entregas}}</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fas fa-check-circle icon success"></i>
        <div class="text-content">
          <div class="title">Entregados</div>
          <div class="value">{{producto.Total_entregados}}</div>
          <div class="percentage">{{producto.Porcentaje_entrega}}%</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fas fa-calendar-day icon info"></i>
        <div class="text-content">
          <div class="title">Entregados Hoy</div>
          <div class="value">{{producto.Entregados_hoy}}</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fas fa-truck-moving icon warning"></i>
        <div class="text-content">
          <div class="title">En Ruta</div>
          <div class="value">{{producto.En_ruta}}</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fas fa-hourglass-half icon orange"></i>
        <div class="text-content">
          <div class="title">Pendientes en Ruta</div>
          <div class="value">{{producto.Pendientes}}</div>
          <div class="percentage">{{producto.Porcentaje_pend_en_ruta}} %</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fas fa-question-circle icon gray"></i>
        <div class="text-content">
          <div class="title">Sin Ruta Beetrack</div>
          <div class="value">{{producto.Sin_ruta_beetrack}}</div>
          <div class="percentage">{{producto.Porcentaje_sin_ruta_beetrack}} %</div>
        </div>
      </div>
    </div>
    <div class="card" (click)="toggleLiveDemo()">
      <div class="card-content">
        <i class="fas fa-times-circle icon danger"></i>
        <div class="text-content">
          <div class="title">No Entregados</div>
          <div class="value">{{producto.No_entregado}}</div>
          <div class="percentage">{{producto.Porcentaje_no_entrega}} %</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <i class="fas fa-ban icon dark"></i>
        <div class="text-content">
          <div class="title">Anulados</div>
          <div class="value">{{producto.Anulados}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- PANEL 2: REGIÓN -->
<div class="panel region-table-panel">
  <h2>Resumen por Región</h2>
  <div class="paneL-resumen" *ngIf="!isLoadingRegion; else loadingRegion">
    <table class="region-summary" >
    <thead>
      <tr>
        <th>Región</th>
        <th>Total</th>
        <th>Entregados</th>
        <th>NS Región</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of nsPanelRegion; let i = index">
        <td>{{producto.Region}}</td>
        <td>{{producto.Total_region}}</td>
        <td>{{producto.Entregados}}</td>
        <td>
          <div class="progress-label">{{producto.Ns_region}} %</div>
          <div class="progress-bar">
            <!-- <div class="progress red" [style.width]="producto.Ns_region + '%'"></div> -->
             <div class="progress" [ngClass]="{
              'green': producto.Ns_region >= 97,
              'red': producto.Ns_region < 97
            }"
            [style.width]="producto.Ns_region + '%'"></div>
          </div>
        </td>
      </tr>
      <!-- Puedes agregar más regiones aquí -->
    </tbody>
  </table>

  <div class="projection-container" *ngFor="let producto of nsPanelPrincipal; let i = index">
    <h3>Proyección</h3>
    <div class="progress-label large">{{producto.Proyeccion}} %</div>
    <div class="progress-bar thick centered">
      <div class="progress"
      [ngClass]="{
        'green': producto.Proyeccion >= 97,
        'red': producto.Proyeccion < 97
      }"
      [style.width]="producto.Proyeccion + '%'"></div>
    </div>
  </div>
  </div>
</div>
<ng-template #loadingRegion>
  <div class="loading-container">
    <img src="assets/images/loading-gif.gif" width="40" height="40" alt="Cargando..." />
    <span>Cargando Región...</span>
  </div>
</ng-template>



    <!-- PANEL 3: GRÁFICO -->
<div class="panel chart-panel">
  <h2>Avance Total</h2>

    <div id="d3PieChart"></div>
    <div id="d3PieLegend" class="pie-legend"></div>
</div>

</div>


<!-- PANEL INFERIOR -->
<div class="extra-panels-wrapper">
<div class="panel-container-extra">
  <!-- Panel 1/3 -->
  <div class="panel-extra panel-tercio">
    <h5>
      <span><i class="fas fa-map-marker-alt panel-title-icon"></i> Productos Pendientes por Comunas</span>
    </h5>
    <div *ngFor="let easy of nsEasyRegion; let i = index">
  
      <strong>{{easy[0].Region}}</strong>
      <table>
        <tr *ngFor="let producto of easy; let i = index">
          <td>{{producto.Comuna}}</td>
          <td>{{producto.Pendiente}}</td>
        </tr>
      </table>
      <br>
    </div>
  </div>

  <!-- Panel 2/3 -->
  <div class="panel-extra panel-dostercios">
    <h5>
      <span><i class="fas fa-box-open panel-title-icon"></i> Detalle Productos Pendientes</span>
      <button class="download-btn" (click)="descargar_ns_easy()">
        <i class="fas fa-file-excel"></i> Excel
      </button>
    </h5>
    <p><strong>Total:</strong> {{totalProductos}}</p>
    <div class="table-scroll">
    <table class="table-header-sticky">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Guía</th>
          <th>Ruta Hela</th>
          <th>Dirección</th>
          <th>Ciudad</th>
          <th>Región</th>
        </tr>
      </thead>
      <tbody class="tableBody">
        <tr *ngFor="let producto of nsEasy; let i = index">
          <td>{{producto.Cliente}}</td>
          <td>{{producto.Guia}}</td>
          <td>{{producto.Ruta_hela}}</td>
          <td>{{producto.Direccion}}</td>
          <td>{{producto.Ciudad}}</td>
          <td>{{producto.Region}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

<c-modal id="liveDemoModal"  [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
 
  <c-modal-body class="panel-extra panel-dostercios">
        <h5 cModalTitle>Productos No Entregados </h5>
            <button (click)="toggleLiveDemo()" cButtonClose></button>
        <div  style="width: auto;">
          <p></p>
          <table id="tablaProductosPicking" >
            <thead>
              <tr>
                <th>Estado</th>
                <th>Total</th>
                <th>Porcentaje</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of panelNoEntregados; let i = index">
                <td>{{producto.Estado}}</td>
                <td>{{producto.Total}}</td>
                <td>{{producto.Porcentaje}} %</td>
              </tr>
           
            </tbody>
          </table>
            <p></p>
        </div>
      <button (click)="toggleLiveDemo()" cButton color="secondary">
      Cerrar
    </button>
  </c-modal-body>
</c-modal>

</div>