<div class="fade-in">
    <c-row>
      <c-col >
    <div class="tabla-container ">
      <c-row ngPreserveWhitespaces>
        <div>
          <div class="col-md-6 mx-auto">
            <h3>Easy CD</h3>
  
            <table class="tabla-container" *ngIf="ocultarTablaComparacion == true">
              <tr>
                <td>
              <table class="greenTable" >
                <thead>
                  <tr>
                    <th colspan="2" scope="col">API</th>
                  </tr>
                </thead>
                <tr >
                  <th scope="col">Número carga</th>
                  <th scope="col">Cantidad</th>
  
                </tr>
                <tbody>
                  <tr *ngFor="let carga of cargasEasyAPI ">
                    <th>{{ carga.Nro_carga }}</th>
                    <td>{{ carga.Cantidad }}</td>
                  </tr>
                  <tr>
                    <td colspan="2" *ngIf="isLoadingCargaComparacionAPI"><img width="50" height="50" src="../../../assets/images/loading-gif.gif" /></td>
                  </tr>
                </tbody>
              </table>
                </td>
                <td>
              <table class="greenTable" *ngIf="ocultarTablaComparacion == true">
                <thead>
                  <tr>
                    <th colspan="2" scope="col">WMS</th>
                  </tr>
                </thead>
                <tr >
                  <th scope="col">Número carga</th>
                  <th scope="col">Cantidad</th>
                </tr>
                <tbody>
                  <tr *ngFor="let carga of cargasEasyWMS ">
                    <th>{{ carga.Nro_carga }}</th>
                    <td>{{ carga.Cantidad }}</td>
                  </tr>
                  <tr>
                    <td *ngIf="isLoadingCargaComparacionWMS"> <img width="50" height="50" src="../../../assets/images/loading-gif.gif" /></td>
                  </tr>
                </tbody>
              </table>
            </td>
            </tr>
            </table>    
        </div>
      </div>
      <P></P>
      </c-row>
    <c-row ngPreserveWhitespaces>
      
      <div>
        <div class="col-md-6 mx-auto">
          <h3>Estado Productos por Cliente</h3>
          <table class="greenTable">
            <thead>
              <tr >
                <th scope="co">Fecha</th>
                <th scope="col">Hora Ingreso</th>
                <th scope="col">Cliente</th>
                <th scope="col">N° carga</th>
                <th scope="col">Entrega</th>
                <th scope="col">Bultos</th>
                <th scope="col">Verificados</th>
                <th scope="col">Sin Verificar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carga of cargaHora">
                <td>{{ carga.Fecha }}</td>
                <th scope="row">{{ carga.Hora}}</th>
                <td>{{ carga.Cliente }}</td>
                <td>{{ carga.Nro_carga }}</td>
                <td>{{ carga.Entregas }}</td>
                <td>{{ carga.Bultos }}</td>
                <td>{{ carga.Verificados }}</td>
                <td>{{ carga.No_verificados }}</td>
              </tr>
              <tr>
                <td colspan="8" *ngIf="isLoadingCarga"><img width="50" height="50" src="../../../assets/images/loading-gif.gif" /></td>
              </tr>
            </tbody>
          </table>  
      </div>
    </div>
    </c-row>
    <br/>
    <!-- <c-card class="mb-4"> -->
    <div class="fade-in">
      <c-row ngPreserveWhitespaces>
        <div>
          <div class="col-md-6 mx-auto">
            <h3>Productos por O.C. Easy</h3>
              <table class="greenTable">
                <thead>
                  <tr>
                    <th scope="col">Origen</th>
                    <th scope="col">Regíon Metropolitana</th>
                    <th scope="col">V region</th>
  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of easyRegion">
                    <td scope="row">{{ producto.Origen}}</td>
                    <th>{{ producto.R_metropolitana }}</th>
                    <th>{{ producto.V_region }}</th>
                  </tr>
                  <tr>
                     <td *ngIf="isLoadingEasyRegion" colspan="3"> <img width="50" height="50" src="../../../assets/images/loading-gif.gif" /> </td>
                 </tr> 
                </tbody>
              </table>
          </div>
      </div>
      </c-row>
    </div>
    <!-- </c-card> -->
  
    <P></P>
    <div class="fade-in">
      <c-row ngPreserveWhitespaces>
        <div>
          <div class="col-md-6 mx-auto">
            <h3>Pedidos Easy GO por tienda</h3>
              <table class="greenTable">
                <thead>
                  <tr>
                    <th scope="col">Tienda</th>
                    <th scope="col">Productos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pedido of pedidoEasyOPL">
                    <td scope="row">{{ pedido.Tiendas}}</td>
                    <th>{{ pedido.Productos }}</th>
                    <!-- <th>{{ producto.V_region }}</th> -->
                  </tr>
                  <tr>
                      <td colspan="2" *ngIf="isLoadingEasyOPL"><img width="50" height="50" src="../../../assets/images/loading-gif.gif" /></td>
                 </tr> 
                </tbody>
              </table>           
        </div>
      </div>
      </c-row>
    </div>
  
    <p></p>
    <c-row>    
      <c-col >
  
    <div class="fade-in">
      <c-row ngPreserveWhitespaces>
        <div>
          <div class="col-md-10 mx-auto">
            <h3>Pedidos sin tienda asociada</h3>
            <div class="table-sin-asociado">
              <table class="greenTable" *ngIf="ocultarTabla == true">
                <thead>
                  <tr>
                    <th scope="col">Suborden</th>
                    <th scope="col">ID entrega</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Unidades</th>
                    <th scope="col">Fecha de compromiso</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pedido of pedidoSinTiendas ">
                    <td scope="row">{{ pedido.Suborden}}</td>
                    <th>{{ pedido.Id_entrega }}</th>
                    <td>{{ pedido.Descripcion }}</td>
                    <td>{{ pedido.Unidades }}</td>
                    <td>{{ pedido.Fecha_compromiso }}</td>
                    <!-- <th>{{ producto.V_region }}</th> -->
                  </tr>
                  <tr>
                    <td *ngIf="isLoadingSinTienda" colspan="5"> <img width="50" height="50" src="../../../assets/images/loading-gif.gif" /></td>
                  </tr>
                  <tr>
                    <td colspan="5" *ngIf="noData"> Sin datos</td>
                  </tr>
                </tbody>
              </table>   
            </div>      
        </div>
      </div>
      </c-row>
    </div>

