.error {
  color: #E71B24;
}

.rectangulo,
.rectangulo-gps,
.rectangulo-seguridad {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.slide-toggle-container {
  position: relative;
  /* o absolute, fixed, dependiendo de tus necesidades */
  z-index: 1;
  /* o cualquier valor más bajo que el thead */
}

.rectangulo {
  background-color: #ffcccc;
  /* Rojo claro */
  border: 2px solid #cc0000;
  /* Borde rojo oscuro */
}

.rectangulo-gps {
  background-color: #ffffcc;
  /* Amarillo claro */
  border: 2px solid #cccc00;
  /* Borde amarillo oscuro */
}

.rectangulo-seguridad {
  background-color: #ccffcc;
  /* Verde clarito */
  border: 2px solid #006600;
  /* Borde verde oscuro */
}




input[type="text"].disabled-like {
  background-color: #f0f0f0;
  /* Color de fondo gris claro */
  color: #a0a0a0;
  /* Color de texto gris */
  border: 1px solid #d0d0d0;
  /* Borde gris */
  cursor: not-allowed;
  /* Cursor de no permitido */
  pointer-events: none;
  /* Deshabilita eventos */
}


.inline-container {
  margin: 1px;
  display: flex;
  align-items: center;
  /* Alinea los elementos verticalmente si es necesario */
}

.inline-container input,
.inline-container c-dropdown,
.inline-container span {
  margin-right: 5px;
  /* Espacio personalizado entre los elementos */
}

h2 {
  text-align: center;
}

.svgT {
  fill: #12de20
}

.svgF {
  fill: #d60a0a
}

.custom-select {
  position: relative;
  width: 100%;
}

.select-selected {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select-selected:after {
  content: '\f107';
  /* Icono de flecha abajo */
  font-family: "FontAwesome";
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 16px;
}

.select-items {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}


.alerta-amarillo {
  background-color: #fff3cd;
}

.alerta-amarilloi {
  fill: #856404;
  // margin-right: 8px;
}

.alerta-rojo {
  background-color: #f8d7da;
}

.alerta-rojoi {
  fill: #721c24;
  // margin-right: 8px;
}

.divider {
  height: 4px;
  background-color: #4CAF50;
  border-radius: 3px;
  flex-shrink: 0;
}




body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f7fa;
  color: var(--text-dark);
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 2rem;
}

header i {
  font-size: 1.5rem;
}

header h1 {
  font-size: 1.25rem;
  margin: 0;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: green;
  border-radius: 2px;
}

.filters {
  display: flex;
  flex-wrap: nowrap; // <-- Cambia esto
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  gap: 0.1rem;
  margin-bottom: 18px;
  border: 1px solid #bfbfbf;
  background: #ffffff; /* Cambia el color de fondo a #f5f7fa */
}

.filters .item {
  display: flex;
  align-items: center;
  background: #f7f7f7; /* Cambia el color de fondo a #f5f7fa */
  border-radius: 6px;
  width: auto;
}

.filters input,
.filters select {
  background: #f7f7f7; /* Color gris claro */
  border: 1px solid #d3d7df;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 1rem;
  color: #333;
  min-width: 100px;
  max-width: 150px;
}

.filters input:focus,
.filters select:focus {
  border-color: #28a745;
}

.filters .icon i {
  margin-left: 15px;
  margin-right: 7px;
  background-color: transparent;
}

.search-btn {
  background-color: #36a2eb;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.new-recruit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto; /* Agrega esto */
}
