<h2> Rutas Activas</h2>


<table class="greenTable" id="tablaProductosPicking" >
  <thead>
    <tr>
        <!-- <th>Código de Cliente</th> -->
        <th>Posición</th>
        <th>Código de Pedido</th>
        <th>Comuna</th>
        <th>SKU</th>
        <th>Producto</th>
        <th>Unidades</th>
        <th>Bultos</th>
        <th>Nombre de cliente</th>
        <th>Dirección cliente</th>
        <th>Teléfono</th>
        <!-- <th>Validado</th>
        <th>DE</th>
        <th>DF</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ruta of rutaEnActivo; let j = index">
      <td>{{ruta.Pos }}</td>
      <td>{{ruta.Codigo_pedido }}</td>
      <td>{{ruta.Comuna }}</td>
      <td>
        <table>
          <tr *ngFor="let sku of ruta.arraySKU">
            {{sku}}
          </tr>
        </table>
      </td>
      <td><table style="text-align: left">
        <tr *ngFor="let producto of ruta.arrayProductos" >
          {{producto}}
        </tr>
      </table></td>
      <td>{{ruta.Unidades }}</td>
      <td>{{ruta.Bultos }}</td>
      <td>{{ruta.Nombre_cliente }}</td>
      <td>{{ruta.Direccion_cliente }}</td>
      <td>{{ruta.Telefono }}</td>
      <!-- <td>{{ruta.Validacion }}</td>
      <td>{{ruta.DE }}</td>
      <td>{{ruta.DP }}</td> -->
    </tr>


  </tbody>
  </table>