
.nav-item {
    position: relative;
    display: inline-block;
    margin-right: 2px;
  }
  
  .nav-link:hover {
    background-color: #f0f0f0;
  }
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Coloca los elementos en una línea horizontal */
  }
  
  .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona el tooltip arriba del texto */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .nav-item:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .divider {
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
  }
  
  .patente-container {
    display: flex;
    align-items: center;
  }
  
  .modal-body2  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px; /* Ajusta el padding según sea necesario */
  }
  .patente-container {
    margin-bottom: 16px; /* Espacio entre elementos si es necesario */
  }
  
  .patente-container label,
  .patente-container span {
    font-weight: bold; /* Hacer el texto en negrita */
    align-items: center;
  }
  
  .patente-container select {
    margin-top: 8px; /* Espacio entre el label y el select */
    padding: 4px; /* Espacio interno del select */
    font-size: 1rem; /* Ajustar el tamaño de la fuente si es necesario */
  }
  
  .modal-body2 p {
    margin-top: 16px; /* Espacio entre el select y el párrafo */
  }
  
  .modal-body2 p span {
    font-weight: bold; /* Hacer el texto en negrita */
  }
  
  .modal-footer {
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-save {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .btn-save i {
    margin-right: 5px;
  }