<div class="container">
    <h4 class="header">Gestión de Citaciones de Vehículos</h4>

    <!-- Selector de Fecha y Botón Nueva Citación -->
        <div class="input-container">
            <label for="fechaCitaciones">Seleccionar Fecha:</label>
            <input type="date" class="from-control" id="fechaCitaciones" [min]="minDate" (keydown)="preventTyping($event)" formControlName="date"
                (change)="onDateChange($event)">
        </div>
    <!-- Tabla de Citaciones -->
</div>

<div>
    <div *ngIf="mensaje" [ngClass]="['mensaje-notificacion', mensajeClass]">
        {{ mensaje }}
      </div>
    <table >
        <thead >
            <th>Operación</th>
            <th>Centro de operación</th>
            <th>Región</th>
            <th>Citaciones</th>
            <th>Detalle</th>
        </thead>
        <tbody *ngFor="let Ct of modalidades">
            <td class="fas fa-calendar-plus">
                <svg (click)="getLocation()" (click)="toggleLiveDemo()" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"  (click)="getRecuperarPatentesCitaciones(Ct.Id_operacion,Ct.id_cop)" (click)="recuperarId(Ct.Id_operacion, Ct.id_cop)">
                    <path fill="currentColor" d="M7 1h10v2h4v9h-2V5h-2v2H7V5H5v16h7v2H3V3h4zm2 4h6V3H9zm11 9v4h4v2h-4v4h-2v-4h-4v-2h4v-4z" />
                </svg>
                {{Ct.operacion}}
            </td>
            <td id="nombre_CopTd">{{Ct.nombre_cop}}</td>
            <td>{{Ct.region_name}}</td>
            <td class="citaciones">
                <div class="citaciones-total">{{Ct.citacion}}</div>
                <div class="citaciones-detalle">
                    <div class="cuadro verde" title="Aprobadas">{{Ct.confirmados}}</div>
                    <div class="cuadro amarillo" title="Pendientes">{{Ct.pendientes}}</div>
                    <div class="cuadro rojo" title="Rechazadas">{{Ct.rechazadas}}</div>
                    <div class="cuadro celeste" title="Ambulancias">{{Ct.ambulancia}}</div>
                </div>
            </td>
            <td >
                <svg  xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24" (click)="getLocation()" (click)="toggleLive3()" (click)="recuperarOpCopAMB(Ct.Id_operacion, Ct.id_cop)"(click)="getPatentesFiltradasPorOpyCop(Ct.Id_operacion, Ct.id_cop)" >
                    <path fill="currentColor" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5" />
                </svg>
            </td>
        </tbody>
    </table>
</div>

<c-modal [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header class ="Modal_patentes_ingresadas">
        <h5 class="modal-title" id="modalNuevaCitacionLabel">Selección de Patentes</h5>
        <td colspan="2" *ngIf="isLoadingFull"><img width="15" height="15"
            src="../../../assets/images/loading-gif.gif" /></td>
        <button (click)="toggleLiveDemo()" type="button" cButtonClose class="close" data-dismiss="modal" aria-label="Close" >
        </button>
        
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>

    <c-modal-body class ="Modal_patentes_ingresadas">
        <!-- *ngFor="let pu of patentesList2 -->
        <table *ngIf="Cargado" >
            <thead >
                <tr >
                    <th class="thclass" style="background-color: #f2f2f2; color: #333">Patentes</th>
                    <th class="thclass" style="background-color: #f2f2f2;color: #333">Tipo de Vehículo</th>
                    <th class="thclass" style="background-color: #f2f2f2;color: #333">Razón Social</th>
                    <th class="thclass" style="background-color: #f2f2f2;color: #333">Calificación</th>
                </tr>
            </thead>
            <tbody class="modal-body">
                <!-- Ejemplo de fila de datos -->
                <tr *ngFor="let pu of patentesList2">
                    <td class="thclass"><button id="Codigo_patente" class="detalle-patente" (click)="submitForm(pu.id_ppu)"
                            (click)="recuperarIdPpu(pu.id_ppu)" (click)="getRecargarPatentesCitaciones()" (click)="getLocation()" >
                            {{pu.ppu}}
                        </button></td>
                    <td class="thclass">

                        <div *ngIf="pu.tipo == null">
                            <span>S/I</span>
                        </div>
                        
                        <div  *ngIf="pu.tipo == 1" class="Icons-vehiculo" >
                            <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 640 512">
                                <path fill="currentColor"
                                    d="M312 32c-13.3 0-24 10.7-24 24s10.7 24 24 24h25.7l34.6 64H222.9l-27.4-38c-4.5-6.3-11.8-10-19.5-10h-56c-13.3 0-24 10.7-24 24s10.7 24 24 24h43.7l22.1 30.7l-26.6 53.1c-10-2.5-20.5-3.8-31.2-3.8C57.3 224 0 281.3 0 352s57.3 128 128 128c65.3 0 119.1-48.9 127-112h49c8.5 0 16.3-4.5 20.7-11.8l84.8-143.5l21.7 40.1C402.4 276.3 384 312 384 352c0 70.7 57.3 128 128 128s128-57.3 128-128s-57.3-128-128-128c-13.5 0-26.5 2.1-38.7 6L375.4 48.8C369.8 38.4 359 32 347.2 32zm146.6 271.7l32.3 59.7c6.3 11.7 20.9 16 32.5 9.7s16-20.9 9.7-32.5l-32.3-59.7c3.6-.6 7.4-.9 11.2-.9c39.8 0 72 32.2 72 72s-32.2 72-72 72s-72-32.2-72-72c0-18.6 7-35.5 18.6-48.3M133.2 368h65c-7.3 32.1-36 56-70.2 56c-39.8 0-72-32.2-72-72s32.2-72 72-72c1.7 0 3.4.1 5.1.2l-24.2 48.5c-9 18.1 4.1 39.4 24.3 39.4zm33.7-48l50.7-101.3l72.9 101.2l-.1.1zm90.6-128H366l-49 82.8l-59.6-82.8z" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 2 " class="Icons-vehiculo">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M18 18.5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m1.5-9l1.96 2.5H17V9.5m-11 9A1.5 1.5 0 0 1 4.5 17A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 17A1.5 1.5 0 0 1 6 18.5M20 8h-3V4H3c-1.11 0-2 .89-2 2v11h2a3 3 0 0 0 3 3a3 3 0 0 0 3-3h6a3 3 0 0 0 3 3a3 3 0 0 0 3-3h2v-5z" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 3" class="Icons-vehiculo">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 640 512">
                                <path fill="currentColor"
                                    d="M64 104v88h96V96H72c-4.4 0-8 3.6-8 8m482 88l-80.9-96H384v96zm-226 0V96h-96v96zm272 192h-16c0 53-43 96-96 96s-96-43-96-96H256c0 53-43 96-96 96s-96-43-96-96H48c-26.5 0-48-21.5-48-48V104c0-39.8 32.2-72 72-72h393.1c18.9 0 36.8 8.3 49 22.8L625 186.5c9.7 11.5 15 26.1 15 41.2V336c0 26.5-21.5 48-48 48m-64 0a48 48 0 1 0-96 0a48 48 0 1 0 96 0m-368 48a48 48 0 1 0 0-96a48 48 0 1 0 0 96" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 4" class="Icons-vehiculo">
                            <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 2048 1600">
                                <path fill="currentColor"
                                    d="M480 960q0-66-47-113t-113-47t-113 47t-47 113t47 113t113 47t113-47t47-113m36-320h1016l-89-357q-2-8-14-17.5t-21-9.5H640q-9 0-21 9.5T605 283zm1372 320q0-66-47-113t-113-47t-113 47t-47 113t47 113t113 47t113-47t47-113m160-96v384q0 14-9 23t-23 9h-96v128q0 80-56 136t-136 56t-136-56t-56-136v-128H512v128q0 80-56 136t-136 56t-136-56t-56-136v-128H32q-14 0-23-9t-9-23V864q0-93 65.5-158.5T224 640h28l105-419q23-94 104-157.5T640 0h768q98 0 179 63.5T1691 221l105 419h28q93 0 158.5 65.5T2048 864" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 5" class="Icons-vehiculo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 640 512">
                                <path fill="currentColor" d="M640 0v400c0 61.9-50.1 112-112 112c-61 0-110.5-48.7-112-109.3L48.4 502.9c-17.1 4.6-34.6-5.4-39.3-22.5s5.4-34.6 22.5-39.3L352 353.8V64c0-35.3 28.7-64 64-64zm-64 400a48 48 0 1 0-96 0a48 48 0 1 0 96 0M23.1 207.7c-4.6-17.1 5.6-34.6 22.6-39.2l46.4-12.4l20.7 77.3c2.3 8.5 11.1 13.6 19.6 11.3l30.9-8.3c8.5-2.3 13.6-11.1 11.3-19.6l-20.7-77.3l46.4-12.4c17.1-4.6 34.6 5.6 39.2 22.6l41.4 154.5c4.6 17.1-5.6 34.6-22.6 39.2l-154.6 41.5c-17.1 4.6-34.6-5.6-39.2-22.6z" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 6" class="Icons-vehiculo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256">
                                <path fill="currentColor" d="M224 96.8V96a56.06 56.06 0 0 0-56-56h-8a16 16 0 0 0-16 16v120h-16V72a8 8 0 0 0-8-8H16A16 16 0 0 0 0 80v104a32 32 0 0 0 56 21.13A32 32 0 0 0 111 192h82a32 32 0 0 0 63-8v-48a40.07 40.07 0 0 0-32-39.2M160 56h8a40 40 0 0 1 40 40v8a8 8 0 0 0 8 8a24 24 0 0 1 24 24v20.31a31.7 31.7 0 0 0-16-4.31a32.06 32.06 0 0 0-31 24h-33Zm-48 24v96h-1a32 32 0 0 0-55-13.13a31.9 31.9 0 0 0-40-6.56V80ZM32 200a16 16 0 1 1 16-16a16 16 0 0 1-16 16m48 0a16 16 0 1 1 16-16a16 16 0 0 1-16 16m144 0a16 16 0 1 1 16-16a16 16 0 0 1-16 16" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 7" class="Icons-vehiculo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256">
                                <path fill="currentColor" d="M224 96.8V96a56.06 56.06 0 0 0-56-56h-8a16 16 0 0 0-16 16v120h-16V72a8 8 0 0 0-8-8H16A16 16 0 0 0 0 80v104a32 32 0 0 0 56 21.13A32 32 0 0 0 111 192h82a32 32 0 0 0 63-8v-48a40.07 40.07 0 0 0-32-39.2M32 200a16 16 0 1 1 16-16a16 16 0 0 1-16 16m48 0a16 16 0 1 1 16-16a16 16 0 0 1-16 16m144 0a16 16 0 1 1 16-16a16 16 0 0 1-16 16" />
                            </svg>
                        </div>
                        <div *ngIf="pu.tipo == 8 " class="Icons-vehiculo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                                <path fill="currentColor" d="M2 3.75C2 2.784 2.784 2 3.75 2h5.5c.967 0 1.75.784 1.75 1.75V4h.382a1.5 1.5 0 0 1 1.342.83l1.118 2.235a1.5 1.5 0 0 1 .158.671V11a1.5 1.5 0 0 1-1.5 1.5h-.563a2 2 0 0 1-3.874 0H6.937a2 2 0 0 1-3.907-.155A1.75 1.75 0 0 1 2 10.75zm6.063 7.75A2 2 0 0 1 10 10V3.75A.75.75 0 0 0 9.25 3h-5.5a.75.75 0 0 0-.75.75v7c0 .175.06.336.16.464a2 2 0 0 1 3.777.286zM11 10.268a2 2 0 0 1 .937 1.232h.563a.5.5 0 0 0 .5-.5V8h-2zM11 7h1.691l-.862-1.724A.5.5 0 0 0 11.382 5H11zm-6 4a1 1 0 1 0 0 2a1 1 0 0 0 0-2m4 1a1 1 0 1 0 2 0a1 1 0 0 0-2 0" />
                            </svg>
                        </div>
                        
                        <div *ngIf="pu.tipo == 9" class="Icons-vehiculo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256">
                                <path fill="currentColor" d="M240 114h-29.51l-43.9-43.9a13.94 13.94 0 0 0-9.9-4.1H44.28a14 14 0 0 0-11.65 6.23L3 116.67A6 6 0 0 0 2 120v48a14 14 0 0 0 14 14h18.6a30 30 0 0 0 58.8 0h69.2a30 30 0 0 0 58.8 0H240a14 14 0 0 0 14-14v-40a14 14 0 0 0-14-14M42.62 78.89a2 2 0 0 1 1.66-.89h112.41a2 2 0 0 1 1.41.59L193.52 114H19.21ZM64 194a18 18 0 1 1 18-18a18 18 0 0 1-18 18m128 0a18 18 0 1 1 18-18a18 18 0 0 1-18 18m50-26a2 2 0 0 1-2 2h-18.6a30 30 0 0 0-58.8 0H93.4a30 30 0 0 0-58.8 0H16a2 2 0 0 1-2-2v-42h226a2 2 0 0 1 2 2Z" />
                            </svg>
                        </div>

                        <div *ngIf="pu.tipo == 10" class="Icons-vehiculo">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 640 512">
                                <path fill="currentColor"
                                    d="M64 104v88h96V96H72c-4.4 0-8 3.6-8 8m482 88l-80.9-96H384v96zm-226 0V96h-96v96zm272 192h-16c0 53-43 96-96 96s-96-43-96-96H256c0 53-43 96-96 96s-96-43-96-96H48c-26.5 0-48-21.5-48-48V104c0-39.8 32.2-72 72-72h393.1c18.9 0 36.8 8.3 49 22.8L625 186.5c9.7 11.5 15 26.1 15 41.2V336c0 26.5-21.5 48-48 48m-64 0a48 48 0 1 0-96 0a48 48 0 1 0 96 0m-368 48a48 48 0 1 0 0-96a48 48 0 1 0 0 96" />
                            </svg>
                        </div>
                        
                    </td>
                    <td class="thclass">{{pu.razon_social}}</td>
                    <td class="thclass">TBA</td>
                </tr>
            </tbody>
        </table>
    </c-modal-body>
    <c-modal-footer class ="Modal_patentes_ingresadas">
        <br>
    </c-modal-footer>
</c-modal>

<c-modal [visible]="visible2" (visibleChange)="handleLiveDemoChange2($event)">
    <c-modal-header>
        <h5 class="modal-title" id="modalNuevaCitacionLabel">Agregar Transportista</h5>
        <button (click)="toggleLiveTP()" cButtonClose type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        </button>
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>

    <c-modal-body>
        <div class="select-conductor-container">
            <label for="conductores"> Choferes</label>
            <select class="form-control" id="conductores2"[(ngModel)]="conductores2">
                <option value="" disabled selected>Seleccione una opción</option>
                <ng-container *ngFor="let pu of patentesList">
                <option  [value]="pu.id_driver" *ngIf="pu.nombre_driver">{{pu.nombre_driver}}</option>
                </ng-container>
            </select>
        </div>
        <div class="select-peoneta-container">
            <Label>Peonetas</Label>
            <select class="form-control" id="peonetas2" [(ngModel)]="peonetas2">
                <option value="" disabled selected>Seleccione una opción</option>
                <ng-container *ngFor="let pu of patentesList" >
                    <option [value]="pu.id_peoneta" *ngIf="pu.nombre_peoneta">{{pu.nombre_peoneta}}</option>
                </ng-container>
                
            </select>
        </div>
        
    </c-modal-body>

    <c-modal-footer>
        <button type="submit" class="btn btn-primary mt-3" (click)="ingresoDriversPeonetas()" (click)="toggleLive3()" (click)="toggleLiveTP()">Guardar</button>

    </c-modal-footer>
</c-modal>

<c-modal [visible]="visible3" (visibleChange)="handleLiveDemoChange3($event)">
    <c-modal-header class ="code-font">
        <h5  id="modalNuevaCitacionLabel">Patentes</h5>
        <td colspan="2" *ngIf="isLoadingFull"><img width="15rem" height="15rem"
            src="../../../assets/images/loading-gif.gif" /></td>
        <button (click)="toggleLive3()" cButtonClose type="button" class="close" data-dismiss="modal"
            aria-label="Close">
        </button>
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>
    <c-modal-body class ="code-font" *ngIf="Cargado">
        
        <table class="tableclass">
            <thead>
                <tr>
                    <th class="thclass">Patente</th>
                    <th class="thclass">Estado</th>
                    <th class="thclass">ID Meli</th>
                    <th class="thclass">Tipo Ruta</th>
                    <th class="thclass">Acciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let pu of patentesList" class="modal-body" >
                <tr>
                    <td class="tdclass">
                        <span id="Codigo_patente" class="detalle-patente">
                            {{pu.ppu}}
                        </span>
                    </td>
                    <td class="tdclass">
                        <select id="estado" name="estado_{{pu.id_ppu}}" class="selectEstado"  [(ngModel)]="selectedEstados[pu.id_ppu]" (change)="updateEstado(pu.id_ppu, $event)">
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option *ngFor="let es of estados" [value]="es.id">{{es.estado}}</option>
                        </select>
                    </td>
                    <td class="tdclass">
                        <input type="text" placeholder="Id Meli" #rutaMeliInput id="rutaMeli" class="inputRutaMeli" 
                            [(ngModel)]="rutaMeliValues[pu.id_ppu]">
                    </td>
                    <td class="tdclass">
                        <select name="selectTipoRuta" id="tipoRuta"  [name]="'tipoRuta' + pu.id_ppu" class="selectTipoRuta"
                            [(ngModel)]="selectedTipoRuta[pu.id_ppu]" (change)="updateTipoRuta(pu.id_ppu, $event)" >
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option *ngFor="let tr of dataTipoRuta" [value]="tr.id">{{tr.tipo}}</option>
                        </select>
                    </td>
                    <td>
                        <!-- class="icons" -->
                        
                            <nav class="icons">
                                <div [ngStyle]="colorPunto(selectedEstados[pu.id_ppu], selectedTipoRuta[pu.id_ppu])" class="punto_rojo"></div>
                                <ul class="nav-list">
                                    <li class="nav-item">
                                        <svg  xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                                            viewBox="0 0 24 24" (click)="recuperarIdPpu(pu.id_ppu)"
                                            (click)="getLocation()" (click)="toggleLiveTP()" (click)="toggleLive3()">
                                            <g fill="none">
                                                <circle cx="8" cy="8" r="2.5" stroke="currentColor" stroke-linecap="round" />
                                                <path stroke="currentColor" d="M11.768 8.5a2 2 0 1 1 3.464 2a2 2 0 0 1-3.464-2z" />
                                                <path fill="currentColor"
                                                    d="m13.405 17.507l.494-.079zM12.5 18h-9v1h9zm-9.412-.414c.13-.814.442-1.971 1.176-2.915C4.979 13.751 6.119 13 8 13v-1c-2.199 0-3.626.9-4.526 2.057c-.88 1.134-1.231 2.48-1.373 3.371zM8 13c1.881 0 3.02.75 3.736 1.671c.734.944 1.046 2.1 1.176 2.915l.987-.158c-.142-.89-.492-2.237-1.373-3.37C11.626 12.9 10.199 12 8 12zm-4.5 5c-.292 0-.443-.217-.412-.414l-.987-.158C1.958 18.322 2.687 19 3.5 19zm9 1c.813 0 1.542-.678 1.4-1.572l-.988.158c.031.197-.12.414-.412.414z" />
                                                <path fill="currentColor"
                                                    d="m17.297 17.416l-.485.122zM11.8 13.981l-.268-.422l-.515.327l.422.44zm1.605 3.526l.494-.079zm2.99.493H12.5v1h3.895zm.417-.462c.053.215-.104.462-.417.462v1c.87 0 1.62-.772 1.387-1.705zM13.5 14c1.028 0 1.75.503 2.278 1.207c.54.718.856 1.624 1.034 2.33l.97-.242c-.192-.764-.55-1.816-1.204-2.689C15.913 13.72 14.92 13 13.5 13zm-1.432.403c.39-.247.858-.403 1.432-.403v-1c-.768 0-1.421.212-1.968.559zm-.629-.077c.947.99 1.326 2.339 1.473 3.26l.987-.158c-.16-1-.583-2.586-1.737-3.793zm1.473 3.26c.031.197-.12.414-.412.414v1c.813 0 1.542-.678 1.4-1.572z" />
                                                <rect width="4.5" height=".5" x="16.25" y="5.25" stroke="currentColor" stroke-linecap="round"
                                                    stroke-width="0.5" rx=".25" />
                                                <rect width="4.5" height=".5" x="18.75" y="3.25" stroke="currentColor" stroke-linecap="round"
                                                    stroke-width="0.5" rx=".25" transform="rotate(90 18.75 3.25)" />
                                            </g>
                                        </svg>
                                        <span class="tooltip">
                                            Usuarios
                                            <br>
                                            {{ (pu.nombre_driver || pu.nombre_peoneta) ? (pu.nombre_driver + ' ' + pu.nombre_peoneta) : 'S/I de conductores' }}
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <svg class="fas fa-save" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"
                                            (click)="updateRutaMeli(pu.id_ppu, rutaMeliInput)" (click)="getLocation()">
                                            <path fill="currentColor"
                                                d="M21 7v12q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12zm-9 11q1.25 0 2.125-.875T15 15t-.875-2.125T12 12t-2.125.875T9 15t.875 2.125T12 18m-6-8h9V6H6z" />
                                        </svg>
                                        <span class="tooltip">
                                                Guardar
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <svg class="fas fa-trash" xmlns="http://www.w3.org/2000/svg" style="color: red;" width="1.5em" height="1.5em"
                                            viewBox="0 0 512 512" (click)="eliminarPpu(pu.id_ppu)" (click)="getLocation()"
                                            (click)="getRecargarPatentesCitaciones()">
                                            <rect width="448" height="80" x="32" y="48" fill="currentColor" rx="32" ry="32" />
                                            <path fill="currentColor"
                                                d="M74.45 160a8 8 0 0 0-8 8.83l26.31 252.56a1.5 1.5 0 0 0 0 .22A48 48 0 0 0 140.45 464h231.09a48 48 0 0 0 47.67-42.39v-.21l26.27-252.57a8 8 0 0 0-8-8.83Zm248.86 180.69a16 16 0 1 1-22.63 22.62L256 318.63l-44.69 44.68a16 16 0 0 1-22.63-22.62L233.37 296l-44.69-44.69a16 16 0 0 1 22.63-22.62L256 273.37l44.68-44.68a16 16 0 0 1 22.63 22.62L278.62 296Z" />
                                        </svg>
                                        <span class="tooltip">Eliminar</span>
                                    </li>
                                    <li class="nav-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" *ngIf="selectedTipoRuta[pu.id_ppu] == '5' && selectedEstados[pu.id_ppu] == '1'" (click)="recuperarIdPpu(pu.id_ppu)"(click)="initializeAmbulanceCode();" (click)="getInfoAMB()" width="1.5em" height="1.5em" viewBox="0 0 24 24"(click)="toggleAmbulance()" (click)="toggleLive3()">
                                            <path fill="currentColor" 
                                            d="M18 18.5a1.5 1.5 0 0 0 1.5-1.5a1.5 1.5 0 0 0-1.5-1.5a1.5 1.5 0 0 0-1.5 1.5a1.5 1.5 0 0 0 1.5 1.5m1.5-9H17V12h4.46zM6 18.5A1.5 1.5 0 0 0 7.5 17A1.5 1.5 0 0 0 6 15.5A1.5 1.5 0 0 0 4.5 17A1.5 1.5 0 0 0 6 18.5M20 8l3 4v5h-2a3 3 0 0 1-3 3a3 3 0 0 1-3-3H9a3 3 0 0 1-3 3a3 3 0 0 1-3-3H1V6c0-1.11.89-2 2-2h14v4zM8 6v3H5v2h3v3h2v-3h3V9h-3V6z" />
                                        </svg> 
                                        <span class="tooltip">
                                            Ambulancia
                                        </span>
                                    </li>
                                </ul>
                            </nav>


                        <!-- <svg class="fa-solid fa-user-plus" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em"
                            viewBox="0 0 24 24" (click)="toggleLiveTP()" (click)="recuperarIdPpu(pu.id_ppu)" 
                            (click)="toggleLive3()" (click)="getLocation()">
                            <g fill="none">
                                <circle cx="8" cy="8" r="2.5" stroke="currentColor" stroke-linecap="round" />
                                <path stroke="currentColor" d="M11.768 8.5a2 2 0 1 1 3.464 2a2 2 0 0 1-3.464-2z" />
                                <path fill="currentColor"
                                    d="m13.405 17.507l.494-.079zM12.5 18h-9v1h9zm-9.412-.414c.13-.814.442-1.971 1.176-2.915C4.979 13.751 6.119 13 8 13v-1c-2.199 0-3.626.9-4.526 2.057c-.88 1.134-1.231 2.48-1.373 3.371zM8 13c1.881 0 3.02.75 3.736 1.671c.734.944 1.046 2.1 1.176 2.915l.987-.158c-.142-.89-.492-2.237-1.373-3.37C11.626 12.9 10.199 12 8 12zm-4.5 5c-.292 0-.443-.217-.412-.414l-.987-.158C1.958 18.322 2.687 19 3.5 19zm9 1c.813 0 1.542-.678 1.4-1.572l-.988.158c.031.197-.12.414-.412.414z" />
                                <path fill="currentColor"
                                    d="m17.297 17.416l-.485.122zM11.8 13.981l-.268-.422l-.515.327l.422.44zm1.605 3.526l.494-.079zm2.99.493H12.5v1h3.895zm.417-.462c.053.215-.104.462-.417.462v1c.87 0 1.62-.772 1.387-1.705zM13.5 14c1.028 0 1.75.503 2.278 1.207c.54.718.856 1.624 1.034 2.33l.97-.242c-.192-.764-.55-1.816-1.204-2.689C15.913 13.72 14.92 13 13.5 13zm-1.432.403c.39-.247.858-.403 1.432-.403v-1c-.768 0-1.421.212-1.968.559zm-.629-.077c.947.99 1.326 2.339 1.473 3.26l.987-.158c-.16-1-.583-2.586-1.737-3.793zm1.473 3.26c.031.197-.12.414-.412.414v1c.813 0 1.542-.678 1.4-1.572z" />
                                <rect width="4.5" height=".5" x="16.25" y="5.25" stroke="currentColor" stroke-linecap="round"
                                    stroke-width="0.5" rx=".25" />
                                <rect width="4.5" height=".5" x="18.75" y="3.25" stroke="currentColor" stroke-linecap="round"
                                    stroke-width="0.5" rx=".25" transform="rotate(90 18.75 3.25)" />
                            </g>
                        </svg>
                        <svg class="fas fa-save" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"
                            (click)="updateRutaMeli(pu.id_ppu, rutaMeliInput)"
                            (click)="getLocation()" >
                            <path fill="currentColor"
                                d="M21 7v12q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12zm-9 11q1.25 0 2.125-.875T15 15t-.875-2.125T12 12t-2.125.875T9 15t.875 2.125T12 18m-6-8h9V6H6z" />
                        </svg>
                        <svg class="fas fa-trash" xmlns="http://www.w3.org/2000/svg" style="color: red;" width="1.5em"
                            height="1.5em" viewBox="0 0 512 512" (click)="eliminarPpu(pu.id_ppu)" (click)="getLocation()" (click)="getRecargarPatentesCitaciones()">
                            <rect width="448" height="80" x="32" y="48" fill="currentColor" rx="32" ry="32" />
                            <path fill="currentColor"
                                d="M74.45 160a8 8 0 0 0-8 8.83l26.31 252.56a1.5 1.5 0 0 0 0 .22A48 48 0 0 0 140.45 464h231.09a48 48 0 0 0 47.67-42.39v-.21l26.27-252.57a8 8 0 0 0-8-8.83Zm248.86 180.69a16 16 0 1 1-22.63 22.62L256 318.63l-44.69 44.68a16 16 0 0 1-22.63-22.62L233.37 296l-44.69-44.69a16 16 0 0 1 22.63-22.62L256 273.37l44.68-44.68a16 16 0 0 1 22.63 22.62L278.62 296Z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" *ngIf="selectedTipoRuta[pu.id_ppu] == '5'" width="1.5em" height="1.5em" viewBox="0 0 24 24"(click)="toggleAmbulance()" (click)="recuperarIdPpu(pu.id_ppu)" (click)="toggleLive3()">
                            <path fill="currentColor" 
                            d="M18 18.5a1.5 1.5 0 0 0 1.5-1.5a1.5 1.5 0 0 0-1.5-1.5a1.5 1.5 0 0 0-1.5 1.5a1.5 1.5 0 0 0 1.5 1.5m1.5-9H17V12h4.46zM6 18.5A1.5 1.5 0 0 0 7.5 17A1.5 1.5 0 0 0 6 15.5A1.5 1.5 0 0 0 4.5 17A1.5 1.5 0 0 0 6 18.5M20 8l3 4v5h-2a3 3 0 0 1-3 3a3 3 0 0 1-3-3H9a3 3 0 0 1-3 3a3 3 0 0 1-3-3H1V6c0-1.11.89-2 2-2h14v4zM8 6v3H5v2h3v3h2v-3h3V9h-3V6z" />
                        </svg> -->
                    </td>
                
                </tr>
            </tbody>
        </table>

    </c-modal-body>
    <c-modal-footer class ="code-font">
        <br>
    </c-modal-footer>

</c-modal>

<c-modal [visible]="visibleAmbulance" (visibleChange)="handleLiveDemoChange4($event)">
    <c-modal-header class="code-font">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24">
            <path fill="currentColor" 
            d="M18 18.5a1.5 1.5 0 0 0 1.5-1.5a1.5 1.5 0 0 0-1.5-1.5a1.5 1.5 0 0 0-1.5 1.5a1.5 1.5 0 0 0 1.5 1.5m1.5-9H17V12h4.46zM6 18.5A1.5 1.5 0 0 0 7.5 17A1.5 1.5 0 0 0 6 15.5A1.5 1.5 0 0 0 4.5 17A1.5 1.5 0 0 0 6 18.5M20 8l3 4v5h-2a3 3 0 0 1-3 3a3 3 0 0 1-3-3H9a3 3 0 0 1-3 3a3 3 0 0 1-3-3H1V6c0-1.11.89-2 2-2h14v4zM8 6v3H5v2h3v3h2v-3h3V9h-3V6z" />
        </svg>
        <h5 class="modal-title" id="modalNuevaCitacionLabel">Ambulancia</h5>
        <button    cButtonClose type="button" class="close" data-dismiss="modal"
            aria-label="Close" (click)="toggleLive3()" (click)="toggleAmbulance()">
        </button>
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>
    <c-modal-body class="code-font" >
    
        <div class="divider"></div>
        <div class="modal-body2">
        
            <div class="patente-container">
                <label for="patente">Patente:</label>
                <select id="patente" (change)="onSelectChange($event)">
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option *ngFor="let ia of infoAmbulancia" [value]="ia.id_ppu" [attr.data-id-ruta]="ia.ruta_meli">
                        <span>{{ia.ppu}}</span>
                    </option>
                </select>
            </div>
            <div>
                <p id="idRutaMeli">Ruta: <span>{{rutaMeliSeleccionada}}</span></p>
            </div>
        </div>
    
    </c-modal-body>
    <c-modal-footer class="code-font">
        <div class="modal-footer">
            <button class="btn btn-save" (click)="getLocation()" (click)="initializeAmbulanceCode()" (click)="ingresarDatosAmbulancia()"  
                 >Guardar</button>
    
        </div>
    
    </c-modal-footer>

</c-modal>