@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

.code-font {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100vh;
  margin: 0;
}
.inputSP{
  width: 100%;           /* Ocupa el 100% del ancho del contenedor */
  padding: 10px;         /* Espacio interno para mejor presentación */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 5px;    /* Bordes redondeados */
  font-size: 16px;       /* Tamaño de fuente adecuado */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  outline: none;         /* Elimina el borde azul al hacer clic */
}

.inputSP:focus{
  border-color: #66afe9; /* Cambia el color del borde al hacer foco */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Sombra suave al hacer foco */
}

/* Estilos individuales para cada input-container */
.input-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Para que ambos inputs ocupen el mismo ancho */
}

/* Estilo para el label */
.input-container label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Estilo para el input */
.input-container input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-body {
  overflow: hidden;
}
.icon-input {
    position: relative;
}
label {
  font-size: 1.2em;
  margin-right: 10px;
}

input[type="date"] {
  padding: 5px;
  font-size: 1em;
}

.tablaPrincipal {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}
.citaciones {
  text-align: center;
}

.citaciones-total {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.citaciones-detalle {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.cuadro {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border: 2px solid;
  font-size: 0.8em;
}
.verde {
  background-color: #4CAF50;
  border-color: #388E3C;
}

.amarillo {
  background-color: #FFEB3B;
  border-color: #FBC02D;
  color: black;
}

.rojo {
  background-color: #F44336;
  border-color: #D32F2F;
}

.celeste {
  background-color: #00BCD4;
  border-color: #0288D1;
}

.confirmar, .eliminar {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.eliminar {
  background-color: red;
}

.icon-input i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-input input {
    padding-left: 35px;
}

.patente-rect {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid #343a40;
    border-radius: 5px;
    background-color: #d6d8db;
    color: #343a40;
}

.btn-delete {
    margin-left: 10px;
    color: #dc3545;
    cursor: pointer;
}

.inline-form {
    display: flex;
    align-items: center;
}

.inline-form .form-control {
    width: auto;
    margin-right: 10px;
}
/* Icon input styles */
.icon-input {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  input {
    padding-left: 35px;
  }
}

/* Patente rect styles */
.patente-rect {
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  border: 1px solid #343a40;
  border-radius: 5px;
  background-color: #d6d8db;
  color: #343a40;
}

.btn-delete {
  margin-left: 10px;
  color: #dc3545;
  cursor: pointer;
}

.inline-form {
  display: flex;
  align-items: center;

  .form-control {
    width: auto;
    margin-right: 10px;
  }
}
.detalle-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los elementos */
}


//seccion panel

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: space-between;
    // align-items: center; /* Centra verticalmente el contenido */
    transition: all 0.3s ease-in-out;
    flex: 1;
    font-size: 0.9em;
    height: 100px; /* Ajustar la altura */
    overflow: hidden;
}

.icon-background {
    border-radius: 0 50% 50% 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste del tamaño y color de los íconos según el color del fondo */
.card-red .icon-background {
    background-color: #ffcccc;
}

.card-red i {
    color: #d9534f; /* Rojo oscuro */
    font-size: 2.5em;
}

.card-blue .icon-background {
    background-color: #cceeff;
}

.card-blue i {
    color: #3399ff; /* Azul más oscuro */
    font-size: 2.5em;
}

.card-yellow .icon-background {
    background-color: #fff0b3;
}

.card-yellow i {
    color: #ffcc00; /* Amarillo más oscuro */
    font-size: 2.5em;
}

.card-green .icon-background {
    background-color: #ccffcc;
}

.card-green i {
    color: #5cb85c; /* Verde oscuro */
    font-size: 2.5em;
}

.card h3 {
    margin: 0;
    font-size: 0.9em;
    color: #666; /* Gris oscuro */
    text-align: right;
    line-height: 1.2em; /* Ajuste de la altura de línea para mejorar el centrado vertical */
}

.card .number {
    font-size: 1.5em;
    color: #333;
    text-align: right;
    line-height: 1.2em;
}

/* Colores de fondo para cada tarjeta */
.card-red {
    background-color: #ffeded;
}

.card-blue {
    background-color: #e0f7ff;
}

.card-yellow {
    background-color: #fff7e0;
}

.card-green {
    background-color: #e7ffe0;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrando verticalmente el texto */
    height: 100%;
    padding-right: 10px;
}

//diseño de alertas
#alertaContainer {
  position: fixed;
  right: 20px;
  bottom: 20px; /* Cambiado de 'top' a 'bottom' para que esté en la parte inferior */
  display: flex;
  flex-direction: column; /* Cambiado a 'column' para que las alertas se apilen hacia arriba */
  gap: 10px;
  align-items: flex-end; /* Alinea las alertas a la derecha */
  max-height: 90%; /* Limita la altura para evitar que se desborden demasiado */
  overflow-y: auto; /* Si hay muchas alertas, pueden hacer scroll */
  color: white;
}

/* Estilo base para todas las alertas */
#alertaContainer .alerta {
  width: 300px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 14px;
  z-index: 9999;
}

/* Alertas de éxito (verde) */
#alertaContainer .alerta.success {
  background-color: #28a745; /* Verde */
}

/* Alertas de error (rojo) */
#alertaContainer .alerta.error {
  background-color: #dc3545; /* Rojo */
}

/* Alertas de advertencia (amarillo) */
#alertaContainer .alerta.warning {
  background-color: #ffc107; /* Amarillo */
  color: black; /* Cambiar el texto a negro para mejor contraste */
}

/* Iconos de las alertas */
.alerta i {
  margin-right: 8px;
  font-size: 18px;
}