<div class="container mt-5">
    <h1 class="mb-4">Gestión de Citaciones de Vehículos</h1>

    <!-- Selector de Fecha y Botón Nueva Citación -->
    <div class="inline-form mb-3">
        <div class="form-group">
            <label for="fechaCitaciones">Seleccionar Fecha:</label>
            <input type="date" class="form-control" id="fechaCitaciones">

            
        </div>
        <div>
            <br>
        <svg class="nueva_citacion" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24" (click)="toggleLiveDemo()" >
                <path fill="currentColor" d="M7 1h10v2h4v9h-2V5h-2v2H7V5H5v16h7v2H3V3h4zm2 4h6V3H9zm11 9v4h4v2h-4v4h-2v-4h-4v-2h4v-4z" />
        </svg>
        </div> 
    </div>
    <!-- Tabla de Citaciones -->
</div>

<div>
    <div *ngIf="mensaje" [ngClass]="['mensaje-notificacion', mensajeClass]">
        {{ mensaje }}
      </div>
    <table >
        <thead >
            <th>Operación</th>
            <th>Centro de operación</th>
            <th>Región</th>
            <th>Citaciones</th>
            <th>Detalle</th>
        </thead>
        <tbody *ngFor="let Ct of modalidades">
            <td id="OperacionTd">{{Ct.operacion}}</td>
            <td id="nombre_CopTd">{{Ct.nombre_cop}}</td>
            <td>{{Ct.region_name}}</td>
            <td>{{Ct.confirmados}}</td>
            <td >
                <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24" (click)="toggleLive3()" (click)="getPatentesFiltradasPorOpyCop(Ct.Id_operacion, Ct.id_cop)">
                    <path fill="currentColor" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M18 18.5a1.5 1.5 0 0 0 1.5-1.5a1.5 1.5 0 0 0-1.5-1.5a1.5 1.5 0 0 0-1.5 1.5a1.5 1.5 0 0 0 1.5 1.5m1.5-9H17V12h4.46zM6 18.5A1.5 1.5 0 0 0 7.5 17A1.5 1.5 0 0 0 6 15.5A1.5 1.5 0 0 0 4.5 17A1.5 1.5 0 0 0 6 18.5M20 8l3 4v5h-2a3 3 0 0 1-3 3a3 3 0 0 1-3-3H9a3 3 0 0 1-3 3a3 3 0 0 1-3-3H1V6c0-1.11.89-2 2-2h14v4zM8 6v3H5v2h3v3h2v-3h3V9h-3V6z" />
                </svg>
            </td>
        </tbody>
    </table>
</div>

<c-modal [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <h5 class="modal-title" id="modalNuevaCitacionLabel">Nueva Citación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleLiveDemo()">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>

    <c-modal-body>
        <form id="formNuevaCitacion">
            <div class="form-row" >
                <div class="form-group col-md-6">
                    <label for="operacion">Operación</label>
                    <select class="form-control" id="operacionSelect" [(ngModel)]="operacionValue" name ="operacion">
                        <option *ngFor="let Ct of modalidades" [value]="Ct.Id_operacion" >{{Ct.operacion}}</option>
                        <!-- Agregar más opciones según sea necesario -->
                    </select>

                    <label for="centroOperacion">Centro de Operación</label>
                    <select class="form-control" id="centroOperacion" [(ngModel)]="centroOperacionValue"  name="centroOperacion" (change)="getRecuperarPatentesCitaciones()">
                        <option *ngFor="let Ct of modalidades"  [value]="Ct.id_cop"  >{{Ct.nombre_cop}}</option>
                        <!-- Agregar más opciones según sea necesario -->
                    </select>
                </div>
                <div class="form-group col-md-6">
                    
                </div>
                <div class="form-group col-md-6">
                    <span>Patentes disponibles</span>
                    <div *ngFor="let pu of patentesList2">
                        <button id="Codigo_patente" class="detalle-patente" (click)="submitForm(pu.id_ppu, pu.tipo )" >
                        {{pu.ppu}}
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </c-modal-body>

    <c-modal-footer>
        <br>
    </c-modal-footer>
</c-modal>

<c-modal [visible]="visible2" (visibleChange)="handleLiveDemoChange2($event)">
    <c-modal-header>
        <h5 class="modal-title" id="modalNuevaCitacionLabel">Agregar Transportista</h5>
        <button (click)="toggleLiveTP()" cButtonClose type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>

    <c-modal-body>
        <div class="select-conductor-container">
            <label for="conductores"> Choferes</label>
            <select class="form-control" id="operacion">
                <option *ngFor="let con of conductores" [value]="con.nombre_completo">{{con.nombre_completo}}</option>
            </select>
        </div>
        <div class="select-peoneta-container">
            <Label>Peonetas</Label>
            <select class="form-control" id="centroOperacion">
                <option *ngFor="let peo of peonetas" [value]="peo.nombre_completo">{{peo.nombre_completo}}</option>
            </select>
        </div>
        
        <div  >
            <small>Patentes disponibles</small>
            <select class="form-control" >
                <option *ngFor="let pu of patentesList" [value]="pu.ppu">{{pu.ppu}}</option>
            </select>
        </div>
    </c-modal-body>

    <c-modal-footer>
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>

    </c-modal-footer>
</c-modal>

<c-modal [visible]="visible3" (visibleChange)="handleLiveDemoChange3($event)">
    <c-modal-header>
        <h5 class="modal-title" id="modalNuevaCitacionLabel">Patentes</h5>
        <button (click)="toggleLive3()" cButtonClose type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button  (click)="toggleLiveDemo()"cButtonClose></button> -->
    </c-modal-header>
    <c-modal-body class ="code-font">
        <div class="detalle-container" >
            <div *ngFor="let pu of patentesList">
                <span id="Codigo_patente" class="detalle-patente" [ngStyle]="{'background-color': getColor(pu.estado), 'color': getColorLetra(pu.estado)}" >
                    {{pu.ppu}}
                </span>
                <select id="estado" name="estado_{{pu.id_ppu}}" class="selectEstado" [(ngModel)]="selectedEstados[pu.id_ppu] ">
                    <option *ngFor="let es of estados" [value]="es.id">{{es.estado}}</option>
                </select>
                <input type="text" placeholder="Id Meli" id="rutaMeli" class="inputRutaMeli" [(ngModel)]="rutaMeliValues[pu.id_ppu]">
                
                <select name="selectTipoRuta" id="tipoRuta" [name]="'tipoRuta' + pu.id_ppu" class="selectTipoRuta" [(ngModel)]="selectedTipoRuta[pu.id_ppu]">
                    <option *ngFor="let tr of dataTipoRuta" [value]="tr.id">{{tr.tipo}}</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24" (click)="toggleLiveTP()" (click)="toggleLive3()">
                    <g fill="none">
                        <circle cx="8" cy="8" r="2.5" stroke="currentColor" stroke-linecap="round" />
                        <path stroke="currentColor" d="M11.768 8.5a2 2 0 1 1 3.464 2a2 2 0 0 1-3.464-2z" />
                        <path fill="currentColor"
                            d="m13.405 17.507l.494-.079zM12.5 18h-9v1h9zm-9.412-.414c.13-.814.442-1.971 1.176-2.915C4.979 13.751 6.119 13 8 13v-1c-2.199 0-3.626.9-4.526 2.057c-.88 1.134-1.231 2.48-1.373 3.371zM8 13c1.881 0 3.02.75 3.736 1.671c.734.944 1.046 2.1 1.176 2.915l.987-.158c-.142-.89-.492-2.237-1.373-3.37C11.626 12.9 10.199 12 8 12zm-4.5 5c-.292 0-.443-.217-.412-.414l-.987-.158C1.958 18.322 2.687 19 3.5 19zm9 1c.813 0 1.542-.678 1.4-1.572l-.988.158c.031.197-.12.414-.412.414z" />
                        <path fill="currentColor"
                            d="m17.297 17.416l-.485.122zM11.8 13.981l-.268-.422l-.515.327l.422.44zm1.605 3.526l.494-.079zm2.99.493H12.5v1h3.895zm.417-.462c.053.215-.104.462-.417.462v1c.87 0 1.62-.772 1.387-1.705zM13.5 14c1.028 0 1.75.503 2.278 1.207c.54.718.856 1.624 1.034 2.33l.97-.242c-.192-.764-.55-1.816-1.204-2.689C15.913 13.72 14.92 13 13.5 13zm-1.432.403c.39-.247.858-.403 1.432-.403v-1c-.768 0-1.421.212-1.968.559zm-.629-.077c.947.99 1.326 2.339 1.473 3.26l.987-.158c-.16-1-.583-2.586-1.737-3.793zm1.473 3.26c.031.197-.12.414-.412.414v1c.813 0 1.542-.678 1.4-1.572z" />
                        <rect width="4.5" height=".5" x="16.25" y="5.25" stroke="currentColor" stroke-linecap="round"
                            stroke-width="0.5" rx=".25" />
                        <rect width="4.5" height=".5" x="18.75" y="3.25" stroke="currentColor" stroke-linecap="round"
                            stroke-width="0.5" rx=".25" transform="rotate(90 18.75 3.25)" />
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="2.2em" height="2.2em" viewBox="0 0 24 24"
                    (click)="updateEstado(pu.id_ppu)" (click)="updateRutaMeli(pu.id_ppu)" (click)="updateTipoRuta(pu.id_ppu)">
                    <path fill="currentColor"
                        d="M21 7v12q0 .825-.587 1.413T19 21H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h12zm-9 11q1.25 0 2.125-.875T15 15t-.875-2.125T12 12t-2.125.875T9 15t.875 2.125T12 18m-6-8h9V6H6z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" style="color: red;" width="2.2em" height="2.2em" viewBox="0 0 512 512"
                    (click)="eliminarPpu(pu.id_ppu)">
                    <rect width="448" height="80" x="32" y="48" fill="currentColor" rx="32" ry="32" />
                    <path fill="currentColor"
                        d="M74.45 160a8 8 0 0 0-8 8.83l26.31 252.56a1.5 1.5 0 0 0 0 .22A48 48 0 0 0 140.45 464h231.09a48 48 0 0 0 47.67-42.39v-.21l26.27-252.57a8 8 0 0 0-8-8.83Zm248.86 180.69a16 16 0 1 1-22.63 22.62L256 318.63l-44.69 44.68a16 16 0 0 1-22.63-22.62L233.37 296l-44.69-44.69a16 16 0 0 1 22.63-22.62L256 273.37l44.68-44.68a16 16 0 0 1 22.63 22.62L278.62 296Z" />
                </svg>
        
            </div>
        </div>

    </c-modal-body>
    <c-modal-footer>
        <br>
    </c-modal-footer>

</c-modal>