.contenedor {
    position: relative;
    // width: 500px; /* Ancho de la imagen */
    // height: 300px; /* Altura de la imagen */
    text-align: left;
}

.boton {
    position: absolute;
    top: 400px; /* Posición desde la parte superior */
    left: 380px; /* Posición desde la izquierda */
    // padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    background-color: red;
    height: 25px;
    margin-left: 0%;
    width: 25px;
  }