.greenTable{
    width: auto;
    max-height: 400px; /* Altura de ejemplo */
    overflow: auto;
  }
  h2 {
    text-align: center;
  }
  .greenTable  table {
    border: 1px solid #28A745;
    background-color: #FFFEF3;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
  }
  .greenTable  table td, table th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  .greenTable  table tbody td {
    font-size: 12px;
  }
  
  .greenTable  table tbody th {
    font-size: 12px;
    font-weight: bold;
  }
  .greenTable  table tr:nth-child(even) {
    background: #FFFEF3;
  }
  .greenTable table thead {
    position: sticky;
    top: 0;
    left: 0;
    background: #28A745;
  }
  .greenTable  table thead th {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  .greenTable  table thead th:first-child {
    border-left: none;
  }