<div class="greenTable" >
    <h2>Alertas Vigentes</h2>
    <p></p>
    <table id="tablaProductosPicking" >
    <thead>
      <tr>
        <th>Fecha Creación</th>
        <th>Guía</th>
        <th>Cliente</th>
        <th>Comuna</th>
        <th>Fecha compromiso</th>
        <th>Fecha reprogramada</th>
        <th>Observación</th>
        <th>Código TY</th>
        <th>Alerta</th>
        <th>En ruta</th>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let alerta of alertasVigentes;let i = index ">
        <td>{{alerta.Fecha_creacion}}</td>
        <td>{{alerta.Guia}}</td>
        <td>{{alerta.Cliente}}</td>
        <td>{{alerta.Comuna}}</td>
        <td>{{alerta.Fecha_Compromiso}}</td>
        <td>{{alerta.Fecha_Reprogramada}}</td>
        <td *ngIf="alerta.Observacion !== null && alerta.Observacion !== '' ">{{alerta.Observacion}}</td>
        <td *ngIf="alerta.Observacion == null || alerta.Observacion == '' ">Sin observación</td>
        <td>{{alerta.Codigo_TY}}</td>
        <td *ngIf="alerta.Alerta === true" >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path fill="green" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
          </td>
          <td *ngIf="alerta.Alerta === false " >
            <svg  xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path fill="red" d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
          </td>
          <td *ngIf="alerta.En_ruta !== null" >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path fill="green" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
          </td>
          <td *ngIf="alerta.En_ruta === null" >
            <svg  xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path fill="red" d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
          </td>
        <td>{{alerta.Id}}</td>
      
    </tr>
    </tbody>
    </table>
  </div>
