/* Estilo general */
body {
    background-color: #f5f7fa;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-weight: 700;
    color: #2ABA59;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos de la tabla */
.table-container {
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    font-size: 12px;
}

.table thead {
    background: #2ABA59;
    color: white;
    
    text-transform: uppercase;
    font-size: 13px;
}
.table thead th {
    color: white;
}

.table tbody tr:hover {
    background-color: #e8f7ed;
    transition: 0.3s;
    
    
}

/* Íconos de acciones */
.icon-action {
    cursor: pointer;
    font-size: 18px;
    color: #2ABA59;
    transition: transform 0.2s;
}

.icon-action:hover {
    transform: scale(1.2);
    color: #1e9647;
}

/* Estilos del modal */
.modal-content {
    border-radius: 15px;
    overflow: hidden;
}

.modal-header {
    background: #2ABA59;
    color: white;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    background-color: #f5f7fa;
}

/* Tabla del modal */
.modal-body .table {
    border-radius: 10px;
    overflow: hidden;
}

.modal-body thead {
    background-color: #2ABA59;
    color: white;
}

.modal-body tbody tr:hover {
    background-color: #e8f7ed;
    transition: 0.3s;
}

/* Botón Buscar */
.btn-primary {
    background-color: #2ABA59;
    border-color: #2ABA59;
}

.btn-primary:hover {
    background-color: #1e9647;
    border-color: #1e9647;
}