
<c-row>
    <c-col [xs]>
        Seleccionar sucursal :
        <select id="Mes" cSelect [(ngModel)]="sucursalSeleccionada ">
            <option value="">Sucursales</option>
            <option *ngFor="let sucursal of sucursales" value={{sucursal.Id}}  >
                {{sucursal.Nombre}}     
            </option>
        </select>
    </c-col>
    <c-col [xs]>
        <p></p>
        <button  cButton  color="secondary" size="lg" (click)="buscarInventarioPorSucursal()">Buscar</button>
    </c-col>
    <c-col [xs]>
        <p></p>
        <button cButton color="success" size="lg" *ngIf="isClick" (click)="descargarInventario()">
            <svg class="dExcel" xmlns="http://www.w3.org/2000/svg"  height="1.5em" viewBox="0 0 384 512">
                <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
            </svg> descargar
         </button>
    </c-col>
    <c-col [xs]>

    </c-col>
</c-row>


  <p></p>
<div class="greenTable" *ngFor="let arr of arrInventarioSucursal; let i = index">
    <!-- {{arr | json}} -->
    <table id="tablaProductosPicking" style="width: 60%">
        <thead>
            <tr>
                <th colspan="5" style="justify-content: left;">Color : {{arr[0].Color}}</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Paquetes</th>
                <th>Unidades</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventario of arr">
                <td>{{inventario.Codigo}}</td>
                <td>{{inventario.Producto}}</td>
                <td>{{inventario.Paquetes}}</td>
                <td>{{inventario.Unidades}}</td>
                <td>{{inventario.Total}}</td>
            </tr>
        </tbody>
</table>
<p></p>
</div>
