
<table class="greenTable">
  <thead>
    <tr>
        <th>Hora</th>
        <th>Electrolux</th>
        <th>Sportex</th>
        <th>Easy CD</th>
        <!-- <th>Tiendas</th> -->
        <th>Easy OPL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hora of total">
      <th>{{hora.Hora}}</th>
      <th>{{hora.Electrolux}}</th>
      <th>{{hora.Sportex}}</th>
      <th>{{hora.Easy_CD}}</th>
      <th>{{hora.Easy_OPL}}</th>
    </tr>
    <tr *ngFor="let reporte of Hora">
      <th>{{reporte.Hora}}</th>
      <td [ngClass]="{'bg-success text-white font-weight-bold ': reporte.Electrolux > 0,
                      'bg-warning text-white font-weight-bold' : reporte.Electrolux >= 170,
                      'bg-danger text-white font-weight-bold': reporte.Electrolux >= 200 }">{{reporte.Electrolux}}</td>
      <td [ngClass]="{'bg-success text-white font-weight-bold': reporte.Sportex > 0,
                      'bg-warning text-white font-weight-bold': reporte.Sportex >= 127,
                      'bg-danger text-white font-weight-bold': reporte.Sportex >= 150  }">{{reporte.Sportex}}</td>
      <td [ngClass]="{'bg-success text-white font-weight-bold': reporte.Easy_CD > 0,
                      'bg-warning text-white font-weight-bold': reporte.Easy_CD > 444,
                      'bg-danger text-white font-weight-bold': reporte.Easy_CD > 522 }">{{reporte.Easy_CD}}</td>
      <!-- <td>{{reporte.Tiendas}}</td> -->
      <td [ngClass]="{'bg-success text-white font-weight-bold': reporte.Easy_OPL > 0 }">{{reporte.Easy_OPL}}</td>
    </tr>
  </tbody>
  </table>

  <table class="greenTable" > 
    <tr>
       <div *ngIf="isLoadingTable">
         <img src="../../../assets/images/loading-gif.gif" />
     </div>
    </tr> 
   </table>

