:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }
  
  table.greenTable {
    border: 1px solid #28A745;
    background-color: #FFFEF3;
    width: 100%;
    text-align: center;
  }
  table.greenTable td, table.greenTable th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.greenTable tbody td {
    font-size: 17px;
  }
  table.greenTable tr:nth-child(even) {
    background: #FFFEF3;
  }
  table.greenTable thead {
    background: #28A745;
  }
  table.greenTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  table.greenTable thead th:first-child {
    border-left: none;
  }
  
  table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #A40808;
  }
  table.greenTable tfoot td {
    font-size: 13px;
  }
  table.greenTable tfoot .links {
    text-align: right;
  }
  table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }