<p ngClass="titulo">Guias de despacho cliente</p>
<table class="greenTable">
  <thead>
    <tr>
        <th>Hora</th>
        <th>Electrolux</th>
        <th>Sportex</th>
        <th>Easy CD</th>
        <!-- <th>Tiendas</th> -->
        <th>Easy OPL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hora of total">
      <th>{{hora.Hora}}</th>
      <th [ngClass]="{'success': hora.Electrolux > 0, 'warning' : hora.Electrolux >= 170, 'danger': hora.Electrolux >= 200 }">{{hora.Electrolux}}</th>
      <th [ngClass]="{'success': hora.Sportex > 0,'warning': hora.Sportex >= 127,'danger': hora.Sportex >= 150  }"> {{hora.Sportex}}</th>
      <th [ngClass]="{'success': hora.Easy_CD > 0, 'warning': hora.Easy_CD > 444,'danger': hora.Easy_CD > 522 }">{{hora.Easy_CD}}</th>
      <th [ngClass]="{'success': hora.Easy_OPL > 0 }">{{hora.Easy_OPL}}</th>
    </tr>
    <tr *ngFor="let reporte of Hora">
      <th>{{reporte.Hora}}</th>
      <td [ngClass]="{'success': reporte.Electrolux > 0, 'warning' : reporte.Electrolux >= 170, 'danger': reporte.Electrolux >= 200 }">{{reporte.Electrolux}}</td>
      <td [ngClass]="{'success': reporte.Sportex > 0,'warning': reporte.Sportex >= 127,'danger': reporte.Sportex >= 150  }">{{reporte.Sportex}}</td>
      <td [ngClass]="{'success': reporte.Easy_CD > 0, 'warning': reporte.Easy_CD > 444,'danger': reporte.Easy_CD > 522 }">{{reporte.Easy_CD}}</td>
      <!-- <td>{{reporte.Tiendas}}</td> -->
      <td [ngClass]="{'success': reporte.Easy_OPL > 0 }">{{reporte.Easy_OPL}}</td>
    </tr>
  </tbody>
  </table>

  <table class="greenTable" > 
    <tr>
       <div *ngIf="isLoadingTable">
         <img src="../../../assets/images/loading-gif.gif" />
     </div>
    </tr> 
   </table>

