<c-container>
  <h2>Easy OPL</h2>

  <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Productos pedido {{codProductoModal}}</h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div class="greenTable">
      <table  id="tablaProductosPicking" >
        <thead>
          <tr>
              <th>Descripcion</th>
              <th>Código Producto</th>
              <th>Cantidad</th>
              <th>SKU</th>
              <th>Recepcion</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of productosPorVerificarByCP ;let i = index ">
          <td>{{producto.Descripcion_producto}}</td>
          <td>{{producto.Codigo_producto}}</td>
          <td>{{producto.Cantidad_producto}}</td>
          <td>{{producto.SKU}}</td>
          <td *ngIf="producto.Recepcion === true" >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
          </td>
          <td *ngIf="producto.Recepcion === false " >
            <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
          </td>
        </tr>
        </tbody>
        </table>
      </div>

    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveDemo()" cButton color="secondary">
        Cerrar
      </button>
    </c-modal-footer>
  </c-modal>

    <c-row [xs]="1"> 
      <c-col>
        <input type="text" name="" [(ngModel)]="codigoProducto" (change)="cambiarTicketByInput(codigoProducto)">
  
      </c-col>
      <c-col>
          <p></p>
      </c-col>
      <c-col>
        Por Recepcionar {{cantNoVerificados}} <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
        <div class="greenTable">
        <table  id="tablaProductosPicking" >
        <thead>
          <tr>
              <!-- <th>Código de Cliente</th> -->
              <th>Nombre</th>
              <th>Calle y Número</th>
              <th>Ciudad</th>
              <th>Código de Pedido</th>
              <th>Fecha de Pedido</th>
              <th>Código de Producto</th>
              <th>Descripción del Producto</th>
              <th>Cantidad de Producto</th>
              <th>SKU</th>
              <th>Verificado</th>
              <th>Recepción</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of productosPorVerificar ;let i = index ">
          <td>{{producto.Nombre}}</td>
          <td>{{producto.Calle}}</td>
          <td>{{producto.Provincia}}</td>
          <td>{{producto.Codigo_pedido}}</td>
          <td>{{producto.Fecha_pedido}}</td>
          <td>{{producto.Codigo_producto}}</td>
          <td>{{producto.Descripcion_producto}}</td>
          <td>{{producto.Cantidad_producto}}</td>
          <td>{{producto.SKU}}</td>
         <!-- <td>{{producto.Pistoleado}}</td>  -->
          <td *ngIf="producto.Pistoleado === true" >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
          </td>
          <td *ngIf="producto.Pistoleado === false " >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
          </td>
          <td *ngIf="producto.Recepcion === true" >
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
          </td>
          <td *ngIf="producto.Recepcion === false " >
            <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
          </td>
        </tr>
        </tbody>
        </table>
        </div>
      </c-col>
      <c-col>
        <p></p>
    </c-col>
  
    <c-col>

        <c-col>
          Recepcionados {{cantVerificados}} <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
          <div class="greenTable"> 
          <table id="tablaProductosPicking" >
            <thead>
              <tr>
                  <!-- <th>Código de Cliente</th> -->
                  <th>Nombre</th>
                  <th>Calle y Número</th>
                  <th>Ciudad</th>
                  <th>Código de Pedido</th>
                  <th>Fecha de Pedido</th>
                  <th>Código de Producto</th>
                  <th>Descripción del Producto</th>
                  <th>Cantidad de Producto</th>
                  <th>SKU</th>
                  <th>Verificado</th>
                  <th>Recepción</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productosVerificados;let i = index ">
              <td>{{producto.Nombre}}</td>
              <td>{{producto.Calle}}</td>
              <td>{{producto.Provincia}}</td>
              <td>{{producto.Codigo_pedido}}</td>
              <td>{{producto.Fecha_pedido}}</td>
              <td>{{producto.Codigo_producto}}</td>
              <td>{{producto.Descripcion_producto}}</td>
              <td>{{producto.Cantidad_producto}}</td>
              <td>{{producto.SKU}}</td>
              <td *ngIf="producto.Pistoleado === true" >
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </td>
              <td *ngIf="producto.Pistoleado === false " >
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
              </td>
              <td *ngIf="producto.Recepcion === true" >
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              </td>
              <td *ngIf="producto.Recepcion === false " >
                <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
              </td>
            </tr>
            </tbody>
            </table>
            </div>
          </c-col>
  
    </c-col>
  
    </c-row>
    <c-row>
    </c-row>
  </c-container>
