.greenTable{

  max-height: 400px; /* Altura de ejemplo */
  overflow: auto;
}

.greenTable  table {
  border-collapse: separate; /* Asegura que el borde sea separable */
  border-spacing: 0; /* Elimina el espacio entre las celdas */
  margin: 20px 0;
  border-radius: 10px; /* Bordes curvados de la tabla */
  box-shadow: 0 4px 8px #ebedef;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
.greenTable  table td, table th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
.greenTable  table tbody td {
  font-size: 12px;
}

// .greenTable table tbody {
//   display: block;
// }

.greenTable  table td {
  font-size: 12px;
}


.greenTable  table tbody th {
  font-size: 12px;
  font-weight: bold;
}
.greenTable  table tr:nth-child(even) {
  background: #FFFEF3;
}
.greenTable table thead {
  position: sticky;
  top: 0;
  left: 0;
  background: #28A745;
}
.greenTable  table thead th {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #28A745;

  
}
.greenTable  table thead th:first-child {
    border-top-left-radius: 10px; /* Curva solo la esquina superior izquierda */
}

.greenTable table th:last-child {
  border-top-right-radius: 10px; /* Curva solo la esquina superior derecha */
}

.greenTable table tr:last-child td:first-child {
  border-bottom-left-radius: 10px; /* Curva solo la esquina inferior izquierda */
}

.greenTable table tr:last-child td:last-child {
  border-bottom-right-radius: 10px; /* Curva solo la esquina inferior derecha */
}


  
  input[type=file] {
    width: 450px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }
  
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 4px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }

  .tamano {
    font-size: 12px;
  }
  .greenTable th.sortable:hover {
    background-color: #1ece27;
    cursor: pointer;
  }



  .image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex: 1;
}

.image-container {
    position: relative;
    text-align: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 5px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.image-container img:hover {
    transform: scale(2);
    z-index: 100;
}

.image-container .download {
    margin-top: 5px;
}

.image-container .download a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 1.2em;
}

.image-container .download a i {
    margin-right: 5px;
}

.map-section {
    flex: 1;
    margin-left: 20px;
    height: 350px;
    width: 350px;
}