<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<h2> Resumen Ruta Supervisores</h2>
<c-row>
  <c-col [xs]>
    Fecha Inicio
<input type="date"  class="form-control" placeholder="Fecha" [(ngModel)]="fecha_inicio"  required>
  </c-col>
  
  <c-col [xs]>
    Fecha Fin
    <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="fecha_fin"  required>
  </c-col>
  <c-col [xs]> 
    <p></p>
    <button  (click)="buscarNsFechaSupervisor()" cButton  color="secondary" >Buscar</button>

  </c-col>
</c-row>
<p></p>

<div>


<c-row>
  <c-col [xs]>
    <input type="text" [(ngModel)]="textoFiltro" (keyup)="onKeyUp()" placeholder="Buscador" class="form-control">
  </c-col>
  <c-col [xs]>
    <button  (click)="onKeyUp()" cButton  color="secondary" >Filtrar</button>
    <!-- <button *ngIf="chartVisible == true" (click)="DescargarNS()" cButton  color="success" size="sm">Descargar
      <svg class="dExcel" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
        <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
      </svg>
    </button> -->
  </c-col>
</c-row>
<p></p>

 

  <h4>LM</h4>
  <p></p>
  <div class="greenTable">
    <table>
    <thead>
      <tr>
        <th >Operación
          
          <!-- <input type="text" [(ngModel)]="textoIdRuta" (keyup)="onKeyUp()" placeholder="🔍" maxlength="9" size="7"> -->
      
        </th>
        <th>Centro Operación</th>
        <th class="sortable" (click)="sortTableRegion(sortOrderRegion)">Región</th>
        <th>Fecha</th>
        <th>Id Ruta</th>
        <th class="sortable" (click)="sortTablePpu(sortOrderPpu)">Patente</th>
        <th class="sortable" (click)="sortTableDriver(sortOrderDriver)">Driver</th>
        <th>Kilometros</th>
        <th>% Avance</th>
        <th>Avance</th>
        <th>Fallido</th>
        <th>Pendiente</th>
        <th>Spr</th>
        <th>Entregas</th>
        <th>Tiempo ruta</th>
        <th>Estado</th>
        <th>Valor ruta</th>
        <th>Ruta cerrada</th>
      </tr>
    </thead>
    <tbody >
    <tr *ngFor="let driver of this.resumenSupervisores;let i = index ">
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Operacion}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Centro_operacion}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Region}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Fecha}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Id_ruta}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Ppu}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Driver}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Kilometros}}</td> 
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.P_avance}}</td> 
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Avance}}</td> 
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Campos_por_operacion[0].lm_fallido}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Campos_por_operacion[0].lm_pendiente}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Campos_por_operacion[0].lm_spr}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Campos_por_operacion[0].lm_entregas}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Campos_por_operacion[0].lm_tiempo_ruta}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Campos_por_operacion[0].lm_estado}}</td>
        <td *ngIf="driver.Modalidad == 'LM'">{{driver.Valor_ruta}}</td> 
        <td *ngIf="driver.Modalidad == 'LM'">
            <!-- lock -->
            <span title="Ruta Cerrada ">
              <svg *ngIf="driver.Ruta_cerrada" xmlns="http://www.w3.org/2000/svg"  width="14" height="18" viewBox="0 0 1152 1408">
                <path fill="red" d="M320 640h512V448q0-106-75-181t-181-75t-181 75t-75 181zm832 96v576q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V736q0-40 28-68t68-28h32V448q0-184 132-316T576 0t316 132t132 316v192h32q40 0 68 28t28 68" />
              </svg>

          </span>
            <!-- lock-open -->

            <span title="Ruta Abierta ">
              <svg *ngIf="!driver.Ruta_cerrada" xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 1664 1408">
                <path fill="black" d="M1664 448v256q0 26-19 45t-45 19h-64q-26 0-45-19t-19-45V448q0-106-75-181t-181-75t-181 75t-75 181v192h96q40 0 68 28t28 68v576q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V736q0-40 28-68t68-28h672V448q0-185 131.5-316.5T1216 0t316.5 131.5T1664 448" />
              </svg>
          </span>
        </td>
    </tr>
    <!-- <tr *ngIf="contadorNS === 0">
     <td colspan="11">
      no hay registros
     </td> 
    </tr> -->
    
    </tbody>
    </table>
  </div>

  <p></p>
  <h4>FM</h4>
  <p></p>
  <div class="greenTable">
    <table id="tablaProductosPicking" >
    <thead>
      <tr>
        <th>Operación</th>
        <th>Centro Operación</th>
        <th>Región</th>
        <th>Fecha</th>
        <th>Id Ruta</th>
        <th>Patente</th>
        <th>Driver</th>
        <th>Kilometros</th>
        <th>% Avance</th>
        <th>Avance</th>
        <th>Total paradas</th>
        <th>Paqueteria colectada</th>
        <th>Estimados</th>
        <th>Preparado</th>
        <th>% Colectas</th>
        <th>% No colectadas</th>
        <th>Valor ruta</th>
        <th>Ruta cerrada</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody >
    <tr *ngFor="let driver of resumenSupervisores;let i = index ">
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Operacion}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Centro_operacion}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Region}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Fecha}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Id_ruta}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Ppu}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Driver}}</td>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Kilometros}}</td> 
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.P_avance}}</td> 
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Avance}}</td> 
        <th *ngIf="driver.Modalidad == 'FM'">{{driver.Campos_por_operacion[0].fm_total_paradas}}</th>
        <th *ngIf="driver.Modalidad == 'FM'">{{driver.Campos_por_operacion[0].fm_paqueteria_colectada}}</th>
        <th *ngIf="driver.Modalidad == 'FM'">{{driver.Campos_por_operacion[0].fm_estimados}}</th>
        <th *ngIf="driver.Modalidad == 'FM'">{{driver.Campos_por_operacion[0].fm_preparados}}</th>
        <th *ngIf="driver.Modalidad == 'FM'">{{driver.Campos_por_operacion[0].fm_p_colectas_a_tiempo}}</th>
        <th *ngIf="driver.Modalidad == 'FM'">{{driver.Campos_por_operacion[0].fm_p_no_colectadas}}</th>
        <td *ngIf="driver.Modalidad == 'FM'">{{driver.Valor_ruta}}</td> 
        <td *ngIf="driver.Modalidad == 'FM'">
            <!-- lock -->
            <span title="Ruta Cerrada ">
              <svg *ngIf="driver.Ruta_cerrada" xmlns="http://www.w3.org/2000/svg"  width="14" height="18" viewBox="0 0 1152 1408">
                <path fill="red" d="M320 640h512V448q0-106-75-181t-181-75t-181 75t-75 181zm832 96v576q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V736q0-40 28-68t68-28h32V448q0-184 132-316T576 0t316 132t132 316v192h32q40 0 68 28t28 68" />
              </svg>

          </span>
            <!-- lock-open -->

            <span title="Ruta Abierta ">
              <svg *ngIf="!driver.Ruta_cerrada" xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 1664 1408">
                <path fill="black" d="M1664 448v256q0 26-19 45t-45 19h-64q-26 0-45-19t-19-45V448q0-106-75-181t-181-75t-181 75t-75 181v192h96q40 0 68 28t28 68v576q0 40-28 68t-68 28H96q-40 0-68-28t-28-68V736q0-40 28-68t68-28h672V448q0-185 131.5-316.5T1216 0t316.5 131.5T1664 448" />
              </svg>
          </span>
        </td>
        <th *ngIf="driver.Modalidad == 'FM'">
          <button (click)="infoPatentes(driver.Ppu)" cButton  color="success" size="sm">Abrir

          </button>
        </th>
    </tr>
    </tbody>
    </table>
  </div>
  
  <p></p>

<c-row>
  <c-col [xs]>
    <button (click)="DescargarNS()" cButton  color="success" size="sm">Descargar
      <svg class="dExcel" xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 384 512">
        <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM155.7 250.2L192 302.1l36.3-51.9c7.6-10.9 22.6-13.5 33.4-5.9s13.5 22.6 5.9 33.4L221.3 344l46.4 66.2c7.6 10.9 5 25.8-5.9 33.4s-25.8 5-33.4-5.9L192 385.8l-36.3 51.9c-7.6 10.9-22.6 13.5-33.4 5.9s-13.5-22.6-5.9-33.4L162.7 344l-46.4-66.2c-7.6-10.9-5-25.8 5.9-33.4s25.8-5 33.4 5.9z"/>
      </svg>
    </button>
  </c-col>
  <c-col [xs]>
    
  </c-col>
</c-row>

</div>

<c-modal [visible]="visible" size="lg" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
           <!-- <h2>Información cargada por transportista</h2> -->
           <h4 cModalTitle>Información cargada por transportista</h4>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>

  <c-modal-body >
      <!-- *ngFor="let pu of patentesList2 -->

      <c-row>
        <c-col>
          <div class="image-section" >
            <!-- <div class="image-container">
                <img [src]="pu" alt="Patente Vehículo">
                <div class="download"><a href="https://via.placeholder.com/150" download><i class="fas fa-download"></i></a></div>
            </div>
            <div class="image-container">
                <img [src]="imagen2"  alt="Imagen 1">
                <div class="download"><a href="https://via.placeholder.com/150" download><i class="fas fa-download"></i></a></div>
            </div>
            <div class="image-container">
                <img [src]="imagen3"  alt="Imagen 2">
                <div class="download"><a href="https://via.placeholder.com/150" download><i class="fas fa-download"></i></a></div>
            </div> -->
            <div class="image-container" *ngFor="let pu of Imagenes;let i = index">
              
               <div class="download"><a [href]="pu" download target="_blank">
                {{Titulo[i]}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1664 1536">
                    <path fill="gray" d="M1280 1344q0-26-19-45t-45-19t-45 19t-19 45t19 45t45 19t45-19t19-45m256 0q0-26-19-45t-45-19t-45 19t-19 45t19 45t45 19t45-19t19-45m128-224v320q0 40-28 68t-68 28H96q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h465l135 136q58 56 136 56t136-56l136-136h464q40 0 68 28t28 68m-325-569q17 41-14 70l-448 448q-18 19-45 19t-45-19L339 621q-31-29-14-70q17-39 59-39h256V64q0-26 19-45t45-19h256q26 0 45 19t19 45v448h256q42 0 59 39" />
                  </svg>
                </a></div>
                <p></p>
                <img [src]="pu"  alt="Imagen 3">
               
            </div>
        </div>
        </c-col>
        <c-col>
          <div class="map-section" id="map"></div>
        </c-col>
      </c-row>
      
    

  </c-modal-body>
  <c-modal-footer >
      <br>
  </c-modal-footer>
</c-modal>


<button *ngIf="rol == '5'" (click)=" infoPatentes('PTHJ10')">Abrete sesamo</button>

<!-- <div class="map-section" id="map"></div> -->