h2 {
  text-align: center;
}
.title{
background-color: #AAAAAA;
}
body{
overflow-x: hidden;
}
.Body-tablechart{
transform: translate(70px);

}

.Body-container{
background-color: white;
border-radius: 5%;

}
.Title-container{
display: flex;
flex-direction: column;
align-items: center;
background-color:#ebedef ;
}
.container{
display: flex;
flex-direction: column;
align-items: flex-start;
height: 100vh;
}

.container2{
display: flex;
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
height: 10vh; /* Altura del contenedor al 100% de la altura de la ventana */
background-color:#ebedef ;
}


table.greenTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px #ebedef;
  font-size: 12px; 
  text-align: center
}
table.greenTable td, table.greenTable th {
  border: 0px solid #ebedef;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 10px;
  padding: 8px;
   text-align: center;
}
table.greenTable tr:nth-child(even) {
  background: #FFFEF3;
}
table.greenTable thead {
  background: #28A745;
}
table.greenTable thead th {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #28A745;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #A40808;
}


table.greenTable2 {
  width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #ebedef;
    font-size: 12px; 
    text-align: center
  }
table.greenTable2 td, table.greenTable2 th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
  justify-content: center;
}
table.greenTable2 tbody td {
  font-size: 10px;
  
}

table.greenTable2 tbody th {
  font-size: 12px;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.greenTable2 thead {
  background: #28A745;
}
table.greenTable2 thead th {
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #28A745;
}
table.greenTable2 thead th:first-child {
  border-left: none;
}