<app-widgets-dropdown></app-widgets-dropdown>

<div>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h5 class="mb-0" id="traffic">Ingreso productos por clientes</h5>
        <div class="small text-medium-emphasis">{{mesActual}} </div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <!-- <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button> -->
        <form [formGroup]="mesesRadioGroup">
          <c-button-group class="float-end me-3" role="group" >
            <input  *ngFor="let mes of mesesAb"
              class="btn-check"
              formControlName="mesesRadio"
              type="radio"
              value={{mes}}
            />
            <label *ngFor="let mes of mesesAb"
              (click)="setMes(mes)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >{{mes}}</label>
          </c-button-group>
        </form>


        <form [formGroup]="trafficRadioGroup" *ngIf="totalSemanas === 4">
          <c-button-group class="float-end me-3" role="group" >
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 1"
            />
            <label
              (click)="setTrafficPeriod('semana 1', 0)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Semana 1</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 2"

            />
            <label
              (click)="setTrafficPeriod('semana 2', 1)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Semana 2</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 3"
            />
            <label
              (click)="setTrafficPeriod('semana 3', 2)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Semana 3</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 4"
            />
            <label
              (click)="setTrafficPeriod('semana 4', 3)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Semana 4</label>            

          </c-button-group>
        </form>
        
        <form [formGroup]="trafficRadioGroup" *ngIf="totalSemanas === 5">
          <c-button-group class="float-end me-3" role="group" >
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 1"
            />
            <label
              (click)="setTrafficPeriod('semana 1', 0)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              [disabled]="disabledButtons"
            >Semana 1</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 2"
            />
            <label
              (click)="setTrafficPeriod('semana 2', 1)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              [disabled]="disabledButtons"
            >Semana 2</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 3"

            />
            <label
              (click)="setTrafficPeriod('semana 3', 2)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              [disabled]="disabledButtons"
            >Semana 3</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 4"
            />
            <label
              (click)="setTrafficPeriod('semana 4', 3)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              [disabled]="disabledButtons"
            >Semana 4</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="semana 5"
            />
            <label
              (click)="setTrafficPeriod('semana 5', 4)"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
              [disabled]="disabledButtons"
            >Semana 5</label>

          
          </c-button-group>
        </form>
        
      </c-col>
    </c-row>
    <c-chart
      [data]="chartProductos.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="chartProductos.options"
      [type]="chartProductos.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
</c-card>

<table class="greenTable">
  <thead>
    <tr>
        <th>Día</th>
        <th>Fecha</th>
        <th>Electrolux</th>
        <th>Sportex</th>
        <th>Easy</th>
        <th>Easy OPL</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let reporte of reportesHistoricosHoy; let i = index">
      <td>{{reporte.Dia}}</td>
      <td>{{reporte.Fecha}}</td>
      <td [ngClass]="{'success': reporte.Electrolux > 0, 'warning' : reporte.Electrolux > ordenCompraHoy[i] * 0.7 , 'danger': reporte.Electrolux > ordenCompraHoy[i]* 0.85 }">{{reporte.Electrolux}}</td>
      <td [ngClass]="{'success': reporte.Sportex > 0,'warning': reporte.Sportex > ordenCompraHoy[i] * 0.7,'danger': reporte.Sportex > ordenCompraHoy[i] * 0.85 }">{{reporte.Sportex}}</td>
      <td [ngClass]="{'success': reporte.Easy > 0, 'warning': reporte.Easy > ordenCompraHoy[i] * 0.7, 'danger': reporte.Easy > ordenCompraHoy[i] * 0.85 }">{{reporte.Easy}}</td>
      <td [ngClass]="{'success': reporte.Easy_OPL > 0, 'warning': reporte.Easy_OPL > ordenCompraHoy[i] * 0.7, 'danger': reporte.Easy_OPL > ordenCompraHoy[i] * 0.85}">{{reporte.Easy_OPL}}</td>
    </tr>
    <tr *ngFor="let reportes of reportesHistoricos; let i = index ">
      <td>{{reportes.Dia}}</td>
      <td>{{reportes.Fecha}}</td>
      <td [ngClass]="{'success': reportes.Electrolux > 0, 'warning' : reportes.Electrolux > ordenCompra[i+1] * 0.7 , 'danger': reportes.Electrolux > ordenCompra[i+1]* 0.85 }">{{reportes.Electrolux}}</td>
      <td [ngClass]="{'success': reportes.Sportex > 0,'warning': reportes.Sportex > ordenCompra[i+1] * 0.7,'danger': reportes.Sportex > ordenCompra[i+1] * 0.85 }">{{reportes.Sportex}}</td>
      <td [ngClass]="{'success': reportes.Easy > 0, 'warning': reportes.Easy > ordenCompra[i+1] * 0.7, 'danger': reportes.Easy > ordenCompra[i+1] * 0.85}">{{reportes.Easy}}</td>
      <td [ngClass]="{'success': reportes.Easy_OPL > 0, 'warning': reportes.Easy_OPL > ordenCompra[i+1] * 0.7, 'danger': reportes.Easy_OPL > ordenCompra[i+1] * 0.85}">{{reportes.Easy_OPL}}</td>
    </tr>
    <tr>
      <td  *ngIf="isLoadingTable " colspan="6"><img src="../../../assets/images/loading-gif.gif" /></td>
    </tr>
  </tbody>
  </table>
  </div>