.error {
    color: #E71B24;
  }

.rectangulo,
.rectangulo-gps,
.rectangulo-seguridad {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.slide-toggle-container {
  position: relative; /* o absolute, fixed, dependiendo de tus necesidades */
  z-index: 1; /* o cualquier valor más bajo que el thead */
}

.rectangulo {
  background-color: #ffcccc; /* Rojo claro */
  border: 2px solid #cc0000; /* Borde rojo oscuro */
}

.rectangulo-gps {
  background-color: #ffffcc; /* Amarillo claro */
  border: 2px solid #cccc00; /* Borde amarillo oscuro */
}

.rectangulo-seguridad {
  background-color: #ccffcc; /* Verde clarito */
  border: 2px solid #006600; /* Borde verde oscuro */
}
  
  .greenTable{
      
    max-height: 400px; /* Altura de ejemplo */
    overflow: auto;
  }
  
  .greenTable  table {
    border: 1px solid #28A745;
    background-color: #FFFEF3;
    width: auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
  }
  .greenTable  table td, table th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  .greenTable  table tbody td {
    font-size: 12px;
  }
  
  .greenTable  table td {
    font-size: 12px;
  }

  input[type="text"].disabled-like {
    background-color: #f0f0f0; /* Color de fondo gris claro */
    color: #a0a0a0; /* Color de texto gris */
    border: 1px solid #d0d0d0; /* Borde gris */
    cursor: not-allowed; /* Cursor de no permitido */
    pointer-events: none; /* Deshabilita eventos */
  }
  

  .greenTable th.sortable:hover {
    background-color: #1ece27;
    cursor: pointer;
  }
  
  .greenTable  table tbody th {
    font-size: 12px;
    font-weight: bold;
    background: #28A745;
    color: #FFFFFF;
  }
  .greenTable  table tr:nth-child(even) {
    background: #FFFEF3;
  }
  .greenTable table thead {
    position: sticky;
    top: 0;
    z-index: 10;
    left: 0;
    background: #28A745;
  }
  .greenTable  table thead th {
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  .greenTable  table thead th:first-child {
    border-left: none;
  }
  
  .inline-container {
    margin: 1px;
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente si es necesario */
  }  
  
  .inline-container input,
  .inline-container c-dropdown,
  .inline-container span {
    margin-right: 5px; /* Espacio personalizado entre los elementos */
  }
  h2 {
      text-align: center;
    }
    
  .svgT{
    fill:#12de20
  }
  
  .svgF{
    fill:#d60a0a
  }

  ::ng-deep .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #2eb85c;
    --mdc-switch-selected-handle-color: #2eb85c;
    --mdc-switch-selected-hover-state-layer-color: #2eb85c;
    --mdc-switch-selected-pressed-state-layer-color: #2eb85c;
    --mdc-switch-selected-focus-handle-color: #2eb85c;
    --mdc-switch-selected-hover-handle-color: #2eb85c;
    --mdc-switch-selected-pressed-handle-color: #2eb85c;
    --mdc-switch-selected-focus-track-color: #2eb85c;
    --mdc-switch-selected-hover-track-color: #2eb85c;
    --mdc-switch-selected-pressed-track-color: #2eb85c;
    --mdc-switch-selected-track-color: #2eb85c;
}

::ng-deep .mat-mdc-slide-toggle {
  --mdc-switch-disabled-selected-handle-color: #2eb85c;
  --mdc-switch-disabled-unselected-handle-color: #424242;
  --mdc-switch-disabled-selected-track-color: #2eb85c;
  --mdc-switch-disabled-unselected-track-color: #424242;
  --mdc-switch-unselected-focus-state-layer-color: #424242;
  --mdc-switch-unselected-pressed-state-layer-color: #424242;
  --mdc-switch-unselected-hover-state-layer-color: #2eb85c;
  --mdc-switch-unselected-focus-track-color: #e0e0e0;
  --mdc-switch-unselected-hover-track-color: #e0e0e0;
  --mdc-switch-unselected-pressed-track-color: #e0e0e0;
  --mdc-switch-unselected-track-color: #e0e0e0;
  --mdc-switch-unselected-focus-handle-color: #2eb85c;
  --mdc-switch-unselected-hover-handle-color: #2eb85c;
  --mdc-switch-unselected-pressed-handle-color: #2eb85c;
  --mdc-switch-handle-surface-color: var(--mdc-theme-surface, #fff);
  --mdc-switch-unselected-handle-color: #616161;
  --mdc-switch-selected-icon-color: #fff;
  --mdc-switch-disabled-selected-icon-color: #fff;
  --mdc-switch-disabled-unselected-icon-color: #fff;
  --mdc-switch-unselected-icon-color: #fff;
}

.custom-select {
  position: relative;
  width: 100%;
}
.select-selected {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.select-selected:after {
  content: '\f107'; /* Icono de flecha abajo */
  font-family: "FontAwesome";
  position: absolute;
  right: 10px;
  top: 14px;
  font-size: 16px;
}
.select-items {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.select-items div {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.select-items div:hover {
  background-color: #ddd;
}

/* Estilos de la línea de tiempo */
.timeline {
  position: relative;
  padding: 10px 0;
  list-style: none;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.timeline-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  margin-right: 20px;
}

.grata {
  background-color: #28b463;
}

.neutral {
  background-color: #eb984e;
}

.ingrata {
  background-color: #cd6155;
}

.timeline-content {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border-left: 4px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.timeline-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.timeline-content p {
  margin: 10px 0;
  font-size: 14px;
  color: #666;
}

.timeline-content .datetime {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #888;
  margin-bottom: 10px;
}

.datetime i {
  margin-right: 5px;
}

.divider {
  margin: 10px 0;
  border-top: 1px solid #ccc;
}
