h3 {
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenTable {
  max-height: 600px; /* Aumenta la altura para mostrar más contenido */
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.greenTable table {
  border-collapse: collapse; /* Asegura que las celdas colapsen entre sí */
  background-color: #FFFEF3;
  width: 100%;
  height: 100%;
  text-align: center;
  table-layout: auto; /* Ajuste del layout de la tabla a automático */
}

.greenTable table th, .greenTable table td {
  border: none; /* Elimina los bordes de las celdas */
  padding: 8px;
  min-width: 100px; /* Mínimo ancho para evitar truncamientos */
  text-align: center;
  box-sizing: border-box;
}

.greenTable table tbody td {
  border-bottom: 1px solid #CCCCCC; /* Solo una línea sutil debajo de las celdas */
  font-size: 12px;
  padding: 8px;
}

.greenTable table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Agrega un color de fondo alternativo para mayor claridad visual */
}

.greenTable th.sortable:hover {
  background-color: #1ece27;
  cursor: pointer;
}

.greenTable table thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #28A745;
}

.greenTable table thead th {
  font-size: 12px; /* Aumenta el tamaño para mejor legibilidad */
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 1px solid #28A745; /* Borde inferior para el encabezado */
}

.greenTable table thead th:first-child {
  border-left: none;
}

/* Ajustar el tamaño de los inputs en la tabla */
.greenTable input[type="text"] {
  width: 90%; /* Aumenta el ancho de los inputs */
  padding: 4px;
  font-size: 12px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.greenTable input[type="checkbox"] {
  transform: scale(1); /* Tamaño estándar del checkbox */
}

.greenTable td input {
  box-sizing: border-box;
}

/* Tooltip */
.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 125%; /* Posiciona el tooltip arriba del texto */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Botón */
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-list li svg {
  width: 24px;
  height: 24px;
}

.checkbox {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
  margin-right: 10px;
  vertical-align: middle;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  background-color: #39843b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
