<form cForm [formGroup]="registerForm" (ngSubmit)="registrarUsuario()" novalidate>
    <div class="mb-3">
      <label for="nombreUsuario" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombreUsuario" cFormControl formControlName="Nombre" >
    </div>
    <div class="mb-3">
        <label for="mailUsuario" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="mailUsuario" cFormControl formControlName="Mail"  >
        <div *ngIf="this.registerForm.get('mail')?.errors?.['email']" id="emailHelp" class="form-text">
          Se debe ingresar un email Valido</div>
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" cFormControl formControlName="Password" id="password">
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          Debe tener entre 6 y 20 caracteres.
        </span>
      </div>
    </div>
    <div class="mb-3">
        <label for="passwordRepetida" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control" id="passwordRepetida">
      </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Activo</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  