<!-- <p>{{nombreRuta}}</p> -->

<h3>Asignar a Ruta {{nombreRuta}}</h3>

<form cForm [formGroup]="asignarRutaForm" (ngSubmit)="asignarRuta()">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="patente">Patente</label>
        <input type="text" [maxlength]="6" [minlength]="6" pattern='^[a-zA-Z0-9]+$' placeholder="Patente" class="form-control" id="patente" [(ngModel)]="patent" formControlName=patente required>
      </div>
      <!-- <div *ngIf=" asignarRutaForm.get('patente')?.errors?.['pattern']">
        Hubo un error al ingresear la patente del vehiculo
      </div> -->
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Conductor</label>
        <input type="text" class="form-control" placeholder="Conductor" formControlName="conductor" [(ngModel)]="driver" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="cant_producto">Cantidad producto</label>
        <input type="number" readonly [(ngModel)]="bultos" [value]="bultos" class="form-control" id="cant_producto"  formControlName="cantidad_producto" required>
      </div>
      <div *ngIf=" asignarRutaForm.get('cantidad_producto')?.errors?.['min']">
        la cantidad minima debe ser 1
      </div>
      <!-- <div class="col-md-3 mb-3">
        <label for="">Estado</label>
        <input type="text" class="form-control" id=""  required>
      </div> -->
      <div class="col-md-3 mb-3">
        <label for="Region">Region</label>
        <select aria-label="Región" id="Region" [(ngModel)]="regionInicial" formControlName="region" cSelect>
            <option value="XIII - Metropolitana">XIII - Metropolitana</option>
            <option value="V - Valparaiso">V - Valparaiso</option>
          </select>
      </div>
      <!-- <div *ngIf=" asignarRutaForm.get('region')?.errors?.['required']">
        la cantidad minima debe ser 1
      </div> -->
    </div>
    <button class="btn btn-success" type="submit">Asignar Ruta</button>
  </form>






