<h3 style="text-align: center;">Asignar a Ruta {{nombreRuta}}</h3>

<form cForm [formGroup]="asignarRutaForm" (ngSubmit)="asignarRuta()">

  <c-row>
    <c-col>
        <label for="patente">Patente</label>
        <!-- <input type="text" [maxlength]="6" [minlength]="6" pattern='^[a-zA-Z0-9]+$' placeholder="Patente" class="form-control" id="patente" [(ngModel)]="patent" formControlName=patente required> -->
        <select  aria-label="Región" id="Region"formControlName="patente" cSelect class="form-control"  placeholder="Patente" (change)="seleccionarPatente()">
          <option value="Seleccione una patente">Seleccione una patente</option>
          <option *ngFor="let patente of patentesVehiculos" [value]="patente.Ppu" >{{patente.Ppu}}</option>
        </select>
      </c-col>
    <c-col>
      Razón Social <br>
      <label for="" style="font-size: 17px;" >{{asignarRutaForm.get('razon_social')?.value}}</label>
    </c-col>
  </c-row>
  <c-row>
    <c-col>
      <label for="validationDefault02">Conductor</label>
      <input type="text" class="form-control" placeholder="Conductor" formControlName="conductor" required>
    </c-col>
    <c-col>
      <label for="validationDefault02">Despachador</label>
      <input type="text" class="form-control" placeholder="Despachador" formControlName="despachador" required>
    </c-col>
  </c-row>
  <c-row>
    <c-col>
      <label for="cant_producto">Cantidad producto</label>
        <input type="number" readonly class="form-control" id="cant_producto"  formControlName="cantidad_producto" required>
    </c-col>
    <c-col>
      <label for="Region">Region</label>
        <select  aria-label="Región" id="Region"  formControlName="region" cSelect class="form-control" >
            <option value="XIII - Metropolitana" >XIII - Metropolitana</option>
            <option value="V - Valparaiso">V - Valparaiso</option>
          </select>
    </c-col>
  </c-row>
  <p></p>
  <c-row>
    <c-col>
      <button cButton class="btn btn-success" type="submit" [disabled]="isClicked">Asignar Ruta</button>
    </c-col>
    <c-col>
      <button cButton class="btn btn-primary" (click)="volverRutaActiva()">Volver</button>
    </c-col>
  </c-row>

  </form>






