<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)" size="xl">
    <c-modal-header>
      <h5 cModalTitle> </h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

        <form cForm [formGroup]="form"  (ngSubmit)="actualizarDatos()"> 
            <div class="card">
              <p></p>
              <h5>Tripulacion</h5>
              <p></p>
            <c-row>
                <c-col [xs]>
                    <div class="">
                        Nombre Completo
                        <input type="text" placeholder="Razón Social" class="form-control" formControlName="Nombre_completo" [disabled]="true" readonly>
                        <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                        <span class="error" *ngIf="form.get('Nombre_completo')?.errors?.['required'] && isErrorView">
                            Falta agregar la razón social
                        </span>
                    </div>
                </c-col>
          
                <c-col [xs]>
                    <div class="noEditar">
                        Rut
                        <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                        <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut" (change)="verificaRut('colab')" maxlength="10" [disabled]="true" readonly> 
                        <span class="error" *ngIf="form.get('Rut')?.errors?.['required'] && isErrorView">
                            Falta ingresar el rut
                        </span>
                        <span class="error" *ngIf="!rutValido ">
                          Error al ingresar rut
                      </span>
                    </div>
                </c-col>
                <c-col [xs]>
                    <div class="noEditar">
                        N° serie cedula
                        <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                      <input type="text" placeholder="N° serie cedula" class="form-control"  formControlName="Nro_serie_cedula" maxlength="12">
                        <span class="error" *ngIf="form.get('Nro_serie_cedula')?.errors?.['required'] && isErrorView">
                            Falta agregar el N° serie cedula
                        </span>
                    </div>
                </c-col>
                <c-col [xs]>
                    <div class="">
                        E-mail
                         <input type="email" class="form-control"  placeholder="E-Mail" formControlName="Email" >
                         <span class="error" *ngIf="form.get('Email')?.errors?.['required'] && isErrorView">
                            Falta agregar el E-mail
                        </span>
                        <span class="error" *ngIf="form.get('Email')?.errors?.['email'] && isErrorView">
                          El E-mail no es un formato valido
                      </span>
                        </div>
                </c-col>
                
                
            </c-row>
            <c-row>
              <c-col [xs]>
                <div class="noEditar">
                    N° Telefono
                    <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                    <input type="text" placeholder="Telefono" class="form-control"  formControlName="Telefono" maxlength="12">
                    <span class="error" *ngIf="form.get('Telefono')?.errors?.['required'] && isErrorView">
                        Falta agregar el Celular
                    </span>
                </div>
            </c-col>
                <c-col [xs]>
                    <div class="">
                      Fecha nacimiento
                        <input type="date" placeholder="" class="form-control" formControlName="Birthday" >
                        <span class="error" *ngIf="form.get('Birthday')?.errors?.['required'] && isErrorView">
                          Falta agregar la fecha
                      </span>
                    </div>
                </c-col>
                <c-col [xs]>
                  <div class="">
                    Región
                    <select id="Region"  (change)="buscarComunas($event)"  cSelect formControlName="Region"  class="form-control">
                        <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
                    </select>
                </div>
              </c-col>
              <c-col [xs]>
                <div class="">
                  Comuna
                  <select id="Comuna" cSelect formControlName="Comuna" class="form-control">
                      <option  *ngFor="let comuna of listaComunas" value={{comuna.Id_comuna}} >{{comuna.Nombre_comuna}}</option>
                  </select>
              </div>
            </c-col>
          
           
              </c-row>
              <c-row>
                <c-col [xs]>
                  <div class="">
                    Dirección
                    <input type="text" placeholder="Dirección" class="form-control" formControlName="Domicilio" >
                  </div>
              </c-col>
              <c-col [xs]>
                <div class="">
                  Tipo Tripulacion
                  <select id="Comuna" cSelect formControlName="Tipo_usuario" class="form-control">
                    <option  *ngFor="let tipo of tipoTripulacion" value={{tipo.Id}} >{{tipo.Tripulacion}}</option>
                </select>
                </div>
            </c-col>
              </c-row>
              <p></p>
              <!-- <h5>Datos bancarios</h5> -->
              <p></p>
          
              <c-row>
                <c-col [xs]>       
                    <div class="">
                      Documento Antecedentes
                      
                    <input type="file" name="" id="doc_antecedentes" *ngIf="descargarDocAntecedentes == null || descargarDocAntecedentes == ''" (change)="onFileSelected($event,'cert_antecedentes')" class="form-control" accept=".pdf"> 
                    <p></p>
                    <button class="btn btn-success" type="button" *ngIf="descargarDocAntecedentes" (click)="descargarArchivo(descargarDocAntecedentes)" >descargar 
                      <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                  </button>
                  
                  </div>
              </c-col>
          
                <c-col [xs]>
                    <div class="noEditar">
                      Licencia de conducir
                      <input type="file" name="" id="doc_bancario" *ngIf="descargarLicenciaConducir == null || descargarLicenciaConducir == ''" (change)="onFileSelected($event,'licencia_conducir')" class="form-control" accept=".pdf"> 
                      <p></p>
                      <button class="btn btn-success" type="button" *ngIf="descargarLicenciaConducir" (click)="descargarArchivo(descargarLicenciaConducir)" >descargar 
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                    </button>
                    
                    </div>
                </c-col>
                <c-col [xs]>
                    <div class="">
                      Fecha vencimiento licencia *
                      <input type="date" placeholder="" class="form-control" formControlName="Fec_venc_lic_conducir" >
                        <span class="error" *ngIf="form.get('Fec_venc_lic_conducir')?.errors?.['required'] && isErrorView">
                          Falta agregar la fecha
                      </span>
                    </div>
                </c-col>
                <c-col [xs]>
                    <div class="noEditar">
                      PDF cedula_identidad
                      <input type="file" name="" id="doc_bancario" *ngIf="descargarCedulaIdentidad == null || descargarCedulaIdentidad == ''" (change)="onFileSelected($event,'cedula_identidad')" class="form-control" accept=".pdf"> 
                      <p></p>
                      <button class="btn btn-success" type="button" *ngIf="descargarCedulaIdentidad" (click)="descargarArchivo(descargarCedulaIdentidad)" >descargar 
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                    </button>
                    
                    </div>
                </c-col>
                
            </c-row>
          
            <c-row>
                <c-col [xs]>
                    <div class="noEditar">
                      Contrato
                      <input type="file" name="" id="doc_bancario" *ngIf="descargarContrato == null || descargarContrato == ''" (change)="onFileSelected($event,'contrato')" class="form-control" accept=".pdf"> 
                      <p></p>
                      <button class="btn btn-success" type="button" *ngIf="descargarContrato" (click)="descargarArchivo(descargarContrato)" >descargar 
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                    </button>
                    
                    </div>
                </c-col>
              <c-col [xs]>
                <div class="noEditar">
                  Foto Perfil
                  <input type="file" name="" id="doc_bancario" *ngIf="descargarFotoPerfil == null || descargarFotoPerfil == ''" (change)="onFileSelected($event,'foto_perfil')" class="form-control" accept=".jpg, .png"> 
                  <p></p>
                  <button class="btn btn-success" type="button" *ngIf="descargarFotoPerfil" (click)="descargarArchivo(descargarFotoPerfil)" >descargar 
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                </button>
                
                </div>
              </c-col>
              <c-col [xs]>       

            </c-col>
            <c-col [xs]>
              
          </c-col>
          
          <p></p>
              
          </c-row>
          
          
          </div>
            <p></p>
            <c-row>
                <c-col [xs]>
                    <button class="btn btn-success" type="submit"  >Actualizar 
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                    </button>
                </c-col>
                <c-col [xs]>
                  <!-- <button class="btn btn-success" type="button" (click)="activarTripulacion(true)" *ngIf="TripulacionActivado !== true">Activar Tripulacion  </button>
                  <button class="btn btn-danger" type="button" (click)="activarTripulacion(false)" *ngIf="TripulacionActivado == true" >Desactivar Tripulacion</button> -->

              </c-col>
            </c-row>
          </form>
          
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveDemo()" cButton color="secondary">
        Cerrar
      </button>
    </c-modal-footer>
</c-modal>

<c-modal id="liveAgregaModal" [visible]="visibleAgregar" (visibleChange)="handleLiveAgregaChange($event)" size="xl">
  <c-modal-header>
    <h5 cModalTitle>Agregar Tripulacion </h5>
    <button (click)="toggleLiveAgregar()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
        <form cForm [formGroup]="form" (ngSubmit)="registrar()" > 
          <div class="card">
            <p></p>
            <h5>Datos Razón Social</h5>
            <p></p>
            <c-row>
              <c-col [xs]>
                  <div class="">
                      Nombre Completo
                      <input type="text" placeholder="Nombre Completo" class="form-control" formControlName="Nombre_completo" >
                      <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                      <span class="error" *ngIf="form.get('Nombre_completo')?.errors?.['required'] && isErrorView">
                          Falta agregar el nombre
                      </span>
                  </div>
              </c-col>
        
              <c-col [xs]>
                  <div class="noEditar">
                      Rut

                      <select id="Region" cSelect formControlName="Rut" (change)="seleccionarRut()" class="form-control">
                        <option [value]="'Seleccione un colaborador'" selected>Seleccione un colaborador</option>
                        <option *ngFor="let colab of colaboradores"   [value]="colab.Rut"  >{{colab.Rut}}</option>
                    </select>
                    <span class="error" *ngIf="(form.get('Rut')?.errors?.['required'] ||form.value.Rut == 'Seleccione un colaborador')&& isErrorView">
                      Falta ingresar el rut
                  </span>

                      <!-- <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut" (change)="verificaRut('colab')" maxlength="10" > 
                      
                      <span class="error" *ngIf="!rutValido ">
                        Error al ingresar rut
                    </span> -->
                  </div>
              </c-col>
              <c-col [xs]>
              </c-col>
        
            <c-col [xs]>
            </c-col>
          </c-row>
          <p></p>
          <h5>Datos Tripulación</h5>
          <c-row>
              <c-col [xs]>
                  <div class="">
                      Nombre Completo
                      <input type="text" placeholder="Nombre Completo" class="form-control" formControlName="Nombre_completo" >
                      <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                      <span class="error" *ngIf="form.get('Nombre_completo')?.errors?.['required'] && isErrorView">
                          Falta agregar el nombre
                      </span>
                  </div>
              </c-col>
        
              <c-col [xs]>
                  <div class="noEditar">
                      Rut

                      <!-- <select id="Region" cSelect formControlName="Rut" (change)="seleccionarRut()" class="form-control">
                        <option [value]="'Seleccione un colaborador'" selected>Seleccione un colaborador</option>
                        <option *ngFor="let colab of colaboradores"   [value]="colab.Rut"  >{{colab.Rut}}</option>
                    </select> -->
                    <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut_seleccionado" maxlength="10" > 

                    <span class="error" *ngIf="(form.get('Rut')?.errors?.['required'] ||form.value.Rut == 'Seleccione un colaborador')&& isErrorView">
                      Falta ingresar el rut
                  </span>

                      <!-- <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut" (change)="verificaRut('colab')" maxlength="10" > 
                      
                      <span class="error" *ngIf="!rutValido ">
                        Error al ingresar rut
                    </span> -->
                  </div>
              </c-col>
              <c-col [xs]>
                  <div class="noEditar">
                      N° serie cedula
                      <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                      <input type="text" placeholder="N° serie cedula" class="form-control"  formControlName="Nro_serie_cedula" maxlength="12">
                      <span class="error" *ngIf="form.get('Nro_serie_cedula')?.errors?.['required'] && isErrorView">
                          Falta agregar el N° serie cedula
                      </span>
                  </div>
              </c-col>
              <c-col [xs]>
                  <div class="">
                      E-mail
                       <input type="email" class="form-control"  placeholder="E-Mail" formControlName="Email" >
                       <span class="error" *ngIf="form.get('Email')?.errors?.['required'] && isErrorView">
                          Falta agregar el E-mail
                      </span>
                      <span class="error" *ngIf="form.get('Email')?.errors?.['email'] && isErrorView">
                        El E-mail no es un formato valido
                    </span>
                      </div>
              </c-col>
              
              
          </c-row>
          <c-row>
            <c-col [xs]>
              <div class="noEditar">
                  N° Telefono
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Telefono" class="form-control"  formControlName="Telefono" maxlength="12">
                  <span class="error" *ngIf="form.get('Telefono')?.errors?.['required'] && isErrorView">
                      Falta agregar el Celular
                  </span>
              </div>
          </c-col>
              <c-col [xs]>
                  <div class="">
                    Fecha nacimiento
                      <input type="date" placeholder="" class="form-control" formControlName="Birthday" >
                      <span class="error" *ngIf="form.get('Birthday')?.errors?.['required'] && isErrorView">
                        Falta agregar la fecha
                    </span>
                  </div>
              </c-col>
              <c-col [xs]>
                <div class="">
                  Región
                  <select id="Region"  (change)="buscarComunas($event)"  cSelect formControlName="Region"  class="form-control">
                      <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
                  </select>
              </div>
            </c-col>
            <c-col [xs]>
              <div class="">
                Comuna
                <select id="Comuna" cSelect formControlName="Comuna" class="form-control">
                    <option  *ngFor="let comuna of listaComunas" value={{comuna.Id_comuna}} >{{comuna.Nombre_comuna}}</option>
                </select>
            </div>
          </c-col>
        
         
            </c-row>
            <c-row>
              <c-col [xs]>
                <div class="">
                  Dirección
                  <input type="text" placeholder="Dirección" class="form-control" formControlName="Domicilio" >
                </div>
            </c-col>
            <c-col [xs]>
              <div class="">
                Tipo Tripulacion
                <select id="Comuna" cSelect formControlName="Tipo_usuario" class="form-control">
                  <option  *ngFor="let tipo of tipoTripulacion" value={{tipo.Id}} >{{tipo.Tripulacion}}</option>
              </select>
              </div>
          </c-col>
            </c-row>
            <p></p>
            <!-- <h5>Datos bancarios</h5> -->
            <p></p>
        
            <c-row>
              <c-col [xs]>       
                  <div class="">
                    Documento Antecedentes
                    
                  <input type="file" name="" id="doc_bancario" *ngIf="descargarDocAntecedentes == null || descargarDocAntecedentes == ''" (change)="onFileSelected($event,'cert_antecedentes')" class="form-control" accept=".pdf"> 
                  
                  <button class="btn btn-success" type="button" *ngIf="descargarDocAntecedentes" (click)="descargarArchivo(descargarDocAntecedentes)" >descargar 
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                </button>
                
                </div>
            </c-col>
        
              <c-col [xs]>
                  <div class="noEditar">
                    Licencia de conducir
                    <input type="file" name="" id="doc_bancario" *ngIf="descargarLicenciaConducir == null || descargarLicenciaConducir == ''" (change)="onFileSelected($event,'licencia_conducir')" class="form-control" accept=".pdf"> 
                  
                    <button class="btn btn-success" type="button" *ngIf="descargarLicenciaConducir" (click)="descargarArchivo(descargarLicenciaConducir)" >descargar 
                      <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                  </button>
                  </div>
              </c-col>
              <c-col [xs]>
                  <div class="">
                    Fecha vencimiento licencia *
                    <input type="date" placeholder="" class="form-control" formControlName="Fec_venc_lic_conducir" >
                      <span class="error" *ngIf="form.get('Fec_venc_lic_conducir')?.errors?.['required'] && isErrorView">
                        Falta agregar la fecha
                    </span>
                  </div>
              </c-col>
              <c-col [xs]>
                  <div class="noEditar">
                    PDF cedula_identidad
                    <input type="file" name="" id="cedula_identidad" *ngIf="descargarCedulaIdentidad == null || descargarCedulaIdentidad == ''" (change)="onFileSelected($event,'cedula_identidad')" class="form-control" accept=".pdf"> 
                  
                    <button class="btn btn-success" type="button" *ngIf="descargarCedulaIdentidad" (click)="descargarArchivo(descargarCedulaIdentidad)" >descargar 
                      <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                  </button>
                  </div>
              </c-col>
              
          </c-row>
        
          <c-row>
              <c-col [xs]>
                  <div class="noEditar">
                    Contrato
                    <input type="file" name="" id="doc_bancario" *ngIf="descargarContrato == null || descargarContrato == ''" (change)="onFileSelected($event,'contrato')" class="form-control" accept=".pdf"> 
                    <p></p>
                    <button class="btn btn-success" type="button" *ngIf="descargarContrato" (click)="descargarArchivo(descargarContrato)" >descargar 
                      <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                  </button>
                  </div>
              </c-col>
            <c-col [xs]>
              <div class="noEditar">
                Foto Perfil
                <input type="file" name="" id="doc_bancario" *ngIf="descargarFotoPerfil == null || descargarFotoPerfil == ''" (change)="onFileSelected($event,'foto_perfil')" class="form-control"  accept=".jpg, .png"> 
                <p></p>
                <button class="btn btn-success" type="button" *ngIf="descargarFotoPerfil" (click)="descargarArchivo(descargarFotoPerfil)" >descargar 
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
              </button>
              
              </div>

            </c-col>
            <c-col [xs]>       

          </c-col>
          <c-col [xs]>
            
        </c-col>
        
        <p></p>
            
        </c-row>
        
        
        </div>
          <p></p>
          <c-row>
              <c-col [xs]>
                  <button class="btn btn-success" type="submit"  >Agregar 
                      <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                  </button>
              </c-col>
              <c-col [xs]>
                <!-- <button class="btn btn-success" type="button" (click)="activarTripulacion(true)" *ngIf="TripulacionActivado !== true">Activar Tripulacion  </button>
                <button class="btn btn-danger" type="button" (click)="activarTripulacion(false)" *ngIf="TripulacionActivado == true" >Desactivar Tripulacion</button> -->

            </c-col>
          </c-row>
        </form>
  

  </c-modal-body>

</c-modal>

<h2>Tripulacion</h2>
<p></p>

<c-row>
    <c-col [xs] >
        <button  class="btn btn-success" (click)="toggleLiveAgregar()">Agregar Tripulacion
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 512 512">
            <path fill="black" d="M208 16A112.127 112.127 0 0 0 96 128v79.681a80.236 80.236 0 0 0 9.768 38.308l27.455 50.333L60.4 343.656A79.725 79.725 0 0 0 24 410.732V496h288v-32H56v-53.268a47.836 47.836 0 0 1 21.841-40.246l97.66-63.479l-41.64-76.341A48.146 48.146 0 0 1 128 207.681V128a80 80 0 0 1 160 0v79.681a48.146 48.146 0 0 1-5.861 22.985L240.5 307.007l71.5 46.476v-38.166l-29.223-19l27.455-50.334A80.23 80.23 0 0 0 320 207.681V128A112.127 112.127 0 0 0 208 16m216 384v-64h-32v64h-64v32h64v64h32v-64h64v-32z" />
          </svg>      
        </button>
    </c-col>
    <c-col [xs]>

    </c-col>
    <c-col [xs]>
        <input type="text" placeholder="Buscar Tripulacion" class="form-control"  [(ngModel)]="nombreColaborador" >
    </c-col>
    <c-col [xs]>
        <button class="btn btn-success" (click)=" buscarColaboradoresPorNombre()" >Buscar</button>
    </c-col>
</c-row>
<p></p>

    <div class="greenTable" style="width: 100%;">
      
      <table id="tablaProductosPicking" style="width: 100%;"  >
      <thead>
        <tr>
            <th>Razón</th>
            <th>Tipo razón</th>
            <th>Rut</th>
            <th>Fecha registro</th>
            <th>Estado</th>
            <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colab of tripulacion; let i = index">
          <td>{{colab.Nombre_completo}}</td>
          <td>{{ mostrarTipoTripulacion(colab.Tipo_usuario) }}</td>
          <td>{{formatearRUT(colab.Rut)}}</td>
          <td>{{colab.Created_at}}</td>
          <td>
            <span *ngIf="colab.Activo">Activado</span>
            <span *ngIf="!colab.Activo">Desactivado</span>
          </td>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" (click)="revisarDatos(colab.Rut)" ><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>
          </td>
          <!-- <td>{{colab.Created_at}}</td> -->
        </tr>
        <tr *ngIf="tripulacion.length==0">
          <td colspan="5">No hay registros</td>
        </tr>
     
      </tbody>
      </table>
      
    </div>


