<c-container>
    <h2>Easy OPL</h2>

    <c-modal id="liveDemoModal" [visible]="visibleCantidad" (visibleChange)="handleLiveCantidadChange($event)" >
      <c-modal-header>
        <h5 cModalTitle>Productos pedido {{codProductoModal}}</h5>
        <button (click)="toggleLiveCantidad()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="greenTable">
        <table id="tablaProductosPicking" >
          <thead>
            <tr>
                <th>Descripcion</th>
                <th>Código Producto</th>
                <th>Cantidad</th>
                <th>SKU</th>
                <th>Verificado</th>
            </tr>
          </thead>
          <tr *ngFor="let producto of productosPorVerificarByCP ;let i = index " >
            <td >{{producto.Descripcion_producto}}</td>
            <td>{{producto.Codigo_producto}}</td>
            <td>{{producto.Cantidad_producto}}</td>
            <td>{{producto.SKU}}</td>
            <td *ngIf="producto.Pistoleado === true" >
              <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)"  xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </td>
            <td *ngIf="producto.Pistoleado === false " >
              <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            </td>
          </tr>
          </table>
        </div>
        <p></p>
        <table>
            <tr>
                <td><h4>Bultos :</h4></td>
                <td> <input type="number"  [(ngModel)]="numBultos" min="1"> </td>
            </tr>
        </table>
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleLiveCantidad()" cButton color="secondary">
          Cerrar
        </button>
        <button  cButton color="success" (click)="guardarDatosBultos()">
            Guardar
          </button>
      </c-modal-footer>
    </c-modal>
  
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
      <c-modal-header>
        <h5 cModalTitle>Productos pedido {{codProductoModal}}</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="greenTable">
        <table id="tablaProductosPicking" >
          <thead>
            <tr>
                <th>Descripcion</th>
                <th>Código Producto</th>
                <th>Cantidad</th>
                <th>SKU</th>
                <th>Verificado</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of productosPorVerificarByCP ;let i = index ">
            <td>{{producto.Descripcion_producto}}</td>
            <td>{{producto.Codigo_producto}}</td>
            <td>{{producto.Cantidad_producto}}</td>
            <td>{{producto.SKU}}</td>
            <td *ngIf="producto.Pistoleado === true" >
              <svg  xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </td>
            <td *ngIf="producto.Pistoleado === false " >
              <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            </td>
          </tr>
          </tbody>
          </table>
        </div>

        
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
          Cerrar
        </button>
        
      </c-modal-footer>
    </c-modal>


    <c-modal id="liveDemoModal" [visible]="visible4digitos" (visibleChange)="handle4Digito($event)">
      <c-modal-header>
        <h5 cModalTitle>Productos</h5>
        <button (click)="toggle4Digitos()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="greenTable">
        <table id="tablaProductosPicking" >
          <thead>
            <tr>
                <th>Carga</th>
                <th>Código de Producto</th>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Calle y Número</th>
                <th>Cantidad de Producto</th>
                <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of ListaProductos4Digitos ;let i = index ">
            <td>{{producto.Carga}}</td>
              <td>{{producto.Codigo_producto}}</td>
              <td>{{producto.Nombre}}</td>
              <td>{{producto.Provincia}}</td>
              <td>{{producto.Calle}}</td>
              <td>{{producto.Cantidad_producto}}</td>
              <td> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" (click)="pickearQR(producto.Codigo_producto)"><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>
            </tr>
          </tbody>
          </table>
        </div>
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggle4Digitos()" cButton color="secondary">
          Cerrar
        </button>
        
      </c-modal-footer>
    </c-modal>


    <!-- <button (click)="toggleLiveCantidad()" >boton pop</button> -->
  
      <c-row [xs]="1"> 
        <c-col>
          <!-- <input type="text" name="" [(ngModel)]="codigoProducto" (change)="cambiarTicketByInput(codigoProducto)"> -->
          <c-col>
            <div class="inline-container">
                    <!-- <input type="text" name="" [(ngModel)]="codigoProducto" id="codigoProducto" (change)="cambiarTicketByInput(codigoProducto)" > -->
                    <input type="text" name="" [(ngModel)]="codigoProducto" id="codigoProducto" (change)="pickearQR(codigoProducto)" >
                    <c-dropdown >
                      <button cButton cDropdownToggle color="secondary" size="sm">
                        Cargas
                      </button>
                      <ul cDropdownMenu>
                        <li><a [routerLink]="[]" (click)="filterByCarga('Todas')" cDropdownItem>Todos</a></li>
                        <li *ngFor="let carga of cargas"><a [routerLink]="[]" (click)="filterByCarga(carga)" cDropdownItem>{{carga}}</a></li>
                      </ul>
                    </c-dropdown>
                  <span>{{cargaActual}}</span> 
                    &nbsp;&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24">
                      <g transform="translate(24 0) scale(-1 1)"><path fill="currentColor" d="M6 19.462q-1 0-1.59-.778q-.589-.778-.348-1.722l1.896-7.127q-.806-.275-1.382-1.05Q4 8.01 4 7q0-1.246.877-2.123Q5.754 4 7 4h9.61l-3 6h-3.558l-.371 1.404h.857v3H8.881l-.943 3.608q-.178.648-.719 1.049q-.54.4-1.219.4M17.98 4.655l-.393-.87l3.125-1.419l.388.875zm2.732 6.98l-3.125-1.394l.394-.875l3.119 1.42zm-2.597-4.153V6.52h3.462v.962z"/></g>
                  </svg>
                  <input type="text" name="" [(ngModel)]="codigo4digitos"  id="codigoProducto4Digitos" (change)="geProductospor4Digitos(codigo4digitos)" >

                  <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 2048 2048">
                    <path fill="currentColor" d="M1024 1280H640v-75q0-38 14-73q11-28 33-54t50-53t55-50t51-49t38-47t15-47q0-26-19-45t-45-19q-23 0-40 14t-23 37l-125-26q6-33 23-61t44-48t57-32t64-12q40 0 75 15t61 41t41 61t15 75q0 39-11 70t-31 58t-44 51t-51 46t-51 46t-47 49h235zM2048 256v1408H0V256zm-128 128H128v1152h1792zM397 787q-29 17-68 31t-73 14V704q11 0 31-6t40-15t36-21t22-22h127v640H397zm923 493q-42 0-81-14t-75-37v-127q20 15 35 26t32 18t34 10t45 3q22 0 42-4t35-15t25-28t9-42q0-31-24-44t-56-18t-65-3t-53 2v-97h58q31 0 58-7t45-26t18-57q0-42-25-56t-64-14q-40 0-69 18t-58 43V681q34-23 76-32t82-9q36 0 70 10t60 29t43 49t16 69q0 48-19 85t-62 61q44 15 72 53t28 85q0 47-20 84t-52 62t-75 39t-85 14" />
                  </svg>

                  <!-- <span>{{cargaActual}}</span>  -->
            </div>
      
          </c-col>
    
        </c-col>
        <c-col>
            <p></p>
        </c-col>
        <c-col>
        Verificados {{cantVerificados}} <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              <div class="greenTable">
              <table id="tablaProductosPicking" >
              <thead>
                <tr>
                    <!-- <th>Código de Cliente</th> -->
                    <th>Carga</th>
                    <th>Código de Pedido</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Calle y Número</th>
                    <th>Cantidad de Producto</th>
                    <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let producto of productosVerificados;let i = index ">
                <td>{{producto.Carga}}</td>
                <td>{{producto.Codigo_producto}}</td>
                <td>{{producto.Nombre}}</td>
                <td>{{producto.Provincia}}</td>
                <td>{{producto.Calle}}</td>
                <td>{{producto.Cantidad_producto}}</td>
                <td> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" (click)="pickearQR(producto.Codigo_producto)"><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>
                </td>
              </tr>
              </tbody>
              </table>
            </div>
        </c-col>
        <c-col>
          <p></p>
      </c-col>
    
      <c-col>
  
          <c-col>
            Por Verificar {{cantNoVerificados}} <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            <div class="greenTable">
            <table id="tablaProductosPicking" >
            <thead>
              <tr>
                  <th>Carga</th>
                  <th>Código de Producto</th>
                  <th>Nombre</th>
                  <th>Ciudad</th>
                  <th>Calle y Número</th>
                  <th>Cantidad de Producto</th>
                  <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productosPorVerificar ;let i = index ">
              <td>{{producto.Carga}}</td>
              <td>{{producto.Codigo_producto}}</td>
              <td>{{producto.Nombre}}</td>
              <td>{{producto.Provincia}}</td>
              <td>{{producto.Calle}}</td>
              <td>{{producto.Cantidad_producto}}</td>
              <td> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" (click)="pickearQR(producto.Codigo_producto)"><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>
            </tr>
            </tbody>
            </table>
            </div>
            </c-col>
    
      </c-col>
    
      </c-row>
      <c-row>
      </c-row>
    </c-container>

