<c-container>
    <h2>Easy OPL</h2>

    <c-modal id="liveDemoModal" [visible]="visibleCantidad" (visibleChange)="handleLiveCantidadChange($event)" >
      <c-modal-header>
        <h5 cModalTitle>Productos pedido {{codProductoModal}}</h5>
        <button (click)="toggleLiveCantidad()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="greenTable">
        <table id="tablaProductosPicking" >
          <thead>
            <tr>
                <th>Descripcion</th>
                <th>Código Producto</th>
                <th>Cantidad</th>
                <th>SKU</th>
                <th>Verificado</th>
            </tr>
          </thead>
          <tr *ngFor="let producto of productosPorVerificarByCP ;let i = index " >
            <td >{{producto.Descripcion_producto}}</td>
            <td>{{producto.Codigo_producto}}</td>
            <td>{{producto.Cantidad_producto}}</td>
            <td>{{producto.SKU}}</td>
            <td *ngIf="producto.Pistoleado === true" >
              <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)"  xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </td>
            <td *ngIf="producto.Pistoleado === false " >
              <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            </td>
          </tr>
          </table>
        </div>
        <p></p>
        <table>
            <tr>
                <td><h4>Bultos :</h4></td>
                <td> <input type="number"  [(ngModel)]="numBultos" min="1"> </td>
            </tr>
        </table>
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleLiveCantidad()" cButton color="secondary">
          Cerrar
        </button>
        <button  cButton color="success" (click)="guardarDatosBultos()">
            Guardar
          </button>
      </c-modal-footer>
    </c-modal>
  
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
      <c-modal-header>
        <h5 cModalTitle>Productos pedido {{codProductoModal}}</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="greenTable">
        <table id="tablaProductosPicking" >
          <thead>
            <tr>
                <th>Descripcion</th>
                <th>Código Producto</th>
                <th>Cantidad</th>
                <th>SKU</th>
                <th>Verificado</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let producto of productosPorVerificarByCP ;let i = index ">
            <td>{{producto.Descripcion_producto}}</td>
            <td>{{producto.Codigo_producto}}</td>
            <td>{{producto.Cantidad_producto}}</td>
            <td>{{producto.SKU}}</td>
            <td *ngIf="producto.Pistoleado === true" >
              <svg  xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
            </td>
            <td *ngIf="producto.Pistoleado === false " >
              <svg (click)="cambiarTicket(i,producto.Codigo_pedido,producto.Codigo_producto)" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            </td>
          </tr>
          </tbody>
          </table>
        </div>

        
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleLiveDemo()" cButton color="secondary">
          Cerrar
        </button>
        
      </c-modal-footer>
    </c-modal>


    <!-- <button (click)="toggleLiveCantidad()" >boton pop</button> -->
  
      <c-row [xs]="1"> 
        <c-col>
          <!-- <input type="text" name="" [(ngModel)]="codigoProducto" (change)="cambiarTicketByInput(codigoProducto)"> -->
          <c-col>
            <div class="inline-container">
                    <!-- <input type="text" name="" [(ngModel)]="codigoProducto" id="codigoProducto" (change)="cambiarTicketByInput(codigoProducto)" > -->
                    <input type="text" name="" [(ngModel)]="codigoProducto" id="codigoProducto" (change)="pickearQR(codigoProducto)" >
                    <c-dropdown >
                      <button cButton cDropdownToggle color="secondary" size="sm">
                        Cargas
                      </button>
                      <ul cDropdownMenu>
                        <li><a [routerLink]="[]" (click)="filterByCarga('Todas')" cDropdownItem>Todos</a></li>
                        <li *ngFor="let carga of cargas"><a [routerLink]="[]" (click)="filterByCarga(carga)" cDropdownItem>{{carga}}</a></li>
                      </ul>
                    </c-dropdown>
                  <span>{{cargaActual}}</span> 
            </div>
      
          </c-col>
    
        </c-col>
        <c-col>
            <p></p>
        </c-col>
        <c-col>
        Verificados {{cantVerificados}} <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
              <div class="greenTable">
              <table id="tablaProductosPicking" >
              <thead>
                <tr>
                    <!-- <th>Código de Cliente</th> -->
                    <th>Carga</th>
                    <th>Código de Producto</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Calle y Número</th>
                    <th>Cantidad de Producto</th>
                    <th>Detalle</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let producto of productosVerificados;let i = index ">
                <td>{{producto.Carga}}</td>
                <td>{{producto.Codigo_producto}}</td>
                <td>{{producto.Nombre}}</td>
                <td>{{producto.Calle}}</td>
                <td>{{producto.Provincia}}</td>
                <td>{{producto.Cantidad_producto}}</td>
                <td> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" (click)="pickearQR(producto.Codigo_producto)"><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>
                </td>
              </tr>
              </tbody>
              </table>
            </div>
        </c-col>
        <c-col>
          <p></p>
      </c-col>
    
      <c-col>
  
          <c-col>
            Por Verificar {{cantNoVerificados}} <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            <div class="greenTable">
            <table id="tablaProductosPicking" >
            <thead>
              <tr>
                  <th>Carga</th>
                  <th>Código de Producto</th>
                  <th>Nombre</th>
                  <th>Ciudad</th>
                  <th>Calle y Número</th>
                  <th>Cantidad de Producto</th>
                  <th>Detalle</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productosPorVerificar ;let i = index ">
              <td>{{producto.Carga}}</td>
              <td>{{producto.Codigo_producto}}</td>
              <td>{{producto.Nombre}}</td>
              <td>{{producto.Calle}}</td>
              <td>{{producto.Provincia}}</td>
              <td>{{producto.Cantidad_producto}}</td>
              <td> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" (click)="pickearQR(producto.Codigo_producto)"><path fill="currentColor" d="M16 8.286C8.454 8.286 2.5 16 2.5 16s5.954 7.715 13.5 7.715c5.77 0 13.5-7.715 13.5-7.715S21.77 8.286 16 8.286zm0 12.52c-2.65 0-4.807-2.156-4.807-4.806S13.35 11.193 16 11.193S20.807 13.35 20.807 16S18.65 20.807 16 20.807zm0-7.612a2.806 2.806 0 1 0 0 5.611a2.806 2.806 0 0 0 0-5.611z"/></svg>
            </tr>
            </tbody>
            </table>
            </div>
            </c-col>
    
      </c-col>
    
      </c-row>
      <c-row>
      </c-row>
    </c-container>

