
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$coreui-free-angular-admin-template-primary: mat.define-palette(mat.$indigo-palette);
$coreui-free-angular-admin-template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$coreui-free-angular-admin-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$coreui-free-angular-admin-template-theme: mat.define-light-theme((
  color: (
    primary: $coreui-free-angular-admin-template-primary,
    accent: $coreui-free-angular-admin-template-accent,
    warn: $coreui-free-angular-admin-template-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($coreui-free-angular-admin-template-theme);

/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

ng-select .ng-select-container {
    width: 250px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    /* Otros estilos personalizados */
  }

  ng-select .ng-dropdown-panel .ng-option {
    background-color: #f2f2f2;
    color: #333333;
    /* Otros estilos personalizados */
  }

   ng-select .ng-value-container {
    background-color: #f2f2f2;
    color: #333333;
    /* Otros estilos personalizados */
  }

  .table-sin-asociado {
    width: auto;
    max-height: 400px; /* Altura de ejemplo */
    overflow: auto;
  }
  
  .table-sin-asociado table {
    border: 1px solid #28A745;
    background-color: #FFFEF3;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-sin-asociado table td, table th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  .table-sin-asociado table tbody {
    white-space: nowrap;
    font-size: 14px;
  }
  
  .table-sin-asociado table tr:nth-child(even) {
    background: #FFFEF3;
  }
  .table-sin-asociado table thead {
    position: sticky;
    top: 0;
    left: 0;
    white-space: nowrap;
    background: #28A745;
  }
  .table-sin-asociado table thead th {
    
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  .table-sin-asociado table thead th:first-child {
    border-left: none;
  }

  @media screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
    }
  }


  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .dragdrop-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 30px;
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  }

  
  .userData {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .userDataEmail {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
  }


  //// iconos svg

.viking {
  background: url('https://api.iconify.design/game-icons/viking-head.svg') no-repeat center center / contain;
}

.hela {
  background: url('/assets/hela_icon.svg') no-repeat center center / contain;
}



/* CoreUI (cil) icons from Iconify with light gray color */
.cil-magnifying-glass {
  background: url('https://api.iconify.design/cil/magnifying-glass.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cilMoney {
  background: url('https://api.iconify.design/cil/money.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-building {
  background: url('https://api.iconify.design/cil/building.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-home {
  background: url('https://api.iconify.design/cil/home.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-window {
  background: url('https://api.iconify.design/cil/window.svg?color=%23D3D3D3') no-repeat center center / contain; 
}

.cil-contact {
  background: url('https://api.iconify.design/cil/contact.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cilDevices {
  background: url('https://api.iconify.design/cil/devices.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-chat-bubble {
  background: url('https://api.iconify.design/cil/chat-bubble.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-handshake {
  background: url('https://api.iconify.design/fa6-regular/handshake.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-speedometer {
  background: url('https://api.iconify.design/cil/speedometer.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-list {
  background: url('https://api.iconify.design/cil/list.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-car-alt {
  background: url('https://api.iconify.design/cil/car-alt.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-bar-chart {
  background: url('https://api.iconify.design/cil/bar-chart.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-clipboard {
  background: url('https://api.iconify.design/cil/clipboard.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-truck {
  background: url('https://api.iconify.design/cil/truck.svg?color=%23D3D3D3') no-repeat center center / contain;
}

.cil-swap-horizontal {
  background: url('https://api.iconify.design/cil/swap-horizontal.svg?color=%23D3D3D3') no-repeat center center / contain;
}


a {
  text-decoration: none  !important;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//diseño de alertas
#alertaContainer {
  position: fixed;
  right: 20px;
  bottom: 20px; /* Cambiado de 'top' a 'bottom' para que esté en la parte inferior */
  display: flex;
  flex-direction: column; /* Cambiado a 'column' para que las alertas se apilen hacia arriba */
  gap: 10px;
  align-items: flex-end; /* Alinea las alertas a la derecha */
  max-height: 90%; /* Limita la altura para evitar que se desborden demasiado */
  overflow-y: auto; /* Si hay muchas alertas, pueden hacer scroll */
  color: white;
}
/* Estilo base para todas las alertas */
#alertaContainer .alerta {
  width: 300px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 14px;
  z-index: 9999;
}
/* Alertas de éxito (verde) */
#alertaContainer .alerta.success {
  background-color: #28a745; /* Verde */
}

#alertaContainer .alerta.gray {
  background-color: gray; /* Verde */
}

/* Alertas de error (rojo) */
#alertaContainer .alerta.error {
  background-color: #dc3545; /* Rojo */
}
/* Alertas de advertencia (amarillo) */
#alertaContainer .alerta.warning {
  background-color: #ffc107; /* Amarillo */
  color: black; /* Cambiar el texto a negro para mejor contraste */
}
/* Iconos de las alertas */
.alerta i {
  margin-right: 8px;
  font-size: 18px;
}


