/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

ng-select .ng-select-container {
    width: 250px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    /* Otros estilos personalizados */
  }

  ng-select .ng-dropdown-panel .ng-option {
    background-color: #f2f2f2;
    color: #333333;
    /* Otros estilos personalizados */
  }

   ng-select .ng-value-container {
    background-color: #f2f2f2;
    color: #333333;
    /* Otros estilos personalizados */
  }

  .table-sin-asociado {
    width: auto;
    max-height: 400px; /* Altura de ejemplo */
    overflow: auto;
  }
  
  .table-sin-asociado table {
    border: 1px solid #28A745;
    background-color: #FFFEF3;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-sin-asociado table td, table th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  .table-sin-asociado table tbody {
    white-space: nowrap;
    font-size: 14px;
  }
  
  .table-sin-asociado table tr:nth-child(even) {
    background: #FFFEF3;
  }
  .table-sin-asociado table thead {
    position: sticky;
    top: 0;
    left: 0;
    white-space: nowrap;
    background: #28A745;
  }
  .table-sin-asociado table thead th {
    
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  .table-sin-asociado table thead th:first-child {
    border-left: none;
  }

  @media screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
    }
  }


  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .dragdrop-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 30px;
    transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  }

  
  .userData {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .userDataEmail {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
  }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
