<div ngClass="divBeetrack">
  <div *ngFor="let pedido of pedidos">
    <table ngClass="fullTable">
     <tr>
      <td ><p ngClass="letraGrande">Beetrack </p> </td>
      <td ngClass="tdTitle"><p ngClass="letraGrande"></p> </td>
      <td ngClass="tdTitle"><p ngClass="letraGrande"> </p></td>
     </tr>
    </table>
    <!-- <p ngClass="letraGrande">Beetrack </p>  -->
    <c-row >
      <c-col xs="6" sm="3">
        <c-widget-stat-e
          class="mb-4 text-white fs-4"
          color="info"
        >
        TOTAL PEDIDOS
        <br />
          {{pedido.Total_pedidos}}  


      </c-widget-stat-e>
      </c-col>

      <c-col xs="6" sm="3">
        <c-widget-stat-e
          class="mb-6 text-white fs-4"
          color="success"
        >
        ENTREGADOS
        <br />
        {{pedido.Entregados}}
      </c-widget-stat-e>
      </c-col>

      <c-col xs="6" sm="3">
        <c-widget-stat-e
          class="mb-4 text-white fs-4"
          color="danger"
        >
        NO ENTREGADOS
        <br />
        {{pedido.No_entregados}}
      </c-widget-stat-e>
      </c-col>

      <c-col xs="6" sm="3">
        <c-widget-stat-e
          class="mb-4 text-white fs-4"
          color="warning"
        >
        EN RUTA
        <br />
        {{pedido.Pendientes}}
      </c-widget-stat-e>
      </c-col>

      
    </c-row>

  <p ngClass="letraGrande">Fecha de compromiso</p> 
  </div>

  <c-row>
    <!-- <div *ngFor="let pedidoPendiente of pedidosPendientesTotal"> -->
    <c-col sm="6" xl="3" *ngFor="let pedidoPendiente of pedidosPendientesTotal">
      <c-widget-stat-a
        class="mb-4"
        color="info"
        title=""
      >  

        <table >
          <tr ngClass="letraChica">
            Atrasada:  {{pedidoPendiente.Atrasadas}}
          </tr>
          <tr ngClass="letraChica">
          En fecha: {{pedidoPendiente.En_fecha}}
          </tr>
          <tr >
            <p ngClass="letraChica">Adelantadas: {{pedidoPendiente.Adelantadas}}</p>
          </tr>
        </table>
        <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> 

      </c-widget-stat-a>
    </c-col>
  <!-- </div> -->
    <c-col sm="6" xl="3" *ngFor="let pedidoPendiente of pedidosPendientesEntregados">
      <c-widget-stat-a
        class="mb-4"
        color="success"
      >
      <table >
        <tr ngClass="letraChica">
          Atrasada:  {{pedidoPendiente.Atrasadas}}
        </tr>
        <tr ngClass="letraChica">
        En fecha: {{pedidoPendiente.En_fecha}}
        </tr>
        <tr >
          <p ngClass="letraChica">Adelantadas: {{pedidoPendiente.Adelantadas}}</p>
        </tr>
      </table>
      <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p>
      </c-widget-stat-a>
    </c-col>

    <c-col sm="6" xl="3" *ngFor="let pedidoPendiente of pedidosPendientesNoEntregados">
      <c-widget-stat-a
        class="mb-4"
        color="danger"
      >
      <table >
        <tr ngClass="letraChica">
          Atrasada:  {{pedidoPendiente.Atrasadas}}
        </tr>
        <tr ngClass="letraChica">
        En fecha: {{pedidoPendiente.En_fecha}}
        </tr>
        <tr >
          <p ngClass="letraChica">Adelantadas: {{pedidoPendiente.Adelantadas}}</p>
        </tr>
      </table>

      <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> 

      </c-widget-stat-a>
    </c-col>

    <c-col sm="6" xl="3" *ngFor="let pedidoPendiente of pedidosPendientesEnRuta">
      <c-widget-stat-a
        class="mb-4"
        color="warning"
      >

      <table >
        <tr ngClass="letraChica">
          Atrasada:  {{pedidoPendiente.Atrasadas}}
        </tr>
        <tr ngClass="letraChica">
        En fecha: {{pedidoPendiente.En_fecha}}
        </tr>
        <tr >
          <p ngClass="letraChica">Adelantadas: {{pedidoPendiente.Adelantadas}}</p>
        </tr>
      </table>
      <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p> <p ngClass="letraChica"> </p>

      </c-widget-stat-a>
    </c-col>
  </c-row>

* Sportex, Easy, Electrolux
</div>

<c-row>
  <c-col xs="4" sm="1">
    <a class="myButton" (click)="hideTable()" *ngIf="ocultarTabla == true"> <svg cIcon name="cilMinus" size="xl" title="Numbered List Icon">
    </svg> </a>
    <a class="myButton" (click)="showTable()" *ngIf="ocultarTabla == false"> <svg cIcon name="cilPlus" size="xl" title="Numbered List Icon">
    </svg>  </a>
    <p> </p>
  </c-col>
</c-row>

<c-row>
  <c-col >

    <table *ngIf="ocultarTabla == true">
      <tr>
        <td>
          <c-dropdown >
            <button cButton cDropdownToggle color="secondary" size="sm">
              Filtrar por Región
            </button>
            <ul cDropdownMenu>
              <li *ngFor="let region of regiones"><a [routerLink]="[]" (click)="filterByRegion(region)" cDropdownItem>{{region}}</a></li>
            </ul>
          </c-dropdown>
        </td>
        <td>
          <c-dropdown >
            <button cButton  color="secondary" size="sm" (click)="getAllRegion() ">
              Mostrar Todas las regiones
            </button>
            <!-- <ul cDropdownMenu>
              <li  *ngFor="let fecha of fechaIngresoList"><a [routerLink]="[]" (click)="filterByFecha(fecha)" cDropdownItem>{{fecha}}</a></li>
            </ul> -->
          </c-dropdown>
        </td>
      </tr>
    </table>
    <p></p>

  <table class="greenTable" *ngIf="ocultarTabla == true">
            <thead>
              <tr>         
                <th scope="col">N°</th>
                <th scope="col">Ruta</th>
                <th scope="col">Patente</th>
                <th scope="col">Driver</th>
                <th scope="col">Inicio</th>
                <th scope="col">Regíon</th>
                <th scope="col">Total Pedidos</th>
                <th scope="col">11:00 (10%)</th>
                <th scope="col">13:00 (40%)</th>
                <th scope="col">15:00 (60%)</th>
                <th scope="col">17:00 (80%)</th>
                <th scope="col">18:00 (95%)</th>
                <th scope="col">20:00 (100%)</th>
                <th scope="col">Entregados</th>
                <th scope="col">No Entregados</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ruta of rutasBeetrackHoy; let i = index">
                <td scope="row" [ngClass]="{'bg-success text-white': ruta.Porcentaje == 100 }">{{ i + 1 }}</td>
                <td [ngClass]="{'bg-success text-white': ruta.Porcentaje == 100 }">{{ ruta.Ruta }}</td>
                <td [ngClass]="{'bg-success text-white': ruta.Porcentaje == 100 }">{{ ruta.Patente }}</td>
                <td>{{ ruta.Driver }}</td>
                <td>{{ ruta.Inicio }}</td>
                <td>{{ ruta.Region }}</td>
                <td>{{ ruta.Total_pedidos }}</td>
                <td>{{ ruta.Once }}</td>
                <td>{{ ruta.Una }}</td>
                <td>{{ ruta.Tres }}</td>
                <td>{{ ruta.Cinco }}</td>
                <td>{{ ruta.Seis }}</td>
                <td>{{ ruta.Ocho }}</td>
                <td>{{ ruta.Entregados }}</td>
                <td>{{ ruta.No_entregados }}</td>
              </tr>
              <tr>
                <td colspan="15" *ngIf="noData">Sin datos</td>
              </tr>
              <tr>
                <td colspan="15" *ngIf="isLoadingBeetrack"><img src="../../../assets/images/loading-gif.gif" /></td>
              </tr>
            </tbody>
          </table>
          </c-col>
</c-row>

<c-row >
  <p></p>
  <p></p>
</c-row>
