table.greenTable {
    border: 1px solid #28A745;
    background-color: #FFFEF3;
    width: 100%;
    text-align: center;
  }
  table.greenTable td, table.greenTable th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.greenTable tbody td {
    font-size: 10px;
  }
  table.greenTable tr:nth-child(even) {
    background: #FFFEF3;
  }
  table.greenTable thead {
    background: #28A745;
  }
  table.greenTable thead th {
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  table.greenTable thead th:first-child {
    border-left: none;
  }
  
  table.greenTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #A40808;
  }
  table.greenTable tfoot td {
    font-size: 13px;
  }
  table.greenTable tfoot .links {
    text-align: right;
  }
  table.greenTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }


  .myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  

// Cuadro de tabla Hora segun su numero
.success {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background: #28A745;
}

.warning {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background: #ffc107;
}

.danger {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background: #dc3545;
}

// CSS p

.letraChica {
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
}

.letraGrande {
  font-size: 18px;
  font-weight: bold;
  color: #070707;
}

// #8a93a2


.divBeetrack {
  // border: 2px solid red;
  padding: 10px;
}


// tabla width 100%
.fullTable{
  border-collapse: collapse;
  width: 100%;
  // border: 1px solid #ddd;
}

.tdTitle {
  text-align: center;
  width: 33%;
}