<div *ngFor="let pedido of pedidos">
  <!-- <c-row >
    <c-col xs="6" sm="3">
      <c-widget-stat-e
        [title]="'Pedidos Beetrack'"
        class="mb-4 text-white fs-4"
        color="info"
      >

        {{pedido.Total_pedidos}}  


    </c-widget-stat-e>
    </c-col>

    <c-col xs="6" sm="3">
      <c-widget-stat-e
        [title]="'Entregados'"
        class="mb-6 text-white fs-4"
        color="success"
      >
      {{pedido.Entregados}}
    </c-widget-stat-e>
    </c-col>

    <c-col xs="6" sm="3">
      <c-widget-stat-e
        [title]="'No Entregados'"
        class="mb-4 text-white fs-4"
        color="danger"
      >
      {{pedido.No_entregados}}
    </c-widget-stat-e>
    </c-col>

    <c-col xs="6" sm="3">
      <c-widget-stat-e
        [title]="'En ruta'"
        class="mb-4 text-white fs-4"
        color="warning"
      >
      {{pedido.Pendientes}}
    </c-widget-stat-e>
    </c-col>

    
  </c-row> -->

<c-row>
  <c-col sm="6" xl="3">

    <c-widget-stat-a
      class="mb-4"
      color="info"
      title="Total pedidos en beetrack"
    >  

    <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
      <span>{{pedido.Total_pedidos}} </span>
    </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <div *ngFor="let pedido of pedidos">
    <c-widget-stat-a
      [title]="'Entregados'"
      class="mb-4"
      color="success"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{pedido.Entregados}}</span>
      </ng-template>
    </c-widget-stat-a>
  </div>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'No Entregados'"
      class="mb-4"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{pedido.No_entregados}} </span>

      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'En ruta'"
      class="mb-4"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span> {{pedido.Pendientes}}</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
</div>


<c-row>
  <c-col xs="4" sm="1">
    <a class="myButton" (click)="hideTable()" *ngIf="ocultarTabla == true"> <svg cIcon name="cilMinus" size="xl" title="Numbered List Icon">
    </svg> </a>
    <a class="myButton" (click)="showTable()" *ngIf="ocultarTabla == false"> <svg cIcon name="cilPlus" size="xl" title="Numbered List Icon">
    </svg>  </a>
    <br />
  </c-col>

  <c-col >
  
  <table class="greenTable" *ngIf="ocultarTabla == true">
            <thead>
              <tr>         
                <th scope="col">N°</th>
                <th scope="col">Ruta</th>
                <th scope="col">Patente</th>
                <th scope="col">Driver</th>
                <th scope="col">Inicio</th>
                <th scope="col">Regíon</th>
                <th scope="col">Total Pedidos</th>
                <th scope="col">11:00 (10%)</th>
                <th scope="col">13:00 (40%)</th>
                <th scope="col">15:00 (60%)</th>
                <th scope="col">17:00 (80%)</th>
                <th scope="col">18:00 (95%)</th>
                <th scope="col">20:00 (100%)</th>
                <th scope="col">Entregados</th>
                <th scope="col">No Entregados</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ruta of rutasBeetrackHoy">
                <td scope="row" [ngClass]="{'bg-success text-white': ruta.Porcentaje == 100 }">{{ ruta.Numero }}</td>
                <td [ngClass]="{'bg-success text-white': ruta.Porcentaje == 100 }">{{ ruta.Ruta }}</td>
                <td [ngClass]="{'bg-success text-white': ruta.Porcentaje == 100 }">{{ ruta.Patente }}</td>
                <td>{{ ruta.Driver }}</td>
                <td>{{ ruta.Inicio }}</td>
                <td>{{ ruta.Region }}</td>
                <td>{{ ruta.Total_pedidos }}</td>
                <td>{{ ruta.Once }}</td>
                <td>{{ ruta.Una }}</td>
                <td>{{ ruta.Tres }}</td>
                <td>{{ ruta.Cinco }}</td>
                <td>{{ ruta.Seis }}</td>
                <td>{{ ruta.Ocho }}</td>
                <td>{{ ruta.Entregados }}</td>
                <td>{{ ruta.No_entregados }}</td>
              </tr>
            </tbody>
          </table>

          <table class="greenTable" > 
            <tr>
               <div *ngIf="isLoadingBeetrack">
                 <img src="../../../assets/images/loading-gif.gif" />
             </div>
            </tr> 
           </table>
          </c-col>
</c-row>

<c-row >
  <p></p>
  <p></p>
</c-row>
