

<c-nav variant="tabs">
  <a [cTabContent]="tabContent" [active]="pv" [routerLink] [tabPaneIdx]="0" cNavLink (click)="activate(true,'7')">Usuario Natural</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink (click)="activate(false,'11')">Usuario Juridico</a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink (click)="activate(false,'')">modulo vehiculos</a> 
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="3" cNavLink (click)="activate(false,'')">lista Colaboradores</a> 

</c-nav>
<c-tab-content #tabContent="cTabContent">
  <c-tab-pane class="p-3">
    <form cForm [formGroup]="form" (ngSubmit)="registrar()" *ngIf="listaComunasFull.length !== 0" > 
      <div class="card">
        <p></p>
        <h5>Colaborador</h5>
        <p></p>
      <c-row>
          <c-col [xs]>
              <div class="">
                  Razón Social
                  <input type="text" placeholder="Razón Social" class="form-control" formControlName="Razon_social" >
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Razon_social')?.errors?.['required'] && isErrorView">
                      Falta agregar la razón social
                  </span>
              </div>
          </c-col>
    
          <c-col [xs]>
              <div class="noEditar">
                  Rut
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut" (change)="verificaRut('colab')" maxlength="10"> 
                  <span class="error" *ngIf="form.get('Rut')?.errors?.['required'] && isErrorView">
                      Falta ingresar el rut
                  </span>
                  <span class="error" *ngIf="!rutValido ">
                    Error al ingresar rut
                </span>
              </div>
          </c-col>
          <c-col [xs]>
              <div class="">
                  E-mail
                   <input type="email" class="form-control"  placeholder="E-Mail" formControlName="Email" >
                   <span class="error" *ngIf="form.get('Email')?.errors?.['required'] && isErrorView">
                      Falta agregar el E-mail
                  </span>
                  <span class="error" *ngIf="form.get('Email')?.errors?.['email'] && isErrorView">
                    El E-mail no es un formato valido
                </span>
                  </div>
          </c-col>
          <c-col [xs]>
            <div class="noEditar">
                N° Celular
                <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                <input type="text" placeholder="Celular" class="form-control"  formControlName="Celular" maxlength="12">
                <span class="error" *ngIf="form.get('Celular')?.errors?.['required'] && isErrorView">
                    Falta agregar el Celular
                </span>
            </div>
        </c-col>
          
      </c-row>
      <c-row>
        <c-col [xs]>
          <div class="noEditar">
              N° Telefono
              <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
              <input type="text" placeholder="Telefono" class="form-control"  formControlName="Telefono" maxlength="12">
              <span class="error" *ngIf="form.get('Telefono')?.errors?.['required'] && isErrorView">
                  Falta agregar el Celular
              </span>
          </div>
      </c-col>
          <c-col [xs]>
              <div class="">
                Fecha nacimiento
                  <input type="date" placeholder="" class="form-control" formControlName="Fecha_nacimiento" >
                  <span class="error" *ngIf="form.get('Fecha_nacimiento')?.errors?.['required'] && isErrorView">
                    Falta agregar la fecha
                </span>
              </div>
          </c-col>
          <c-col [xs]>
            <div class="">
              Región
              <select id="Region"  (change)="buscarComunas($event)"  cSelect formControlName="Region"  class="form-control">
                  <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
              </select>
          </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            Comuna
            <select id="Comuna" cSelect formControlName="Comuna" class="form-control">
                <option  *ngFor="let comuna of listaComunas" value={{comuna.Id_comuna}} >{{comuna.Nombre_comuna}}</option>
            </select>
        </div>
      </c-col>
    
     
        </c-row>
        <c-row>
          <c-col [xs]>
            <div class="">
              Dirección
              <input type="text" placeholder="Dirección" class="form-control" formControlName="Direccion" >
            </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            
          </div>
      </c-col>
        </c-row>
        <p></p>
        <h5>Datos bancarios</h5>
        <p></p>
    
        <c-row>
          <c-col [xs]>
              <div class="">
                Rut Titular Cuenta Bancaria
                  <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut_titular_cta_bancaria" (change)="verificaRut('cta_banco')"  maxlength="10">
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Rut_titular_cta_bancaria')?.errors?.['required'] && isErrorView">
                      Falta agregar el rut del titular
                  </span>
                  <span class="error" *ngIf="!rutTitularBanco ">
                    Error al ingresar rut
                </span>
              </div>
          </c-col>
    
          <c-col [xs]>
              <div class="noEditar">
                Titular de la cuenta
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Titular cuenta" class="form-control" formControlName="Titular_cta" >
                  <span class="error" *ngIf="form.get('Titular_cta')?.errors?.['required'] && isErrorView">
                      Falta agregar el titular de la cuenta
                  </span>
              </div>
          </c-col>
          <c-col [xs]>
              <div class="">
                 Numero de cuenta
                   <input type="text" class="form-control"  placeholder="Numero Cuenta" formControlName="Numero_cta" >
                   <span class="error" *ngIf="form.get('Numero_cta')?.errors?.['required'] && isErrorView">
                      Falta agregar el numero de cuenta
                  </span>
                  </div>
          </c-col>
          <c-col [xs]>
            <div class="noEditar">
                
                Banco
                <select id="tipoCuenta"  cSelect  class="form-control" formControlName="Banco">
                  <option *ngFor="let bancos of banco"  [value]="bancos.id"  >{{bancos.bank_name}}</option>
              </select>
            </div>
        </c-col>
          
      </c-row>
    
      <c-row>
        <c-col [xs]>
            <div class="noEditar">
              Tipo de cuenta
              <select id="tipoCuenta"  cSelect class="form-control" formControlName="Tipo_cta">
                <option *ngFor="let tipo of tipoCuentas"  [value]="tipo.id"  >{{tipo.account_type_name}}</option>
            </select>
            </div>
        </c-col>
        <c-col [xs]>
            <div class="">
              Forma Pago
              <select id="formaPago"  cSelect  class="form-control" formControlName="Forma_pago">
                <option *ngFor="let forma of formaPago"  [value]="forma.id"  >{{forma.name}}</option>
            </select>
            </div>
        </c-col>
        <c-col [xs]>       
            <div class="">
              Documento Comercial Bancario
      
            <input type="file" name="" id="doc_bancario" (change)="onFileSelected($event,'doc_bancario')" class="form-control" accept=".pdf"> 
            </div>
      </c-col>
      <c-col [xs]>
        
    </c-col>
    
    <p></p>
        
    </c-row>
    
    
    </div>
      <p></p>
      <c-row>
          <c-col [xs]>
              <button class="btn btn-success" type="submit"  >Guardar 
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
              </button>
          </c-col>
      </c-row>
    </form>
    

  </c-tab-pane>
  <c-tab-pane class="p-3">
    <form cForm [formGroup]="form" (ngSubmit)="registrar()" *ngIf="listaComunasFull.length !== 0" > 
      <div class="card">
        <p></p>
        <h5>Colaborador</h5>
        <p></p>
      <c-row>
          <c-col [xs]>
              <div class="">
                  Razón Social
                  <input type="text" placeholder="Razón Social" class="form-control" formControlName="Razon_social" >
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Razon_social')?.errors?.['required'] && isErrorView">
                      Falta agregar la razón social
                  </span>
              </div>
          </c-col>
    
          <c-col [xs]>
              <div class="noEditar">
                  Rut
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut" (change)="verificaRut('colab')" maxlength="10"> 
                  <span class="error" *ngIf="form.get('Rut')?.errors?.['required'] && isErrorView">
                      Falta ingresar el rut
                  </span>
                  <span class="error" *ngIf="!rutValido ">
                    Error al ingresar rut
                </span>
              </div>
          </c-col>
          <c-col [xs]>
              <div class="">
                  E-mail
                   <input type="text" class="form-control"  placeholder="E-Mail" formControlName="Email" >
                   <span class="error" *ngIf="form.get('Email')?.errors?.['required'] && isErrorView">
                      Falta agregar el E-mail
                  </span>
                  </div>
          </c-col>
          <c-col [xs]>
            <div class="noEditar">
                N° Celular
                <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                <input type="text" placeholder="Celular" class="form-control"  formControlName="Celular" maxlength=12>
                <span class="error" *ngIf="form.get('Celular')?.errors?.['required'] && isErrorView">
                    Falta agregar el Celular
                </span>
            </div>
        </c-col>
          
      </c-row>
      <c-row>
        <c-col [xs]>
          <div class="noEditar">
              N° Telefono
              <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
              <input type="text" placeholder="Telefono" class="form-control"  formControlName="Telefono" maxlength="12">
              <span class="error" *ngIf="form.get('Telefono')?.errors?.['required'] && isErrorView">
                  Falta agregar el Telefono
              </span>
          </div>
      </c-col>
          <c-col [xs]>
              <div class="">
                Representante Legal
                <input type="text" placeholder="Representante legal" class="form-control" formControlName="Representante_legal" >
              </div>
          </c-col>
          <c-col [xs]>
            <div class="">
             Rut Representante Legal
              <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut_representante_legal" maxlength="10" (change)="verificaRut('representante')">
              <span class="error" *ngIf="form.get('Rut_representante_legal')?.errors?.['required'] && isErrorView">
                Falta agregar el rut del representante
            </span>
            <span class="error" *ngIf="!rutRepresentanteValido ">
              Error al ingresar rut
          </span>
            
            </div>
        </c-col>
          <c-col [xs]>
              <div class="">
                Fecha nacimiento
                  <input type="date" placeholder="" class="form-control" formControlName="Fecha_nacimiento" >
                  <span class="error" *ngIf="form.get('Fecha_nacimiento')?.errors?.['required'] && isErrorView">
                    Falta agregar la fecha
                </span>
              </div>
          </c-col>
          
    
     
        </c-row>
        <c-row>
          <c-col [xs]>
            <div class="">
              Región
              <select id="Region"  (change)="buscarComunas($event)"  cSelect formControlName="Region"  class="form-control">
                  <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
              </select>
          </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            Comuna
            <select id="Comuna" cSelect formControlName="Comuna" class="form-control">
                <option  *ngFor="let comuna of listaComunas" value={{comuna.Id_comuna}} >{{comuna.Nombre_comuna}}</option>
            </select>
        </div>
      </c-col>
          <c-col [xs]>
            <div class="">
              Dirección
              <input type="text" placeholder="Dirección" class="form-control" formControlName="Direccion" >
            </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            <!-- <input  type="file" id="archivo" (change)="onFileSelected($event)">
            <p></p>
            <button  (click)="uploadFile()">Subir archivo</button> -->
            Constitución legal
    
          <input type="file" name="" id="doc_constitucion" (change)="onFileSelected($event,'doc_constitucion')" class="form-control" accept=".pdf"> 
          </div>
      </c-col>
      <c-row>
        <c-col [xs]>
          <div class="">
            <!-- <input  type="file" id="archivo" (change)="onFileSelected($event)">
            <p></p>
            <button  (click)="uploadFile()">Subir archivo</button> -->
            Certificado RRPP ante el SII
    
          <input type="file" name="" id="" (change)="onFileSelected($event,'doc_RRPP')" class="form-control" accept=".pdf"> 
          </div>
      </c-col>
      <c-col [xs]>
        <div class="">
          <!-- <input  type="file" id="archivo" (change)="onFileSelected($event)">
          <p></p>
          <button  (click)="uploadFile()">Subir archivo</button> -->
          Certificado vigencia de poderes
  
        <input type="file" name="" id="" (change)="onFileSelected($event,'doc_vigencia')" class="form-control" accept=".pdf"> 
        </div>
    </c-col>
    <c-col [xs]>
      <div class="">
        <!-- <input  type="file" id="archivo" (change)="onFileSelected($event)">
        <p></p>
        <button  (click)="uploadFile()">Subir archivo</button> -->
        Inscripción registro de comercio

      <input type="file" name="" id="" (change)="onFileSelected($event,'registro_comercio')" class="form-control" accept=".pdf"> 
      </div>
  </c-col>
      </c-row>
        </c-row>
        <p></p>
        <h5>Datos bancarios</h5>
        <p></p>
    
        <c-row>
          <c-col [xs]>
              <div class="">
                Rut Titular Cuenta Bancaria
                  <input type="text" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut_titular_cta_bancaria"  maxlength="10" (change)="verificaRut('cta_banco')" >
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Rut_titular_cta_bancaria')?.errors?.['required'] && isErrorView">
                      Falta agregar el rut del titular
                  </span>
                  <span class="error" *ngIf="!rutTitularBanco ">
                    Error al ingresar rut
                </span>
              </div>
          </c-col>
    
          <c-col [xs]>
              <div class="noEditar">
                Titular de la cuenta
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Titular cuenta" class="form-control" formControlName="Titular_cta" >
                  <span class="error" *ngIf="form.get('Titular_cta')?.errors?.['required'] && isErrorView">
                      Falta agregar el titular de la cuenta
                  </span>
              </div>
          </c-col>
          <c-col [xs]>
              <div class="">
                 Numero de cuenta
                   <input type="text" class="form-control"  placeholder="Numero Cuenta" formControlName="Numero_cta" >
                   <span class="error" *ngIf="form.get('Numero_cta')?.errors?.['required'] && isErrorView">
                      Falta agregar el numero de cuenta
                  </span>
                  </div>
          </c-col>
          <c-col [xs]>
            <div class="noEditar">
                
                Banco
                <select id="tipoCuenta"  cSelect  class="form-control" formControlName="Banco">
                  <option *ngFor="let bancos of banco"  [value]="bancos.id"  >{{bancos.bank_name}}</option>
              </select>
            </div>
        </c-col>
          
      </c-row>
    
      <c-row>
        <c-col [xs]>
            <div class="noEditar">
              Tipo de cuenta
              <select id="tipoCuenta"  cSelect class="form-control" formControlName="Tipo_cta">
                <option *ngFor="let tipo of tipoCuentas"  [value]="tipo.id"  >{{tipo.account_type_name}}</option>
            </select>
            </div>
        </c-col>
        <c-col [xs]>
            <div class="">
              Forma Pago
              <select id="formaPago"  cSelect  class="form-control" formControlName="Forma_pago">
                <option *ngFor="let forma of formaPago"  [value]="forma.id"  >{{forma.name}}</option>
            </select>
            </div>
        </c-col>
        <c-col [xs]>
            <div class="">
              Documento Comercial Bancario
      
            <input type="file" name="" id="" (change)="onFileSelected($event,'doc_bancario')" class="form-control" accept=".pdf"> 
            </div>
      </c-col>
      <c-col [xs]>
        
    </c-col>
    
    <p></p>
        
    </c-row>
    
    
    </div>
      <p></p>
      <c-row>
          <c-col [xs]>
              <button class="btn btn-success" type="submit"  >Guardar 
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
              </button>
          </c-col>
      </c-row>
    </form>

  </c-tab-pane>
  
  <c-tab-pane class="p-3">
    <form cForm [formGroup]="formVehiculo" (ngSubmit)="registrarVehiculo()" *ngIf="listaComunasFull.length !== 0" > 
      <div class="card">
        <p></p>
        <h5>Vehiculos</h5>
        <p></p>
      <c-row>
          
    
          <c-col [xs]>
              <div class="noEditar">
                  Rut Colaborador *
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Rut" placeholder="Ejemplo : 11111111-1" class="form-control" formControlName="Rut_colaborador" (change)="verificaRut('colab_vehiculo')"   maxlength="10"> 
                  <span class="error" *ngIf="form.get('Rut_colaborador')?.errors?.['required'] && isErrorView">
                      Falta ingresar el rut
                  </span>
                  <span class="error" *ngIf="!rutColaborador ">
                    Error al ingresar rut
                </span>
              </div>
          </c-col>
          <c-col [xs]>
            <div class="">
                Razón Social
                <input type="text" placeholder="Razón Social" class="form-control" formControlName="Razon_social" >
                <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                <span class="error" *ngIf="form.get('Razon_social')?.errors?.['required'] && isErrorView">
                    Falta agregar la razón social
                </span>
            </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            Patente * 
            <input type="text" placeholder="Patente " class="form-control" formControlName="Ppu" >
                <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                <span class="error" *ngIf="form.get('Ppu')?.errors?.['required'] && isErrorView">
                    Falta agregar la patente
                </span>
        </div>
      </c-col>
          <c-col [xs]>
              <div class="">
                Tipo vehículo *
                  <select id="Tipo"  cSelect formControlName="Tipo"  class="form-control">
                    <option *ngFor="let tipo of tipoVehiculos"  [value]="tipo.id"  >{{tipo.name}}</option>
                  </select>
                  </div>
          </c-col>
      </c-row>
      <c-row>
        <c-col [xs]>
          <div class="noEditar"> 
              Características *
              <select id="Caracteristicas"  cSelect formControlName="Caracteristicas"  class="form-control">
                <option *ngFor="let caract of caracteristicasVehiculo"   [value]="caract.id"  >{{caract.name}}</option>
              </select>
          </div>
      </c-col>
        <c-col [xs]>
          <div class="noEditar">
              Marca *
              <select id="Marca"   cSelect formControlName="Marca"  class="form-control">
                <option *ngFor="let marca of marcaVehiculo" [value]="marca.id"  >{{marca.name}}</option>
              </select>
          </div>
      </c-col>
          <c-col [xs]>
              <div class="">
                Modelo *
                <input type="text" placeholder="Modelo" class="form-control" formControlName="Modelo" >
                <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                <span class="error" *ngIf="form.get('Modelo')?.errors?.['required'] && isErrorView">
                    Falta agregar el modelo
                </span>
              </div>
          </c-col>
          <c-col [xs]>
            <div class="">
              Año *
              <input type="text" placeholder="Año" class="form-control" formControlName="Ano" >
              <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
              <span class="error" *ngIf="form.get('Ano')?.errors?.['required'] && isErrorView">
                  Falta agregar el año
              </span>
          </div>
        </c-col>
        </c-row>
        <c-row>
          <c-col [xs]>
            <div class="">
              Región para disponibilizar vehículo
              <select id="Region"  (change)="buscarComunas($event)"  cSelect formControlName="Region"  class="form-control">
                  <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
              </select>
          </div>
        </c-col>
          <c-col [xs]>
            <div class="">
              Comuna *
              <select id="Comuna" cSelect formControlName="Comuna" class="form-control">
                  <option  *ngFor="let comuna of listaComunas" value={{comuna.Id_comuna}} >{{comuna.Nombre_comuna}}</option>
              </select>            
            </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            Permiso de circulación
          <input type="file" name="" id="" (change)="onFileSelected($event,'permiso_circulacion')" class="form-control" accept=".pdf"> 
          </div>
      </c-col>
        </c-row>

        <c-row>
          <c-col [xs]>
            <div class="">
              Revisión técnica
            <input type="file" name="" id="" (change)="onFileSelected($event,'revision_tecnica')" class="form-control" accept=".pdf"> 
          </div>
        </c-col>
          <c-col [xs]>
            <div class="">
              SOAP
            <input type="file" name="" id="" (change)="onFileSelected($event,'soap')" class="form-control" accept=".pdf">          
            </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            Padrón
            <input type="file" name="" id="" (change)="onFileSelected($event,'padron')" class="form-control" accept=".pdf"> 
          </div>
      </c-col>
      <c-col [xs]>
        <div class="">
          Certificado de gases
          <input type="file" name="" id="" (change)="onFileSelected($event,'cert_gases')" class="form-control" accept=".pdf"> 
          </div>
      </c-col>
        </c-row>
        <p></p>
        <!-- <h5>Datos proporcionados por transporte</h5> -->
        <p></p>

        <c-row>
          <c-col [xs]>
              <div class="">
                Capacidad de carga Kg *
                  <input type="number" placeholder="" class="form-control" formControlName="Capacidad_carga_kg" >
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Capacidad_carga_kg')?.errors?.['required'] && isErrorView">
                      Falta agregar la capacidad de carga Kg
                  </span>
              </div>
          </c-col>
    
          <c-col [xs]>
              <div class="noEditar">
                Capacidad de carga M3 *
                  <input type="number" placeholder="" class="form-control" formControlName="Capacidad_carga_m3" >
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Capacidad_carga_m3')?.errors?.['required'] && isErrorView">
                      Falta agregar la capacidad de carga M3
                  </span>
              </div>
          </c-col>
          <c-col [xs]>
              <div class="">
                Capacidad carga plataforma Kg *
                   <input type="number" placeholder="" class="form-control"  formControlName="Platform_load_capacity_kg" >
                   <span class="error" *ngIf="form.get('Platform_load_capacity_kg')?.errors?.['required'] && isErrorView">
                      Falta agregar la carga plataforma Kg
                  </span>
                  </div>
          </c-col>
          <c-col [xs]>
            <div class="noEditar">
              Capacidad de carga grúa Kg *
                  <input type="number" placeholder="" class="form-control"  formControlName="Crane_load_capacity_kg" >
                  <span class="error" *ngIf="form.get('Crane_load_capacity_kg')?.errors?.['required'] && isErrorView">
                    Falta agregar la carga grúa Kg
                </span>
            </div>
        </c-col>
          
      </c-row>
      <c-row>
        <c-col [xs]>
            <div class="">
              Fecha vencimiento permiso *
              <input type="date" placeholder="" class="form-control" formControlName="Permiso_circulacion_fec_venc" >
                <span class="error" *ngIf="form.get('Permiso_circulacion_fec_venc')?.errors?.['required'] && isErrorView">
                  Falta agregar la fecha
              </span>
            </div>
        </c-col>
  
        <c-col [xs]>
            <div class="noEditar">
              Fecha vencimiento SOAP *
              <input type="date" placeholder="" class="form-control" formControlName="Soap_fec_venc" >
                <span class="error" *ngIf="form.get('Soap_fec_venc')?.errors?.['required'] && isErrorView">
                  Falta agregar la fecha
              </span>
            </div>
        </c-col>
        <c-col [xs]>
            <div class="">
              Fecha vencimiento revision *
              <input type="date" placeholder="" class="form-control" formControlName="Revision_tecnica_fec_venc" >
                <span class="error" *ngIf="form.get('Revision_tecnica_fec_venc')?.errors?.['required'] && isErrorView">
                  Falta agregar la fecha
               </span>
                </div>
        </c-col>
        <c-col [xs]>
            <!-- <div class="noEditar">
              Estado
            </div> -->
      </c-col>
        
    </c-row>
      
    </div>
      <p></p>
      <c-row>
          <c-col [xs]>
              <button class="btn btn-success" type="submit"  >Guardar 
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
              </button>
          </c-col>
      </c-row>
    </form>
    

  </c-tab-pane>
  <c-tab-pane class="p-3">
    <p></p>
    <div class="greenTable" style="width: 100%;">
      
      <table id="tablaProductosPicking" style="width: 100%;"  >
      <thead>
        <tr>
            <th>Razón</th>
            <th>Tipo razón</th>
            <th>Rut</th>
            <th>Fecha registro</th>
            <th>detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colab of colaboradores; let i = index">
          <td>{{colab.Razon_social}}</td>
          <td>{{colab.Tipo_razon}}</td>
          <td>{{colab.Rut}}</td>
          <td>{{colab.Created_at}}</td>
          <td><svg  xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 256 256"><path fill="currentColor" d="M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm0 168a12 12 0 1 1 12-12a12 12 0 0 1-12 12Zm8-48.72v.72a8 8 0 0 1-16 0v-8a8 8 0 0 1 8-8c13.23 0 24-9 24-20s-10.77-20-24-20s-24 9-24 20v4a8 8 0 0 1-16 0v-4c0-19.85 17.94-36 40-36s40 16.15 40 36c0 17.38-13.76 31.93-32 35.28Z"/></svg>
          </td>
          <!-- <td>{{colab.Created_at}}</td> -->
        </tr>
     
      </tbody>
      </table>
      
    </div>
  </c-tab-pane>

  <c-tab-pane class="p-3">
    <form cForm [formGroup]="form" (ngSubmit)="registrar()" *ngIf="listaComunasFull.length !== 0" > 
      <div class="card">
        <p></p>
        <h5>Colaborador</h5>
        <p></p>
      <c-row>
          <c-col [xs]>
              <div class="">
                  Razón Social
                  <input type="text" placeholder="Razón Social" class="form-control" formControlName="Razon_social" >
                  <!-- <input type="text" placeholder="Codigo" class="form-control" formControlName="Codigo" > -->
                  <span class="error" *ngIf="form.get('Razon_social')?.errors?.['required'] && isErrorView">
                      Falta agregar la razón social
                  </span>
              </div>
          </c-col>
          <c-col [xs]>
            <div class="">
              Tipo razón
              <select id="tipo_razon"  (change)="buscarComunas($event)"  cSelect formControlName="Tipo_razon"  class="form-control">
                  <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
              </select>
          </div>
        </c-col>
    
          <c-col [xs]>
              <div class="noEditar">
                  Rut
                  <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
                  <input type="text" placeholder="Rut" class="form-control" formControlName="Rut" (change)="verificaRut('colab')"   maxlength="10"> 
                  <span class="error" *ngIf="form.get('Rut')?.errors?.['required'] && isErrorView">
                      Falta ingresar el rut
                  </span>
                  <span class="error" *ngIf="!rutValido ">
                    Error al ingresar rut
                </span>
              </div>
          </c-col>
          <c-col [xs]>
              <div class="">
                  E-mail
                   <input type="text" class="form-control"  placeholder="E-Mail" formControlName="Email" >
                   <span class="error" *ngIf="form.get('Email')?.errors?.['required'] && isErrorView">
                      Falta agregar el E-mail
                  </span>
                  </div>
          </c-col>
          
          
      </c-row>
      <c-row>
        <c-col [xs]>
          <div class="noEditar">
              N° Celular
              <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
              <input type="text" placeholder="Celular" class="form-control"  formControlName="Celular" maxlength="12">
              <span class="error" *ngIf="form.get('Celular')?.errors?.['required'] && isErrorView">
                  Falta agregar el Celular
              </span>
          </div>
      </c-col>
        <c-col [xs]>
          <div class="noEditar">
              N° Telefono
              <!-- <input type="text" placeholder="Codigo" class="form-control"  readonly [disabled]="true" (change)="codigoExistente()" [value]="codigoFinal"> -->
              <input type="text" placeholder="Telefono" class="form-control"  formControlName="Telefono" maxlength="12">
              <span class="error" *ngIf="form.get('Telefono')?.errors?.['required'] && isErrorView">
                  Falta agregar el Celular
              </span>
          </div>
      </c-col>
          <c-col [xs]>
              <div class="">
                Fecha nacimiento
                  <input type="date" placeholder="" class="form-control" formControlName="Fecha_nacimiento" >
                  <span class="error" *ngIf="form.get('Fecha_nacimiento')?.errors?.['required'] && isErrorView">
                    Falta agregar la fecha
                </span>
              </div>
          </c-col>
          <c-col [xs]>
            <div class="">
              Región
              <select id="Region"  (change)="buscarComunas($event)"  cSelect formControlName="Region"  class="form-control">
                  <option *ngFor="let region of listaRegiones"  [value]="region.Id_region"  >{{region.Nombre_region}}</option>
              </select>
          </div>
        </c-col>
        
    
     
        </c-row>
        <c-row>
          <c-col [xs]>
            <div class="">
              Comuna
              <select id="Comuna" cSelect formControlName="Comuna" class="form-control">
                  <option  *ngFor="let comuna of listaComunas" value={{comuna.Id_comuna}} >{{comuna.Nombre_comuna}}</option>
              </select>
          </div>
        </c-col>
          <c-col [xs]>
            <div class="">
              Dirección
              <input type="text" placeholder="Dirección" class="form-control" formControlName="Direccion" >
            </div>
        </c-col>
        <c-col [xs]>
          <div class="">
            
          </div>
      </c-col>
        </c-row>
        
        
    </div>
      <p></p>
      <c-row>
          <c-col [xs]>
              <button class="btn btn-success" type="submit"  >Guardar 
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V173.3c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32H64zm0 96c0-17.7 14.3-32 32-32H288c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V128zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
              </button>
          </c-col>
      </c-row>
    </form>
    

  </c-tab-pane>
</c-tab-content>