
<h2>NS Compromiso Easy</h2>
<p></p>
<c-row *ngIf="revela">
  <c-col>
    <div class="greenTable">
      <table id="tablaProductosPicking" >
      <thead>
        <tr>
            <th>Entregas</th>
            <th>Total Entregados</th>
            <th>Entregados Hoy</th>
            <th>En Ruta</th>
            <th>Sin Ruta Beetrack</th>
            <th>Anulados</th>
            <!-- <th>% Entrega</th>
            <th>% No Entregados</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of nsPanelPrincipal; let i = index">
          <td>{{producto.Total_entregas}}</td>
          <td>{{producto.Total_entregados}}</td>
          <td>{{producto.Entregados_hoy}}</td>
          <td>{{producto.En_ruta}}</td>
          <td>{{producto.Sin_ruta_beetrack}}</td>
          <td>{{producto.Anulados}}</td>
          <!-- <td>{{producto.Porcentaje_entrega}}</td>
          <td>{{producto.Porcentaje_no_entrega}}</td> -->
        </tr>
      </tbody>
      </table>
      <p></p>
      <table id="tablaProductosPicking" >
        <thead>
          <tr>
              <th>Región</th>
              <th>Total Región</th>
              <th>Entregados</th>
              <th>NS Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of nsPanelRegion; let i = index">
            <td>{{producto.Region}}</td>
            <td>{{producto.Total_region}}</td>
            <td>{{producto.Entregados}}</td>
            <td>{{producto.Ns_region}}</td>
          </tr>
       
        </tbody>
        </table>
    </div>
  </c-col>
  <c-col>
    <div style="width: 350px; height: 300px;" *ngIf="revela">
      <canvas 
        baseChart
        class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
      >
      </canvas>
    </div>  
    <p></p>
  </c-col>
  <c-col>
    
  </c-col>
</c-row>


<c-row *ngIf="revela">
  <c-col [md]="8" >
    <div class="greenTable">
      <p></p>
      <table id="tablaProductosPicking" >
      <thead>
        <tr>
            <th>Cliente</th>
            <th>Guia</th>
            <th>Ruta hela</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of nsEasy; let i = index">
          <td>{{producto.Cliente}}</td>
          <td>{{producto.Guia}}</td>
          <td>{{producto.Ruta_hela}}</td>
          <td>{{producto.Direccion}}</td>
          <td>{{producto.Ciudad}}</td>
          <td>{{producto.Region}}</td>
        </tr>
     
      </tbody>
      </table>
      
    </div>
    <p></p>
    <button cButton  color="success" size="sm" (click)="descargar_ns_easy()" >descargar</button>

  </c-col>
  <c-col  [md]="4">
    
    <div class="greenTable" *ngFor="let easy of nsEasyRegion; let i = index">
      <p></p>
      <table id="tablaProductosPicking" >
        <thead>
          <tr>
            <th colspan="2">{{easy[0].Region}}</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Region</th>
            <th>Comunas</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of easy; let i = index">
            <td>{{producto.Comuna}}</td>
            <td>{{producto.Pendiente}}</td>
          </tr>
       
        </tbody>
        </table>
        <p></p>
    </div>
  </c-col>
</c-row>
