.error {
    color: #E71B24;
  }

.noEditar input[type="text"] ,.noEditar input[type="date"], .noEditar select {
    background-color : #d1d1d1; 
  }

   .greenTable{
    width: auto;
    max-height: 400px; /* Altura de ejemplo */
    overflow: auto;
  }
  
  .greenTable  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    border-radius: 10px;
    // overflow: hidden;
    box-shadow: 0 4px 8px #ebedef;
    font-size: 12px; 
    text-align: center
  }
  .greenTable  table td, table th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  .greenTable  table tbody td {
    font-size: 12px;
  }
  
  .greenTable  table tbody th {
    font-size: 12px;
    font-weight: bold;
  }
  .greenTable  table tr:nth-child(even) {
    background: #FFFEF3;
  }
  .greenTable table thead {
    position: sticky;
    top: 0;
    left: 0;
    background: #28A745;
  }
  .greenTable  table thead th {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #28A745;
  }
  .greenTable  table thead th:first-child {
    border-left: none;
  }

  .aterisco {
    font-weight: bold;
  }

  .greenTable  table thead th:first-child {
    border-top-left-radius: 10px; /* Curva solo la esquina superior izquierda */
}

.greenTable table th:last-child {
  border-top-right-radius: 10px; /* Curva solo la esquina superior derecha */
}

.greenTable table tr:last-child td:first-child {
  border-bottom-left-radius: 10px; /* Curva solo la esquina inferior izquierda */
}

.greenTable table tr:last-child td:last-child {
  border-bottom-right-radius: 10px; /* Curva solo la esquina inferior derecha */
}