h4 {
    
    text-align: center;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.cardo {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: space-between;
    // align-items: center; /* Centra verticalmente el contenido */
    transition: all 0.3s ease-in-out;
    flex: 1;
    font-size: 0.9em;
    height: 100px; /* Ajustar la altura */
    overflow: hidden;
}

.icon-background {
    border-radius: 0 50% 50% 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste del tamaño y color de los íconos según el color del fondo */
.card-red .icon-background {
    background-color: #ffcccc;
}

.card-red i {
    color: #d9534f; /* Rojo oscuro */
    font-size: 2.5em;
}

.card-blue .icon-background {
    background-color: #cceeff;
}

.card-blue i {
    color: #3399ff; /* Azul más oscuro */
    font-size: 2.5em;
}

.card-yellow .icon-background {
    background-color: #fff0b3;
}

.card-yellow i {
    color: #ffcc00; /* Amarillo más oscuro */
    font-size: 2.5em;
}

.card-green .icon-background {
    background-color: #ccffcc;
}

.card-green i {
    color: #5cb85c; /* Verde oscuro */
    font-size: 2.5em;
}

.cardo h3 {
    margin: 0;
    font-size: 0.9em;
    color: #666; /* Gris oscuro */
    text-align: right;
    line-height: 1.2em; /* Ajuste de la altura de línea para mejorar el centrado vertical */
}

.cardo .number {
    font-size: 1.5em;
    color: #333;
    text-align: right;
    line-height: 1.2em;
}

/* Colores de fondo para cada tarjeta */
.card-red {
    background-color: #ffeded;
}

.card-blue {
    background-color: #e0f7ff;
}

.card-yellow {
    background-color: #fff7e0;
}

.card-green {
    background-color: #e7ffe0;
}

/* Clase para recortar automáticamente */
.truncate {
    max-width: 150px; /* Ancho máximo para recortar contenido */
    overflow: hidden; /* Oculta el texto que desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos */
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    cursor: pointer; /* Indica interactividad */
  }
  
  /* Tooltip dinámico al pasar el mouse */
  .truncate:hover::before {
    content: attr(data-full-text); /* Muestra el texto completo */
    position: absolute;
    top: -40px; /* Ajusta la posición encima de la celda */
    left: 0;
    z-index: 9999; /* Asegura que el tooltip esté sobre todo */
    background: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    white-space: normal; /* Permite texto en varias líneas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px; /* Define el ancho máximo del tooltip */
    overflow-wrap: break-word; /* Ajusta el texto largo */
  }

  
#alertaContainer {
  position: fixed; /* Fija el contenedor en la pantalla */
  top: 20px; /* Distancia desde la parte superior */
  right: 20px; /* Distancia desde la parte derecha */
  z-index: 1060; /* Asegura que esté por encima de otros elementos */
  display: flex;
  flex-direction: column; /* Las alertas se apilan verticalmente */
  gap: 10px; /* Espaciado entre alertas */
}

.alerta {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre el icono y el texto */
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0; /* Ocultar inicialmente */
  transition: opacity 0.5s ease-in-out; /* Transición suave para mostrar/ocultar */
}

.alerta.success {
  background-color: rgba(40, 167, 69, 0.9); /* Verde */
}

.alerta.error {
  background-color: #dc3545; /* Rojo */
}

.alerta.warning {
  background-color: #ffc107; /* Amarillo */
  color: black; /* Texto negro para mejor contraste */
}

.alerta.info {
  background-color: #17a2b8; /* Azul */
}
.horizontal-align {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 8px; /* Espacio entre el texto e ícono */
}