<c-row>
    <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
        <c-modal-header>
          <h5 cModalTitle>Crear ruta predictiva </h5>
          <button (click)="toggleLiveDemo()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <table>
            <tr>
              <td>Fecha: </td>
              <td><input type="date" placeholder="Fecha" class="form-control" [(ngModel)]="fecha_ruta" ></td>
            </tr>
            <tr>
              <td> O.C. : </td>
              <td>{{pedidosSeleccionados}}</td>
            </tr>
          </table>
          
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemo()" cButton color="secondary">
            Cerrar
          </button>
          <button cButton color="primary" (click)="guardarRuta()">Guardar ruta</button>
        </c-modal-footer>
      </c-modal>

  <table class="loadPendientes" > 
    <tr>
       <div *ngIf="loadPedidos">
         <img width="50" height="50" src="../../../assets/images/loading-gif.gif" />
         Cargando Datos 
     </div>
    </tr> 
   </table>


   <c-row  *ngIf="!loadPedidos">
    <c-col [xs]>
        <div class="">
            Fecha Inicio
            <input type="date"  class="form-control" placeholder="Fecha" [(ngModel)]="fecha_min">
        </div>
        <div class="">
            Región
            <c-dropdown >
                <button cButton cDropdownToggle color="secondary" size="sm">
                  Región
                </button>
                <ul cDropdownMenu class="scrollable-list">
                  <li *ngFor="let region of regiones"><a [routerLink]="[]" (click)="filtrarPorRegion(region)" cDropdownItem>{{region}}</a></li>
                </ul>
              </c-dropdown>
            <!-- <input type="text" class="form-control"  placeholder="Region" formControlName="Region" readonly> -->
            <!-- <select id="Region" cSelect formControlName="Region" readonly>
                <option *ngFor="let region of regiones" >{{region}}</option>
            </select> -->
        </div>
    </c-col>
    <c-col [xs]>
        <div class="">
            Fecha fin
            <input type="date" class="form-control" placeholder="Fecha" [(ngModel)]="fecha_max">
        </div>
    </c-col>
   </c-row>
   <p></p>
   <c-row  *ngIf="!loadPedidos">
    <c-col>
        <div class="">
            Filtrar por comunas
            <ng-select class="custom" [multiple]="true" [(ngModel)]="comunasSeleccionadas" >
                <ng-option *ngFor="let comuna of comunas" [value]="comuna" >{{ comuna }}</ng-option>
            </ng-select>      
        </div>
        <p></p>
        <table>
          <tr>
            <td><button cButton (click)="filtrarsByComuna()" color="primary" size="sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M14 12v7.88c.04.3-.06.62-.29.83a.996.996 0 0 1-1.41 0l-2.01-2.01a.989.989 0 0 1-.29-.83V12h-.03L4.21 4.62a1 1 0 0 1 .17-1.4c.19-.14.4-.22.62-.22h14c.22 0 .43.08.62.22a1 1 0 0 1 .17 1.4L14.03 12H14Z"/></svg>
              Filtrar</button> </td>
            <td><button cButton (click)="getAllPedidos()" color="secondary"  size="sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m18.364 8.05l-.707-.707a8 8 0 1 0 2.28 4.658m-1.573-3.95h-4.243m4.243 0V3.807"/></svg>
              Reiniciar</button> </td>
          </tr>
        </table>
        <!-- <button (click)="filtrarsByComuna()">Filtrar</button>  -->
    </c-col>
    <c-col>
        
    </c-col>
   </c-row>
  
  <div class="fade-in" *ngIf="!loadPedidos">
    <!-- <div> -->
    <c-row ngPreserveWhitespaces>
      <div>
        <div class="col-md-12 mx-auto">
          
          <p></p>
          Cantidad : <label style="font-weight: bold;">{{cantidad}}</label> <img width="40" *ngIf="isLoadingTable" height="50" src="../../../assets/images/loading-gif.gif" />
          <p></p>

          
          <div class="greenTable">
            <table >
              <thead>
                <tr>
                  <th></th>
                  <th>Origen</th>
                  <th >Código Entrega</th>
                  <th>Fecha Ingreso</th>
                  <th >Fecha Compromiso</th>
                  <th >Región</th>
                  <th >Comuna</th>
                  <th >Descripción</th>
                  <th >Bultos</th>
                  <th >Estado</th>
                  <th >Subestado</th>
                  <th >Verificado</th>
                  <th >Recibido</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pedido of pedidos;let i = index">
                  <td>
                    <svg *ngIf="pedido.Seleccionado" (click)="seleccionarPedido(i, pedido.Cod_entrega )" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24"><path fill="blue" d="M17.28 9.28a.75.75 0 0 0-1.06-1.06l-5.97 5.97l-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5Z"/><path fill="currentColor" d="M3.75 2h16.5c.966 0 1.75.784 1.75 1.75v16.5A1.75 1.75 0 0 1 20.25 22H3.75A1.75 1.75 0 0 1 2 20.25V3.75C2 2.784 2.784 2 3.75 2ZM3.5 3.75v16.5c0 .138.112.25.25.25h16.5a.25.25 0 0 0 .25-.25V3.75a.25.25 0 0 0-.25-.25H3.75a.25.25 0 0 0-.25.25Z"/></svg>
                    <svg *ngIf="!pedido.Seleccionado" (click)="seleccionarPedido(i, pedido.Cod_entrega )" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24"><path fill="currentColor" d="M3.75 2h16.5c.966 0 1.75.784 1.75 1.75v16.5A1.75 1.75 0 0 1 20.25 22H3.75A1.75 1.75 0 0 1 2 20.25V3.75C2 2.784 2.784 2 3.75 2ZM3.5 3.75v16.5c0 .138.112.25.25.25h16.5a.25.25 0 0 0 .25-.25V3.75a.25.25 0 0 0-.25-.25H3.75a.25.25 0 0 0-.25.25Z"/></svg> 
                  </td>
                  <td scope="row">{{ pedido.Origen}}</td>
                  <th>{{ pedido.Cod_entrega }}</th>
                  <td>{{ pedido.Fecha_ingreso }}</td>
                  <td>{{ pedido.Fecha_compromiso }}</td>
                  <td>{{ pedido.Region }}</td>
                  <td>{{ pedido.Comuna }}</td>
                  <td>{{ pedido.Descripcion }}</td>
                  <td>{{ pedido.Bultos }}</td>
                  <td>{{ pedido.Estado }}</td>
                  <td>{{ pedido.Subestado }}</td>
                  <!-- <td>{{ pedido.Verificado }}</td> -->
                  <td *ngIf="pedido.Verificado" >
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </td>
                  <td *ngIf="!pedido.Verificado" >
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
                  </td>
                  <!-- <td>{{ pedido.Recibido }}</td> -->
                  <td *ngIf="pedido.Recibido" >
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 448 512" class="svgT"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </td>
                  <td *ngIf="!pedido.Recibido" >
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" class="svgF"><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
                  </td>
                </tr>
                <tr>
                  <td colspan="8" *ngIf="isLoadingTable"><img width="50" height="50" src="../../../assets/images/loading-gif.gif" /></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <p></p>
      <button cButton (click)="enviarEntregas()" color="success"  size="sm">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 640 512">
          <path d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
        </svg>
        Crear Ruta</button>
    </div>

    
    </c-row>
  </div>
  </c-row>
  
